# <center>Bureau of Transportation Statistics Airline On-Time Performance Data Exploration - First Half</center>
## <center>by Marissa Mutare</center>

## Introduction
This project investigates the on-time performance of commercial domestic flights in the United States for the year 2006. The data that was used for the project is from the Bureau of Transportation Statistics, as compiled for the 2009 ASA Statistical Computing and Graphics Data Expo. The complete set of data, available [here](https://www.google.com/url?q=http://stat-computing.org/dataexpo/2009/the-data.html&sa=D&ust=1554484977403000), is for the period from 1987 to 2008. In this project, I used data only for 2006. The data for this project is comprised of 4 CSV files:
- `2006.csv.bz2`, 109MB compressed and 640MB uncompressed, available [here](https://dataverse.harvard.edu/api/access/datafile/:persistentId?persistentId=doi:10.7910/DVN/HG7NV7/EPIFFT),
- `airports.csv`, 238KB, available [here](https://dataverse.harvard.edu/api/access/datafile/:persistentId?persistentId=doi:10.7910/DVN/HG7NV7/XTPZZY),
- `carriers.csv`, 42.7KB, available [here](https://dataverse.harvard.edu/api/access/datafile/:persistentId?persistentId=doi:10.7910/DVN/HG7NV7/3NOQ6Q),
- `plane-data.csv`, 418KB, available [here](https://dataverse.harvard.edu/api/access/datafile/:persistentId?persistentId=doi:10.7910/DVN/HG7NV7/YZWKHN).

In [1]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
from IPython.display import display

import matplotlib.patches as mpatches
from matplotlib import rcParams

%matplotlib inline

## Preliminary Wrangling
### Data Gathering
There are 4 CSV files that hold the data for this project. One CSV file holds the data about all commercial flights in the USA for the year 2006. Another CSV file holds data about the locations of USA airports. A third CSV file holds data about the carriers/airlines in the USA. The final CSV file holds data about individual aeroplanes.

All 4 files are conveniently already hosted on Kaggle, as part of the larger complete dataset from 1987 to 2008. Therefore, I will import the 4 files I need directly from the Kaggle data source into dataframes in the notebook. I'll then display the head of each dataframe to make sure the data was loaded correctly.

In [2]:
# Loading in datasets
flights = pd.read_csv("../input/data-expo-2009-airline-on-time-data/2006.csv")
airports = pd.read_csv("../input/data-expo-2009-airline-on-time-data/airports.csv")
carriers = pd.read_csv("../input/data-expo-2009-airline-on-time-data/carriers.csv")
planes = pd.read_csv("../input/data-expo-2009-airline-on-time-data/plane-data.csv")

In [3]:
# Displaying head of each dataframe to verify that they all loaded successfully
print("\033[1mFlight Data:\033[0m")
display(flights.head())
print("\n\033[1mAirport Data:\033[0m")
display(airports.head())
print("\n\033[1mCarrier Data:\033[0m")
display(carriers.head())
print("\n\033[1mPlane Data:\033[0m")
display(planes.head())

Flight Data:

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006,1,11,3,743.0,745,1024.0,1018,US,343,...,45,13,0,NaN,0,0,0,0,0,0
1,2006,1,11,3,1053.0,1053,1313.0,1318,US,613,...,27,19,0,NaN,0,0,0,0,0,0
2,2006,1,11,3,1915.0,1915,2110.0,2133,US,617,...,4,11,0,NaN,0,0,0,0,0,0
3,2006,1,11,3,1753.0,1755,1925.0,1933,US,300,...,16,10,0,NaN,0,0,0,0,0,0
4,2006,1,11,3,824.0,832,1015.0,1015,US,765,...,27,12,0,NaN,0,0,0,0,0,0

Airport Data:

,iata,airport,city,state,country,lat,long
0,00M,Thigpen,Bay Springs,MS,USA,31.953765,-89.234505
1,00R,Livingston Municipal,Livingston,TX,USA,30.685861,-95.017928
2,00V,Meadow Lake,Colorado Springs,CO,USA,38.945749,-104.569893
3,01G,Perry-Warsaw,Perry,NY,USA,42.741347,-78.052081
4,01J,Hilliard Airpark,Hilliard,FL,USA,30.688012,-81.905944

Carrier Data:

  Code                    Description
0  02Q                  Titan Airways
1  04Q             Tradewind Aviation
2  05Q            Comlux Aviation, AG
3  06Q  Master Top Linhas Aereas Ltd.
4  07Q            Flair Airlines Ltd.

Plane Data:

,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,year
0,N050AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N051AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N052AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N054AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N055AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Data Assessment
In this subsection, I will assess the data for quality and tidiness, both visually and programmatically. I will document the full list of my observations towards the end of the subsection, below the displayed dataframes and assessment function calls.

Here, I will start by looking at the shape of the data.

In [4]:
print("\033[1mFlight Data Shape:\033[0m")
display(flights.shape)
print("\n\033[1mAirport Data Shape:\033[0m")
display(airports.shape)
print("\n\033[1mCarrier Data Shape:\033[0m")
display(carriers.shape)
print("\n\033[1mPlane Data Shape:\033[0m")
display(planes.shape)

Flight Data Shape:

(7141922, 29)

Airport Data Shape:

(3376, 7)

Carrier Data Shape:

(1491, 2)

Plane Data Shape:

(5029, 9)

The widest dataframe here is the`flights` dataframe with 29 columns. For the purposes of visual assessment, I would like to be able to view all columns without truncation. Therefore, I will now check the current setting for the maximum number of columns that will be displayed before Pandas collaspes the rest. If it is lower than 29, I will remove the limit for this notebook.

In [5]:
pd.get_option("display.max_columns")

20

In [6]:
pd.set_option("display.max_columns", None)

I can now go ahead with my inspection. For each of the 4 dataframes, I will now view the top few and bottom few rows, as part of visual assessment. I will also begin programmatic assessment, displaying the structure of each dataframe just below the dataframe itself for convenience of reference.

In [7]:
print("\033[1mFlight Data Summary: \033[0m")
display(flights)
flights.info(show_counts = True)
print("\n\033[1mAirport Data Summary: \033[0m")
display(airports)
airports.info()
print("\n\033[1mCarrier Data Summary: \033[0m")
display(carriers)
carriers.info()
print("\n\033[1mPlane Data Summary: \033[0m")
display(planes)
planes.info()

Flight Data Summary:

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006,1,11,3,743.0,745,1024.0,1018,US,343,N657AW,281.0,273.0,223.0,6.0,-2.0,ATL,PHX,1587,45,13,0,NaN,0,0,0,0,0,0
1,2006,1,11,3,1053.0,1053,1313.0,1318,US,613,N834AW,260.0,265.0,214.0,-5.0,0.0,ATL,PHX,1587,27,19,0,NaN,0,0,0,0,0,0
2,2006,1,11,3,1915.0,1915,2110.0,2133,US,617,N605AW,235.0,258.0,220.0,-23.0,0.0,ATL,PHX,1587,4,11,0,NaN,0,0,0,0,0,0
3,2006,1,11,3,1753.0,1755,1925.0,1933,US,300,N312AW,152.0,158.0,126.0,-8.0,-2.0,AUS,PHX,872,16,10,0,NaN,0,0,0,0,0,0
4,2006,1,11,3,824.0,832,1015.0,1015,US,765,N309AW,171.0,163.0,132.0,0.0,-8.0,AUS,PHX,872,27,12,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7141917,2006,12,29,5,1246.0,1249,1452.0,1459,DL,1675,N905DE,126.0,130.0,108.0,-7.0,-3.0,ATL,EWR,745,6,12,0,NaN,0,0,0,0,0,0
7141918,2006,12,29,5,1225.0,1155,2033.0,1931,DL,1676,N651DL,308.0,276.0,261.0,62.0,30.0,SEA,ATL,2182,12,35,0,NaN,0,30,0,32,0,0
7141919,2006,12,29,5,2118.0,2115,2254.0,2241,DL,1676,N143DA,96.0,86.0,60.0,13.0,3.0,ATL,MCO,403,9,27,0,NaN,0,0,0,0,0,0
7141920,2006,12,29,5,2122.0,2127,2209.0,2223,DL,1677,N904DA,107.0,116.0,81.0,-14.0,-5.0,SLC,SJC,585,5,21,0,NaN,0,0,0,0,0,0
7141921,2006,12,29,5,2042.0,2045,2213.0,2235,DL,1678,N914DN,211.0,230.0,191.0,-22.0,-3.0,CVG,SLC,1449,5,15,0,NaN,0,0,0,0,0,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7141922 entries, 0 to 7141921
Data columns (total 29 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Year               7141922 non-null  int64
 1   Month              7141922 non-null  int64
 2   DayofMonth         7141922 non-null  int64
 3   DayOfWeek          7141922 non-null  int64
 4   DepTime            7019988 non-null  float64
 5   CRSDepTime         7141922 non-null  int64
 6   ArrTime            7003802 non-null  float64
 7   CRSArrTime         7141922 non-null  int64
 8   UniqueCarrier      7141922 non-null  object
 9   FlightNum          7141922 non-null  int64
 10  TailNum            7141922 non-null  object
 11  ActualElapsedTime  7003802 non-null  float64
 12  CRSElapsedTime     7141918 non-null  float64
 13  AirTime            7003802 non-null  float64
 14  ArrDelay           7003802 non-null  float64
 15  DepDelay           7019988 non-null  float64
 16  Origin             7141922 non-null  object
 17  Dest               7141922 non-null  object
 18  Distance           7141922 non-null  int64
 19  TaxiIn             7141922 non-null  int64
 20  TaxiOut            7141922 non-null  int64
 21  Cancelled          7141922 non-null  int64
 22  CancellationCode   121934 non-null   object
 23  Diverted           7141922 non-null  int64
 24  CarrierDelay       7141922 non-null  int64
 25  WeatherDelay       7141922 non-null  int64
 26  NASDelay           7141922 non-null  int64
 27  SecurityDelay      7141922 non-null  int64
 28  LateAircraftDelay  7141922 non-null  int64
dtypes: float64(7), int64(17), object(5)
memory usage: 1.5+ GB

Airport Data Summary:

,iata,airport,city,state,country,lat,long
0,00M,Thigpen,Bay Springs,MS,USA,31.953765,-89.234505
1,00R,Livingston Municipal,Livingston,TX,USA,30.685861,-95.017928
2,00V,Meadow Lake,Colorado Springs,CO,USA,38.945749,-104.569893
3,01G,Perry-Warsaw,Perry,NY,USA,42.741347,-78.052081
4,01J,Hilliard Airpark,Hilliard,FL,USA,30.688012,-81.905944
...,...,...,...,...,...,...,...
3371,ZEF,Elkin Municipal,Elkin,NC,USA,36.280024,-80.786069
3372,ZER,Schuylkill Cty/Joe Zerbey,Pottsville,PA,USA,40.706449,-76.373147
3373,ZPH,Zephyrhills Municipal,Zephyrhills,FL,USA,28.228065,-82.155916
3374,ZUN,Black Rock,Zuni,NM,USA,35.083227,-108.791777
3375,ZZV,Zanesville Municipal,Zanesville,OH,USA,39.944458,-81.892105

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3376 entries, 0 to 3375
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   iata     3376 non-null   object
 1   airport  3376 non-null   object
 2   city     3364 non-null   object
 3   state    3364 non-null   object
 4   country  3376 non-null   object
 5   lat      3376 non-null   float64
 6   long     3376 non-null   float64
dtypes: float64(2), object(5)
memory usage: 184.8+ KB

Carrier Data Summary:

        Code                    Description
0        02Q                  Titan Airways
1        04Q             Tradewind Aviation
2        05Q            Comlux Aviation, AG
3        06Q  Master Top Linhas Aereas Ltd.
4        07Q            Flair Airlines Ltd.
...      ...                            ...
1486      ZW    Air Wisconsin Airlines Corp
1487      ZX                   Air Georgian
1488  ZX (1)                     Airbc Ltd.
1489      ZY         Atlantic Gulf Airlines
1490     ZYZ           Skyway Aviation Inc.

[1491 rows x 2 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1491 entries, 0 to 1490
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Code         1490 non-null   object
 1   Description  1491 non-null   object
dtypes: object(2)
memory usage: 23.4+ KB

Plane Data Summary:

,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,year
0,N050AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,N051AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N052AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N054AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N055AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
5024,N997DL,Corporation,MCDONNELL DOUGLAS AIRCRAFT CO,03/11/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1992
5025,N998AT,Corporation,BOEING,01/23/2003,717-200,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2002
5026,N998DL,Corporation,MCDONNELL DOUGLAS CORPORATION,04/02/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992
5027,N999CA,Foreign Corporation,CANADAIR,07/09/2008,CL-600-2B19,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1998
5028,N999DN,Corporation,MCDONNELL DOUGLAS CORPORATION,04/02/1992,MD-88,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1992

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5029 entries, 0 to 5028
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tailnum        5029 non-null   object
 1   type           4480 non-null   object
 2   manufacturer   4480 non-null   object
 3   issue_date     4480 non-null   object
 4   model          4480 non-null   object
 5   status         4480 non-null   object
 6   aircraft_type  4480 non-null   object
 7   engine_type    4480 non-null   object
 8   year           4480 non-null   object
dtypes: object(9)
memory usage: 353.7+ KB

For completeness and thoroughness, I also visually explored the CSV files directly in more depth using the Kaggle interface. I will now move forward with more programmatic assessment.

I will look at the descriptive statistics for each dataframe.

In [8]:
print("\033[1mFlight Data Descriptive Statistics:\033[0m")
display(flights.describe(include = "all"))
print("\n\033[1mAirport Data Descriptive Statistics:\033[0m")
display(airports.describe(include = "all"))
print("\n\033[1mCarrier Data Descriptive Statistics:\033[0m")
display(carriers.describe(include = "all"))
print("\n\033[1mPlane Data Descriptive Statistics:\033[0m")
display(planes.describe(include = "all"))

Flight Data Descriptive Statistics:

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,7141922.0,7.141922e+06,7.141922e+06,7.141922e+06,7.019988e+06,7.141922e+06,7.003802e+06,7.141922e+06,7141922,7.141922e+06,7141922,7.003802e+06,7.141918e+06,7.003802e+06,7.003802e+06,7.019988e+06,7141922,7141922,7.141922e+06,7.141922e+06,7.141922e+06,7.141922e+06,121934,7.141922e+06,7.141922e+06,7.141922e+06,7.141922e+06,7.141922e+06,7.141922e+06
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20,NaN,5081,NaN,NaN,NaN,NaN,NaN,289,296,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WN,NaN,0,NaN,NaN,NaN,NaN,NaN,ATL,ATL,NaN,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1099321,NaN,72705,NaN,NaN,NaN,NaN,NaN,407971,404829,NaN,NaN,NaN,NaN,55655,NaN,NaN,NaN,NaN,NaN,NaN
mean,2006.0,6.562766e+00,1.573063e+01,3.949934e+00,1.340392e+03,1.332248e+03,1.486921e+03,1.495765e+03,NaN,2.186765e+03,NaN,1.260601e+02,1.271844e+02,1.028545e+02,8.682840e+00,1.009364e+01,NaN,NaN,7.279974e+02,7.061624e+00,1.574530e+01,1.707300e-02,NaN,2.266337e-03,3.396186e+00,6.796270e-01,3.585970e+00,3.099600e-02,4.515005e+00
std,0.0,3.424931e+00,8.786689e+00,1.991913e+00,4.765090e+02,4.625505e+02,5.008019e+02,4.786718e+02,NaN,1.989384e+03,NaN,7.131959e+01,7.031540e+01,7.644314e+01,3.657647e+01,3.350125e+01,NaN,NaN,5.745307e+02,3.112340e+01,1.127117e+01,1.295435e-01,NaN,4.755208e-02,1.880046e+01,8.492678e+00,1.562795e+01,1.277919e+00,1.986008e+01
min,2006.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,NaN,1.000000e+00,NaN,5.000000e+00,-9.700000e+01,-1.425000e+03,-5.920000e+02,-1.200000e+03,NaN,NaN,1.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2006.0,4.000000e+00,8.000000e+00,2.000000e+00,9.300000e+02,9.300000e+02,1.110000e+03,1.115000e+03,NaN,5.840000e+02,NaN,7.500000e+01,7.600000e+01,5.400000e+01,-9.000000e+00,-4.000000e+00,NaN,NaN,3.160000e+02,4.000000e+00,1.000000e+01,0.000000e+00,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2006.0,7.000000e+00,1.600000e+01,4.000000e+00,1.330000e+03,1.325000e+03,1.516000e+03,1.519000e+03,NaN,1.493000e+03,NaN,1.070000e+02,1.090000e+02,8.400000e+01,-1.000000e+00,0.000000e+00,NaN,NaN,5.740000e+02,5.000000e+00,1.300000e+01,0.000000e+00,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2006.0,1.000000e+01,2.300000e+01,6.000000e+00,1.732000e+03,1.720000e+03,1.911000e+03,1.906000e+03,NaN,3.442000e+03,NaN,1.560000e+02,1.570000e+02,1.320000e+02,1.300000e+01,1.000000e+01,NaN,NaN,9.560000e+02,8.000000e+00,1.800000e+01,0.000000e+00,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
max,2006.0,1.200000e+01,3.100000e+01,7.000000e+00,2.930000e+03,2.359000e+03,2.955000e+03,2.359000e+03,NaN,9.619000e+03,NaN,1.879000e+03,1.031000e+03,1.958000e+03,1.779000e+03,1.752000e+03,NaN,NaN,4.962000e+03,1.501000e+03,6.020000e+02,1.000000e+00,NaN,1.000000e+00,1.666000e+03,1.163000e+03,1.392000e+03,3.540000e+02,1.366000e+03

Airport Data Descriptive Statistics:

        iata    airport        city state country          lat         long
count   3376       3376        3364  3364    3376  3376.000000  3376.000000
unique  3376       3245        2675    56       5          NaN          NaN
top      00M  Municipal  Greenville    AK     USA          NaN          NaN
freq       1          5          11   263    3372          NaN          NaN
mean     NaN        NaN         NaN   NaN     NaN    40.036524   -98.621205
std      NaN        NaN         NaN   NaN     NaN     8.329559    22.869458
min      NaN        NaN         NaN   NaN     NaN     7.367222  -176.646031
25%      NaN        NaN         NaN   NaN     NaN    34.688427  -108.761121
50%      NaN        NaN         NaN   NaN     NaN    39.434449   -93.599425
75%      NaN        NaN         NaN   NaN     NaN    43.372612   -84.137519
max      NaN        NaN         NaN   NaN     NaN    71.285448   145.621384

Carrier Data Descriptive Statistics:

        Code    Description
count   1490           1491
unique  1490           1491
top      02Q  Titan Airways
freq       1              1

Plane Data Descriptive Statistics:

,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,year
count,5029,4480,4480,4480,4480,4480,4480,4480,4480
unique,5029,5,39,2413,167,2,4,7,52
top,N050AA,Corporation,BOEING,12/22/1986,CL-600-2B19,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2001
freq,1,4440,2061,33,403,4479,4440,2883,389

I will check whether all airports in the `Origin` and `Dest` columns of the `flights` dataframe are present in the `airports` dataframe.

In [9]:
pd.Series(flights["Origin"].unique()).isin(airports["iata"]).value_counts()

True    289
dtype: int64

In [10]:
pd.Series(flights["Dest"].unique()).isin(airports["iata"]).value_counts()

True    296
dtype: int64

All values are True, and there are no False values. This means all airports in the `flights` dataframe are recorded in the `airports` dataframe.

I will now check whether all the carriers in the `UniqueCarrier` column of the `flights` dataframe are also in the `carriers` dataframe.

In [11]:
pd.Series(flights["UniqueCarrier"].unique()).isin(carriers["Code"]).value_counts()

True    20
dtype: int64

The values are True, and there are no False values. All carriers in the `flights` dataframe are recorded in the `carriers` dataframe.

I will now check whether all planes in the `TailNum` column of the `flights` dataframe are in the `planes` dataframe.

In [12]:
pd.Series(flights["TailNum"].unique()).isin(planes["tailnum"]).value_counts()

True     4245
False     836
dtype: int64

About 20% of the planes in the `flights` dataframe are not recorded in the `planes` dataframe. I will check how many of the flights used these planes that are not in the `planes` dataframe.

In [13]:
len(flights[~flights["TailNum"].isin(planes["tailnum"])])

1281391

These flights represent 18% of the flights in the dataframe. I will not drop them solely for the sake of one direction of inquiry and analysis of the plane variable, at the risk of lowering the quality of the analysis for the rest of the variables by reducing the amount of data used for them. I will instead revise how I conduct analysis of the individual planes and their contribution or relationship to flight delays.

The times in the `CRSDepTime` and `CRSArrTime` have the *int* data type. However, the times in the `DepTime` and `ArrTime` columns have the *float* data type. Since I will need to convert them to timestamps, I need to confirm whether all the times in the latter two columns are whole numbers, with only 0 after the decimal point.

In [14]:
(flights["DepTime"] % 1).sum()

0.0

In [15]:
(flights["ArrTime"] % 1).sum()

0.0

This is the case for both columns and is satisfactory.

For the columns `DepTime`, `CRSDepTime`, `ArrTime` and `CRSArrTime`, where times are stored as numerical values, I will now check whether the last two digits for each value, which represent the "minutes" portion of the time, are less than or equal to 59. I will do this by computing the values of the remainder after dividing by 100, and verifying that the highest of these values is 59.

In [16]:
(flights[["DepTime", "CRSDepTime", "ArrTime", "CRSArrTime"]] % 100).describe().loc[["min", "max"],]

     DepTime  CRSDepTime  ArrTime  CRSArrTime
min      0.0         0.0      0.0         0.0
max     59.0        59.0     59.0        59.0

The minimum value of the last two digits for each column is 0, and the maximum value is 59. This is satisfactory.

I will now check for duplicates in each dataframe.

In [17]:
flights.duplicated().sum()

7

In [18]:
airports.duplicated().sum()

0

In [19]:
carriers.duplicated().sum()

0

In [20]:
planes.duplicated().sum()

0

This concludes the visual and programmatic assessment section. I have documented the identified issues below.

#### Issues
`flights` dataframe
1. The `Year`, `Month` and `DayofMonth` columns are different parts of the same variable, the date.
2. The `DayOfWeek` column is not required.
3. The columns `DepTime`, `CRSDepTime`, `ArrTime`, and`CRSArrTime` have the *int* and *float* data types, which is incorrect.
4. Some of the `TailNum` values are 0 or 000000.
5. There are missing values in these columns: `DepTime`, `ArrTime`, `ActualElapsedTime`, `CRSElapsedTime`, `AirTime`, `ArrDelay`, `DepDelay` and `CancellationCode`.
6. There are negative values in the `AirTime` column.
7. There are negative values in the `CRSElapsedTime` column.
8. There are values in the `DepTime` and `ArrTime` columns that are greater than 2359.
9. The scheduled departure times are not always on the same day as the actual departure times.
10. The origin airports are often not in the same timezone as the destination airports.
11. There are outliers in the `ActualElapsedTime`, `CRSElapsedTime`, `ArrDelay`, `DepDelay`, `TaxiIn`, `TaxiOut` and `Distance` columns.
12. There are duplicate entries in the dataframe.

`airports` dataframe

13. Some of the airports in the dataframe are not in the USA.
14. Some of the airports are duplicated in the dataframe.
15. There are missing values in these columns: `city` and `state`.

`carriers` dataframe

16. There is a missing value in 1 row in the `Code` column.

`planes` dataframe

17. The `issue_date` and`year` columns have the *string* data type, which is incorrect .
18. There are missing values in all columns except the first one.

### Data Cleaning

In this section, I will be addressing the issues that I discovered in the data and documented. I will use the Define-Code-Test framework.

I start by making copies of the dataframes to work on.

In [21]:
# Copies of dataframes
flights_clean = flights.copy()
airports_clean = airports.copy()
carriers_clean = carriers.copy()
planes_clean = planes.copy()

#### Issue: There are duplicate entries in the `flights` dataframe.

##### **Define**
- Identify rows that are duplicates.
- Drop identifed rows.
- Reset dataframe index.

##### **Code**

In [22]:
# Identify rows that are duplicates.
flights_clean[flights_clean.duplicated()]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
752508,2006,2,20,1,1204.0,1157,1244.0,1240,OO,6117,N297SW,40.0,43.0,28.0,4.0,7.0,PSP,LAX,110,3,9,0,NaN,0,0,0,0,0,0
888040,2006,2,19,7,821.0,730,948.0,850,FL,768,N956AT,87.0,80.0,50.0,58.0,51.0,PHL,BOS,280,15,22,0,NaN,0,0,0,7,0,51
1039373,2006,2,24,5,913.0,919,NaN,1054,AS,152,N746AS,NaN,95.0,NaN,NaN,-6.0,ANC,OME,539,0,17,0,NaN,1,0,0,0,0,0
1462456,2006,3,22,3,835.0,800,1101.0,1040,FL,762,N993AT,146.0,160.0,132.0,21.0,35.0,FLL,PHL,992,4,10,0,NaN,0,21,0,0,0,0
2653293,2006,5,26,5,2347.0,1951,59.0,2115,FL,467,N937AT,72.0,84.0,55.0,224.0,236.0,BWI,CLT,361,8,9,0,NaN,0,224,0,0,0,0
3243628,2006,6,10,6,1405.0,1324,1532.0,1457,FL,904,N927AT,87.0,93.0,73.0,35.0,41.0,ATL,PHF,508,2,12,0,NaN,0,35,0,0,0,0
5070842,2006,9,12,2,2125.0,2130,2241.0,2250,F9,589,N949FR,76.0,80.0,64.0,-9.0,-5.0,DEN,SLC,391,3,9,0,NaN,0,0,0,0,0,0

In [23]:
flights_clean.drop(index = flights_clean[flights_clean.duplicated()].index, inplace = True)

In [24]:
flights_clean.reset_index(drop = True, inplace = True)

##### **Test**

In [25]:
flights_clean.duplicated().sum()

0

In [26]:
flights_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7141915 entries, 0 to 7141914
Data columns (total 29 columns):
 #   Column             Dtype
---  ------             -----
 0   Year               int64
 1   Month              int64
 2   DayofMonth         int64
 3   DayOfWeek          int64
 4   DepTime            float64
 5   CRSDepTime         int64
 6   ArrTime            float64
 7   CRSArrTime         int64
 8   UniqueCarrier      object
 9   FlightNum          int64
 10  TailNum            object
 11  ActualElapsedTime  float64
 12  CRSElapsedTime     float64
 13  AirTime            float64
 14  ArrDelay           float64
 15  DepDelay           float64
 16  Origin             object
 17  Dest               object
 18  Distance           int64
 19  TaxiIn             int64
 20  TaxiOut            int64
 21  Cancelled          int64
 22  CancellationCode   object
 23  Diverted           int64
 24  CarrierDelay       int64
 25  WeatherDelay       int64
 26  NASDelay           int64
 27  SecurityDelay      int64
 28  LateAircraftDelay  int64
dtypes: float64(7), int64(17), object(5)
memory usage: 1.5+ GB

#### **Issue**: There are missing values in these columns in the `flights` dataframe: `DepTime`, `ArrTime`, `ActualElapsedTime`, `CRSElapsedTime`, `AirTime`, `ArrDelay`, `DepDelay` and `CancellationCode`.

##### **Define**
- For each column, inspect sample records with missing values.
- Identify why values are missing.
- Determine whether values should be replaced, or whether entries should be dropped or left as is.
- If any values are dropped, reindex dataframe.

##### **Code**
I will inspect some of the flights for which there are missing values in the `DepTime` column.

In [27]:
flights_clean.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006,1,11,3,743.0,745,1024.0,1018,US,343,N657AW,281.0,273.0,223.0,6.0,-2.0,ATL,PHX,1587,45,13,0,NaN,0,0,0,0,0,0
1,2006,1,11,3,1053.0,1053,1313.0,1318,US,613,N834AW,260.0,265.0,214.0,-5.0,0.0,ATL,PHX,1587,27,19,0,NaN,0,0,0,0,0,0
2,2006,1,11,3,1915.0,1915,2110.0,2133,US,617,N605AW,235.0,258.0,220.0,-23.0,0.0,ATL,PHX,1587,4,11,0,NaN,0,0,0,0,0,0
3,2006,1,11,3,1753.0,1755,1925.0,1933,US,300,N312AW,152.0,158.0,126.0,-8.0,-2.0,AUS,PHX,872,16,10,0,NaN,0,0,0,0,0,0
4,2006,1,11,3,824.0,832,1015.0,1015,US,765,N309AW,171.0,163.0,132.0,0.0,-8.0,AUS,PHX,872,27,12,0,NaN,0,0,0,0,0,0

In [28]:
flights_clean[flights_clean["DepTime"].isnull()].sample(15)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
5159182,2006,9,15,5,NaN,1805,NaN,2003,NW,663,N603NW,NaN,118.0,NaN,NaN,NaN,EWR,DTW,487,0,0,1,A,0,0,0,0,0,0
4988048,2006,9,26,2,NaN,750,NaN,1534,UA,946,000000,NaN,284.0,NaN,NaN,NaN,LAX,IAD,2288,0,0,1,A,0,0,0,0,0,0
6691284,2006,12,20,3,NaN,1320,NaN,1417,OH,5397,0,NaN,177.0,NaN,NaN,NaN,CVG,COS,1078,0,0,1,B,0,0,0,0,0,0
267430,2006,1,19,4,NaN,1400,NaN,1517,UA,1209,000000,NaN,137.0,NaN,NaN,NaN,STL,DEN,770,0,0,1,A,0,0,0,0,0,0
6778242,2006,12,28,4,NaN,1656,NaN,1829,UA,910,000000,NaN,93.0,NaN,NaN,NaN,ORD,MCI,403,0,0,1,B,0,0,0,0,0,0
3065180,2006,6,27,2,NaN,1500,NaN,1706,OH,5016,N340CA,NaN,126.0,NaN,NaN,NaN,CVG,PVD,722,0,0,1,A,0,0,0,0,0,0
7091154,2006,12,20,3,NaN,1115,NaN,1701,CO,1029,0,NaN,226.0,NaN,NaN,NaN,DEN,EWR,1605,0,0,1,B,0,0,0,0,0,0
5151832,2006,9,30,6,NaN,920,NaN,1037,NW,349,N1308T,NaN,77.0,NaN,NaN,NaN,MEM,MSY,349,0,0,1,A,0,0,0,0,0,0
6895520,2006,12,17,7,NaN,1403,NaN,1440,HA,346,0,NaN,37.0,NaN,NaN,NaN,HNL,OGG,100,0,0,1,A,0,0,0,0,0,0
5063106,2006,9,13,3,NaN,1750,NaN,1956,EV,4700,N977EV,NaN,126.0,NaN,NaN,NaN,ATL,ROC,749,0,0,1,A,0,0,0,0,0,0
5665387,2006,10,20,5,NaN,1715,NaN,1859,EV,4799,N723EV,NaN,104.0,NaN,NaN,NaN,ATL,PIT,526,0,0,1,C,0,0,0,0,0,0
5146173,2006,9,30,6,NaN,700,NaN,812,NW,138,N601NW,NaN,72.0,NaN,NaN,NaN,MSP,ORD,334,0,0,1,A,0,0,0,0,0,0
5665440,2006,10,16,1,NaN,1320,NaN,1335,EV,4800,N851AS,NaN,75.0,NaN,NaN,NaN,ATL,MOB,302,0,0,1,C,0,0,0,0,0,0
4334254,2006,8,25,5,NaN,2059,NaN,2100,OO,5945,0,NaN,61.0,NaN,NaN,NaN,LAN,ORD,179,0,0,1,C,0,0,0,0,0,0
1105979,2006,2,22,3,NaN,1856,NaN,2010,DL,1568,N237WA,NaN,134.0,NaN,NaN,NaN,ATL,MCI,692,0,0,1,B,0,0,0,0,0,0

One thing all the rows above in common have is a value of 1 in the `Cancelled` column. I will now verify whether all missing departure time values correspond to cancelled flights only.

In [29]:
flights_clean[flights_clean["DepTime"].isnull()]["Cancelled"].value_counts()

1    121934
Name: Cancelled, dtype: int64

This is the case. None of the rows with missing departure times will need to be cleaned, as some analysis will be conducted for these rows. I will now confirm whether this is the total number of all cancelled flights.

In [30]:
flights_clean["Cancelled"].value_counts()

0    7019981
1     121934
Name: Cancelled, dtype: int64

This is the case. There aren't any cancelled flights that incorrectly have a departure time recorded.

I will now turn to the missing values in the `ArrTime` column. Some of the missing arrival times could be explained by there being cancelled flights as I found above. However, there are more missing values in the arrival time column than there are missing values in the departure time column. I will inspect a sample of rows that have these missing arrival time values but do not have missing departure time values.

In [31]:
flights_clean[(flights_clean["ArrTime"].isnull()) & (flights_clean["DepTime"].notnull())].sample(15)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
2639701,2006,5,5,5,2159.0,2105,NaN,2245,FL,173,N272AT,NaN,100.0,NaN,NaN,54.0,ATL,RSW,515,0,14,0,NaN,1,0,0,0,0,0
5305888,2006,9,6,3,1343.0,1325,NaN,1517,DL,1642,N6715C,NaN,112.0,NaN,NaN,18.0,ATL,MIA,595,0,14,0,NaN,1,0,0,0,0,0
3299968,2006,6,2,5,1443.0,1402,NaN,1549,MQ,4460,N645AE,NaN,107.0,NaN,NaN,41.0,MEM,ORD,491,0,27,0,NaN,1,0,0,0,0,0
280637,2006,1,4,3,811.0,700,NaN,819,US,515,N300AU,NaN,79.0,NaN,NaN,71.0,CMH,CLT,346,0,10,0,NaN,1,0,0,0,0,0
4053264,2006,7,21,5,147.0,100,NaN,850,B6,200,N634JB,NaN,290.0,NaN,NaN,47.0,LAS,JFK,2248,0,16,0,NaN,1,0,0,0,0,0
4365381,2006,8,29,2,1215.0,1219,NaN,1749,UA,558,N810UA,NaN,210.0,NaN,NaN,-4.0,DEN,PHL,1557,0,11,0,NaN,1,0,0,0,0,0
1053948,2006,2,19,7,1112.0,630,NaN,805,CO,401,N16632,NaN,155.0,NaN,NaN,282.0,IND,IAH,845,0,16,0,NaN,1,0,0,0,0,0
6879254,2006,12,13,3,1534.0,1512,NaN,1708,FL,70,N915AT,NaN,116.0,NaN,NaN,22.0,ATL,PHL,665,0,12,0,NaN,1,0,0,0,0,0
3422824,2006,6,24,6,1728.0,1542,NaN,1630,AS,66,N754AS,NaN,48.0,NaN,NaN,106.0,ANC,CDV,160,0,13,0,NaN,1,0,0,0,0,0
1689633,2006,3,10,5,1425.0,1430,NaN,1644,DL,1718,N905DL,NaN,134.0,NaN,NaN,-5.0,ATL,LGA,761,0,25,0,NaN,1,0,0,0,0,0
3447441,2006,6,17,6,1158.0,1200,NaN,1340,CO,291,N14704,NaN,160.0,NaN,NaN,-2.0,MIA,IAH,964,0,16,0,NaN,1,0,0,0,0,0
3398355,2006,6,24,6,821.0,818,NaN,1112,AA,1970,N5DPAA,NaN,174.0,NaN,NaN,3.0,MIA,EWR,1086,0,11,0,NaN,1,0,0,0,0,0
5235466,2006,9,11,1,1724.0,1630,NaN,1747,AA,1945,N7AXAA,NaN,137.0,NaN,NaN,54.0,MIA,DFW,1121,0,8,0,NaN,1,0,0,0,0,0
1465419,2006,3,27,1,1355.0,1344,NaN,1416,FL,157,N942AT,NaN,92.0,NaN,NaN,11.0,ATL,MSY,425,0,10,0,NaN,1,0,0,0,0,0
785992,2006,2,1,3,1842.0,1850,NaN,2020,XE,2219,N16981,NaN,150.0,NaN,NaN,-8.0,TYS,IAH,772,0,31,0,NaN,1,0,0,0,0,0

A commonality for all the sample rows above is that they have a value of 1 in the `Diverted` column. I will now verify whether all missing arrival times, where departure times are present, correspond only to diverted flights.

In [32]:
flights_clean[(flights_clean["ArrTime"].isnull()) & (flights_clean["DepTime"].notnull())]["Diverted"].value_counts()

1    16185
Name: Diverted, dtype: int64

This is the case. Thus, none of the missing values in the departure time column will need to be cleaned, as some analysis will be conducted for these rows. I will now check whether this is the total number of all diverted flights.

In [33]:
flights_clean["Diverted"].value_counts()

0    7125730
1      16185
Name: Diverted, dtype: int64

This is the case. There aren't any diverted flights that erroneously have arrival times recorded.

I will now confirm that all missing values for the `ActualElapsedTime` column correspond only to flights that were either cancelled or diverted.

In [34]:
flights_clean[flights_clean["ActualElapsedTime"].isnull()][["Cancelled", "Diverted"]].value_counts()

Cancelled  Diverted
1          0           121934
0          1            16185
dtype: int64

These values are equal to the total values for cancelled and diverted flights, so this is satisfactory.

There are 4 flights for which there missing values for the expected flight length, in the `CRSElapsedTime` column. I will now inspect these rows.

In [35]:
flights_clean[flights_clean["CRSElapsedTime"].isnull()]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4898102,2006,9,28,4,NaN,0,NaN,0,YV,2729,N27318,NaN,NaN,NaN,NaN,NaN,LAS,SBA,288,0,0,1,C,0,0,0,0,0,0
4898429,2006,9,28,4,NaN,0,NaN,0,YV,2738,N27318,NaN,NaN,NaN,NaN,NaN,SBA,LAS,288,0,0,1,C,0,0,0,0,0,0
4898976,2006,9,29,5,NaN,0,NaN,0,YV,2729,N27318,NaN,NaN,NaN,NaN,NaN,LAS,SBA,288,0,0,1,C,0,0,0,0,0,0
4899303,2006,9,29,5,NaN,0,NaN,0,YV,2738,N27318,NaN,NaN,NaN,NaN,NaN,SBA,LAS,288,0,0,1,C,0,0,0,0,0,0

These flights are all flights that were cancelled. However, they differ from the other cancelled flights we viewed above in that they do not have a scheduled departure time. In fact, for all 4 of these flights, the only other recorded information is the date, carrier, flight number, tail number, origin and destination airports, and the distance of the flight. These rows likely need to be dropped from the dataframe. I will now confirm whether these 4 rows are the only instances where the value of the scheduled departure time is 0.

In [36]:
len(flights_clean[flights_clean["CRSDepTime"] == 0])

4

This is the case. For completeness, I will also now verify that these are the only rows for which the value of the scheduled arrival time is 0.

In [37]:
len(flights_clean[flights_clean["CRSArrTime"] == 0])

5

There seems to be one more row with a scheduled arrival time of 0. I will inspect all 5 rows.

In [38]:
flights_clean[flights_clean["CRSArrTime"] == 0]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4898102,2006,9,28,4,NaN,0,NaN,0,YV,2729,N27318,NaN,NaN,NaN,NaN,NaN,LAS,SBA,288,0,0,1,C,0,0,0,0,0,0
4898429,2006,9,28,4,NaN,0,NaN,0,YV,2738,N27318,NaN,NaN,NaN,NaN,NaN,SBA,LAS,288,0,0,1,C,0,0,0,0,0,0
4898976,2006,9,29,5,NaN,0,NaN,0,YV,2729,N27318,NaN,NaN,NaN,NaN,NaN,LAS,SBA,288,0,0,1,C,0,0,0,0,0,0
4899303,2006,9,29,5,NaN,0,NaN,0,YV,2738,N27318,NaN,NaN,NaN,NaN,NaN,SBA,LAS,288,0,0,1,C,0,0,0,0,0,0
6892672,2006,12,17,7,2233.0,2315,2334.0,0,HA,26,N589HA,61.0,45.0,32.0,-26.0,-42.0,PDX,SEA,129,20,9,0,NaN,0,0,0,0,0,0

The arrival time for the bottom row shows as 23:34, and the arrival delay recorded is -26. This means the scheduled arrival time for the flight was midnight. Due to the misrepresentation of the departure and arrival times in the dataframe as integers, 00:00 for midnight would show as the integer 0, but the value is valid and correct. Therefore, the 5th row does not to be dropped with the other 4.

In [39]:
# CODE HERE TO DROP ROWS
flights_clean.drop(flights_clean[flights_clean["CRSElapsedTime"].isnull()].index, axis = "index", inplace = True)

In [40]:
flights_clean.reset_index(drop = True, inplace = True)

The total number of cancelled flights will now be lower by 4.

I will now confirm that all missing values for the `AirTime` and `ArrDelay` columns correspond only to flights that were either cancelled or diverted.

In [41]:
flights_clean[flights_clean["AirTime"].isnull()][["Cancelled", "Diverted"]].value_counts()

Cancelled  Diverted
1          0           121930
0          1            16185
dtype: int64

In [42]:
flights_clean[flights_clean["ArrDelay"].isnull()][["Cancelled", "Diverted"]].value_counts()

Cancelled  Diverted
1          0           121930
0          1            16185
dtype: int64

These values are equal to the total values for cancelled and diverted flights, so this is satisfactory.

I will now confirm that all missing values for the `DepDelay` column correspond only to flights that were cancelled.

In [43]:
flights_clean[flights_clean["DepDelay"].isnull()]["Cancelled"].value_counts()

1    121930
Name: Cancelled, dtype: int64

This value is equal to the total value for cancelled flights, so this is satisfactory.

Null values are expected in the `CancellationCode` column, since there are flights that were not cancelled. So the null values are not an error and do not need to be cleaned. I will verify that the number of values in this column is the same as the number of cancelled flights.

In [44]:
flights_clean["CancellationCode"].notnull().value_counts()

False    7019981
True      121930
Name: CancellationCode, dtype: int64

This is satisfactory.

##### **Test**

In [45]:
flights_clean.info(show_counts = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7141911 entries, 0 to 7141910
Data columns (total 29 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   Year               7141911 non-null  int64
 1   Month              7141911 non-null  int64
 2   DayofMonth         7141911 non-null  int64
 3   DayOfWeek          7141911 non-null  int64
 4   DepTime            7019981 non-null  float64
 5   CRSDepTime         7141911 non-null  int64
 6   ArrTime            7003796 non-null  float64
 7   CRSArrTime         7141911 non-null  int64
 8   UniqueCarrier      7141911 non-null  object
 9   FlightNum          7141911 non-null  int64
 10  TailNum            7141911 non-null  object
 11  ActualElapsedTime  7003796 non-null  float64
 12  CRSElapsedTime     7141911 non-null  float64
 13  AirTime            7003796 non-null  float64
 14  ArrDelay           7003796 non-null  float64
 15  DepDelay           7019981 non-null  float64
 16  Origin             7141911 non-null  object
 17  Dest               7141911 non-null  object
 18  Distance           7141911 non-null  int64
 19  TaxiIn             7141911 non-null  int64
 20  TaxiOut            7141911 non-null  int64
 21  Cancelled          7141911 non-null  int64
 22  CancellationCode   121930 non-null   object
 23  Diverted           7141911 non-null  int64
 24  CarrierDelay       7141911 non-null  int64
 25  WeatherDelay       7141911 non-null  int64
 26  NASDelay           7141911 non-null  int64
 27  SecurityDelay      7141911 non-null  int64
 28  LateAircraftDelay  7141911 non-null  int64
dtypes: float64(7), int64(17), object(5)
memory usage: 1.5+ GB

#### **Issue**: The `Year`, `Month` and `DayofMonth` columns are different parts of the same variable, the date.
To adhere to the principles of data tidiness, the date variable needs to be stored in only one column. This would involve appropriately concatenating the values in the 3 different columns and storing the result in a new column. The result from this operation, though, would not be in the correct format or have the correct data type. However, since this concatenation is an intermediary step when addressing the next issue with my data, for efficiency, this issue will be fixed in the next subsection, to avoid storing an incompletely processed form of the date.

#### **Issue**: The columns `DepTime`, `CRSDepTime`, `ArrTime`, and`CRSArrTime` have the *int* and *float* data types, which is incorrect.
The values in these columns are not numerical data, but times, and therefore shold be stored as such. The timestamp is the most appropriate data type for storing the dates from the columns mentioned in the previous subsection and the times in the columns mentioned in this subsection, combined. Therefore, for each of these 4 columns, the values that make up the date need to be concatenated with the values that make up the time.

##### **Define**
- Identify subset of rows where conversion of data types will not throw errors and will produce a valid result.
- Convert values of year, month, day and time values for each column into strings.
- Concatenate strings.
- Convert strings to timestamps

##### **Code**
Not all rows in the raw data have values that can be successfully converted to timestamps. Some of the rows have null values, and some of the rows hold integer values that are larger than 2359, which is the maximum value for time. Both of these issues will be addressed later elsewhere in this notebook. As such, for this subsection, I will work only with the rows that have valid values in all the columns that are being cleaned. I will make use of masks to select these subsets.

In [46]:
# Identify rows where times are not null and are not greater than 2359
DepTime_2359_mask = (flights_clean["DepTime"] < 2400) & (flights_clean["DepTime"].notnull())
DepTime_2359_mask.value_counts()

True     7018579
False     123332
Name: DepTime, dtype: int64

In [47]:
flights_clean.loc[DepTime_2359_mask, "ActualDepTime"] = pd.to_datetime(flights_clean.loc[DepTime_2359_mask, :]["Year"].apply(str) + flights_clean.loc[DepTime_2359_mask, :]["Month"].apply(str).str.zfill(2) + flights_clean.loc[DepTime_2359_mask, :]["DayofMonth"].apply(str).str.zfill(2) + flights_clean.loc[DepTime_2359_mask, :]["DepTime"].apply(int).apply(str).str.zfill(4), format = "%Y%m%d%H%M")

In [48]:
# Identify rows where times are not null and are not greater than 2359
ArrTime_2359_mask = (flights_clean["ArrTime"] < 2400) & (flights_clean["ArrTime"].notnull())
ArrTime_2359_mask.value_counts()

True     6997887
False     144024
Name: ArrTime, dtype: int64

In [49]:
flights_clean.loc[ArrTime_2359_mask, "ActualArrTime"] = pd.to_datetime(flights_clean.loc[ArrTime_2359_mask, :]["Year"].apply(str) + flights_clean.loc[ArrTime_2359_mask, :]["Month"].apply(str).str.zfill(2) + flights_clean.loc[ArrTime_2359_mask, :]["DayofMonth"].apply(str).str.zfill(2) + flights_clean.loc[ArrTime_2359_mask, :]["ArrTime"].apply(int).apply(str).str.zfill(4), format = "%Y%m%d%H%M")

For the `CRSDepTime` and `CRSArrTime` columns, there are no null values, and the values are all between 0 and 2359, inclusive of both values. Therefore, no masks are necessary for either column. The conversion can be implemented on the entire column directly.

In [50]:
flights_clean.loc[:, "SchedDepTime"] = pd.to_datetime(flights_clean["Year"].apply(str) + flights_clean["Month"].apply(str).str.zfill(2) + flights_clean["DayofMonth"].apply(str).str.zfill(2) + flights_clean["CRSDepTime"].apply(int).apply(str).str.zfill(4), format = "%Y%m%d%H%M")

In [51]:
flights_clean.loc[:, "SchedArrTime"] = pd.to_datetime(flights_clean["Year"].apply(str) + flights_clean["Month"].apply(str).str.zfill(2) + flights_clean["DayofMonth"].apply(str).str.zfill(2) + flights_clean["CRSArrTime"].apply(int).apply(str).str.zfill(4), format = "%Y%m%d%H%M")

##### **Test**

In [52]:
flights_clean[["Year", "Month", "DayofMonth", "DepTime", "CRSDepTime", "ArrTime", "CRSArrTime",
               "ActualDepTime", "SchedDepTime", "ActualArrTime", "SchedArrTime"]].sample(5)

,Year,Month,DayofMonth,DepTime,CRSDepTime,ArrTime,CRSArrTime,ActualDepTime,SchedDepTime,ActualArrTime,SchedArrTime
3249990,2006,6,19,2324.0,1955,236.0,2331,2006-06-19 23:24:00,2006-06-19 19:55:00,2006-06-19 02:36:00,2006-06-19 23:31:00
1858686,2006,4,24,NaN,835,NaN,953,NaT,2006-04-24 08:35:00,NaT,2006-04-24 09:53:00
3793980,2006,7,17,1058.0,1100,1208.0,1204,2006-07-17 10:58:00,2006-07-17 11:00:00,2006-07-17 12:08:00,2006-07-17 12:04:00
6246880,2006,11,21,800.0,800,907.0,915,2006-11-21 08:00:00,2006-11-21 08:00:00,2006-11-21 09:07:00,2006-11-21 09:15:00
2618247,2006,5,13,2045.0,2045,2148.0,2156,2006-05-13 20:45:00,2006-05-13 20:45:00,2006-05-13 21:48:00,2006-05-13 21:56:00

In [53]:
len(flights_clean[(flights_clean["SchedArrTime"] > flights_clean["SchedDepTime"]) & ((flights_clean["SchedArrTime"] - flights_clean["SchedDepTime"]) > pd.to_timedelta(18, "h"))])

0

In [54]:
len(flights_clean[(flights_clean["SchedDepTime"] > flights_clean["SchedArrTime"]) & ((flights_clean["SchedDepTime"] - flights_clean["SchedArrTime"]) > pd.to_timedelta(flights_clean["CRSElapsedTime"], unit = "m"))])

140035

#### **Issue**: The scheduled departure times are not always on the same day as the actual departure times.

##### **Define**
- Identify rows where scheduled departure time is not on the same day as actual departure time.
- For each row, either add or subtract 1 day to the timestamp, as applicable.
- Amend timestamps for scheduled arrival time column to match new date in scheduled departure column.

##### **Code**

In [55]:
DepTime_Ahead_Mask = (flights_clean["SchedDepTime"] > flights_clean["ActualDepTime"]) & \
((flights_clean["SchedDepTime"] - flights_clean["ActualDepTime"]) > pd.to_timedelta(abs(flights_clean["DepDelay"]), "m"))
DepTime_Ahead_Mask.value_counts()

False    7124705
True       17206
dtype: int64

In [56]:
flights_clean.loc[DepTime_Ahead_Mask, "SchedDepTime"] -= pd.Timedelta(days = 1)

In [57]:
DepTime_Behind_Mask = (flights_clean["ActualDepTime"] > flights_clean["SchedDepTime"]) & \
((flights_clean["ActualDepTime"] - flights_clean["SchedDepTime"]) > pd.to_timedelta(abs(flights_clean["DepDelay"]), "m"))
DepTime_Behind_Mask.value_counts()

False    7141844
True          67
dtype: int64

In [58]:
flights_clean.loc[DepTime_Behind_Mask, "SchedDepTime"] += pd.Timedelta(days = 1)

In [59]:
flights_clean["SchedArrTime"] = pd.to_datetime(flights_clean["SchedDepTime"].dt.date.astype(str)
                                               + " " + flights_clean["SchedArrTime"].dt.time.astype(str))

##### **Test**

In [60]:
flights_clean[DepTime_Ahead_Mask][["Year", "Month", "DayofMonth", "DepTime", "CRSDepTime",
                                   "ArrTime", "CRSArrTime", "ActualDepTime", "SchedDepTime",
                                   "ActualArrTime", "SchedArrTime"]].sample(8)

,Year,Month,DayofMonth,DepTime,CRSDepTime,ArrTime,CRSArrTime,ActualDepTime,SchedDepTime,ActualArrTime,SchedArrTime
4539541,2006,8,27,36.0,2200,120.0,2251,2006-08-27 00:36:00,2006-08-26 22:00:00,2006-08-27 01:20:00,2006-08-26 22:51:00
5012229,2006,9,25,44.0,2359,137.0,59,2006-09-25 00:44:00,2006-09-24 23:59:00,2006-09-25 01:37:00,2006-09-24 00:59:00
6684551,2006,12,27,10.0,2351,235.0,157,2006-12-27 00:10:00,2006-12-26 23:51:00,2006-12-27 02:35:00,2006-12-26 01:57:00
591560,2006,2,19,45.0,2300,744.0,620,2006-02-19 00:45:00,2006-02-18 23:00:00,2006-02-19 07:44:00,2006-02-18 06:20:00
3426758,2006,6,2,212.0,2225,1003.0,615,2006-06-02 02:12:00,2006-06-01 22:25:00,2006-06-02 10:03:00,2006-06-01 06:15:00
6511734,2006,11,10,48.0,2300,904.0,724,2006-11-10 00:48:00,2006-11-09 23:00:00,2006-11-10 09:04:00,2006-11-09 07:24:00
1401132,2006,3,17,9.0,2359,521.0,511,2006-03-17 00:09:00,2006-03-16 23:59:00,2006-03-17 05:21:00,2006-03-16 05:11:00
4739639,2006,8,20,11.0,2254,104.0,2359,2006-08-20 00:11:00,2006-08-19 22:54:00,2006-08-20 01:04:00,2006-08-19 23:59:00

In [61]:
flights_clean[DepTime_Behind_Mask][["Year", "Month", "DayofMonth", "DepTime", "CRSDepTime",
                                    "ArrTime", "CRSArrTime", "ActualDepTime", "SchedDepTime",
                                    "ActualArrTime", "SchedArrTime"]].sample(8)

,Year,Month,DayofMonth,DepTime,CRSDepTime,ArrTime,CRSArrTime,ActualDepTime,SchedDepTime,ActualArrTime,SchedArrTime
4670107,2006,8,29,2359.0,5,652.0,711,2006-08-29 23:59:00,2006-08-30 00:05:00,2006-08-29 06:52:00,2006-08-30 07:11:00
2119141,2006,4,18,2359.0,10,718.0,739,2006-04-18 23:59:00,2006-04-19 00:10:00,2006-04-18 07:18:00,2006-04-19 07:39:00
4667473,2006,8,23,2359.0,5,646.0,711,2006-08-23 23:59:00,2006-08-24 00:05:00,2006-08-23 06:46:00,2006-08-24 07:11:00
4029912,2006,7,20,2355.0,5,645.0,711,2006-07-20 23:55:00,2006-07-21 00:05:00,2006-07-20 06:45:00,2006-07-21 07:11:00
2219088,2006,4,13,1341.0,1415,1740.0,1725,2006-04-13 13:41:00,2006-04-13 14:15:00,2006-04-13 17:40:00,2006-04-13 17:25:00
2216196,2006,4,6,1326.0,1415,1732.0,1725,2006-04-06 13:26:00,2006-04-06 14:15:00,2006-04-06 17:32:00,2006-04-06 17:25:00
4040886,2006,7,27,2356.0,5,706.0,711,2006-07-27 23:56:00,2006-07-28 00:05:00,2006-07-27 07:06:00,2006-07-28 07:11:00
3418327,2006,6,14,2359.0,5,718.0,711,2006-06-14 23:59:00,2006-06-15 00:05:00,2006-06-14 07:18:00,2006-06-15 07:11:00

In [62]:
flights_clean[DepTime_Ahead_Mask | DepTime_Behind_Mask][["Year", "Month", "DayofMonth", "DepTime", "CRSDepTime", "ActualDepTime", "SchedDepTime"]].sample(8)

,Year,Month,DayofMonth,DepTime,CRSDepTime,ActualDepTime,SchedDepTime
4687848,2006,8,10,15.0,2040,2006-08-10 00:15:00,2006-08-09 20:40:00
604504,2006,2,19,3.0,2355,2006-02-19 00:03:00,2006-02-18 23:55:00
4058177,2006,7,25,49.0,2255,2006-07-25 00:49:00,2006-07-24 22:55:00
4558328,2006,8,31,42.0,2222,2006-08-31 00:42:00,2006-08-30 22:22:00
6755225,2006,12,21,3.0,2342,2006-12-21 00:03:00,2006-12-20 23:42:00
3038549,2006,6,11,10.0,2350,2006-06-11 00:10:00,2006-06-10 23:50:00
4345461,2006,8,21,128.0,2355,2006-08-21 01:28:00,2006-08-20 23:55:00
2159095,2006,4,8,109.0,2345,2006-04-08 01:09:00,2006-04-07 23:45:00

This is satisfactory. I move on to the next issue.

#### **Issue**: The origin airports are often not in the same timezone as the destination airports.
Only one "flight date" is recorded for each row in the original data, presumably to be valid for all time columns in the row. But for some entries this date is correct only for the departure times. For some timezone differences or flight durations, and for some combinations of the two, the date at the destination airport is not the same as the date at the origin airport. Since date and time are now stored together as timestamps, these date differences need to be reflected in some of the timestamps that have now been created in each of the columns `ActualDepTime`, `SchedDepTime`, `ActualArrTime` and `SchedArrTime`.

##### **Define**
- For each column, identify rows where the date is incorrect.
- Correct each date by adding or subtracting 1 day as necessary.

##### **Code**

In [63]:
successful_flights_mask = (flights_clean["Diverted"] == 0) & (flights_clean["Cancelled"] == 0)
successful_flights_mask.value_counts()

True     7003796
False     138115
dtype: int64

When actual departure time is on one day, and actual arrival time is on the next day.

In [64]:
# ActualDepTime
DepTime_Timezone_Mask = (flights_clean["ActualDepTime"] > flights_clean["ActualArrTime"]) & \
((flights_clean["ActualDepTime"] - flights_clean["ActualArrTime"]) > pd.to_timedelta(flights_clean["ActualElapsedTime"], unit = "m"))
DepTime_Timezone_Mask.value_counts()

False    6956951
True      184960
dtype: int64

In [65]:
flights_clean[successful_flights_mask & DepTime_Timezone_Mask].sample(5)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ActualDepTime,ActualArrTime,SchedDepTime,SchedArrTime
5583499,2006,10,7,6,2157.0,2200,550.0,603,UA,1050,N590UA,293.0,303.0,280.0,-13.0,-3.0,OGG,LAX,2486,3,10,0,NaN,0,0,0,0,0,0,2006-10-07 21:57:00,2006-10-07 05:50:00,2006-10-07 22:00:00,2006-10-07 06:03:00
1994696,2006,4,9,7,2209.0,2146,8.0,2356,UA,1402,N498UA,119.0,130.0,102.0,12.0,23.0,IAD,MCO,758,3,14,0,NaN,0,0,0,0,0,0,2006-04-09 22:09:00,2006-04-09 00:08:00,2006-04-09 21:46:00,2006-04-09 23:56:00
5151515,2006,9,16,6,2154.0,2200,506.0,516,NW,338,N508US,252.0,256.0,229.0,-10.0,-6.0,LAX,DTW,1979,8,15,0,NaN,0,0,0,0,0,0,2006-09-16 21:54:00,2006-09-16 05:06:00,2006-09-16 22:00:00,2006-09-16 05:16:00
2538070,2006,5,19,5,2056.0,2050,1.0,4,XE,2787,N13965,125.0,134.0,100.0,-3.0,6.0,IAH,ATL,689,8,17,0,NaN,0,0,0,0,0,0,2006-05-19 20:56:00,2006-05-19 00:01:00,2006-05-19 20:50:00,2006-05-19 00:04:00
1703037,2006,3,20,1,2247.0,2155,526.0,501,DL,180,N866DA,219.0,246.0,196.0,25.0,52.0,LAX,ATL,1946,7,16,0,NaN,0,25,0,0,0,0,2006-03-20 22:47:00,2006-03-20 05:26:00,2006-03-20 21:55:00,2006-03-20 05:01:00

In [66]:
flights_clean.loc[successful_flights_mask & DepTime_Timezone_Mask, "ActualArrTime"] += pd.Timedelta(days = 1)

When scheduled departure time is on one day, and scheduled arrival time is on the next day.

In [67]:
# SchedDepTime
SchedDepTime_Timezone_Mask = (flights_clean["SchedDepTime"] > flights_clean["SchedArrTime"]) & \
((flights_clean["SchedDepTime"] - flights_clean["SchedArrTime"]) > pd.to_timedelta(flights_clean["CRSElapsedTime"], unit = "m"))
SchedDepTime_Timezone_Mask.value_counts()

False    7001876
True      140035
dtype: int64

In [68]:
flights_clean[successful_flights_mask & SchedDepTime_Timezone_Mask].sample(5)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ActualDepTime,ActualArrTime,SchedDepTime,SchedArrTime
2835592,2006,5,21,7,2231.0,2235,650.0,700,B6,174,N613JB,319.0,325.0,479.0,-10.0,-4.0,SJC,JFK,2569,5,15,0,NaN,0,0,0,0,0,0,2006-05-21 22:31:00,2006-05-22 06:50:00,2006-05-21 22:35:00,2006-05-21 07:00:00
6995336,2006,12,15,5,2137.0,2130,40.0,20,AA,344,N078AA,183.0,170.0,151.0,20.0,7.0,MIA,JFK,1090,8,24,0,NaN,0,7,0,13,0,0,2006-12-15 21:37:00,2006-12-16 00:40:00,2006-12-15 21:30:00,2006-12-15 00:20:00
3432823,2006,6,17,6,2159.0,2205,32.0,35,B6,158,N569JB,153.0,150.0,131.0,-3.0,-6.0,MCO,JFK,944,3,19,0,NaN,0,0,0,0,0,0,2006-06-17 21:59:00,2006-06-18 00:32:00,2006-06-17 22:05:00,2006-06-17 00:35:00
1366986,2006,3,17,5,2335.0,2335,714.0,734,UA,224,N565UA,279.0,299.0,260.0,-20.0,0.0,SFO,IAD,2419,6,13,0,NaN,0,0,0,0,0,0,2006-03-17 23:35:00,2006-03-18 07:14:00,2006-03-17 23:35:00,2006-03-17 07:34:00
1043697,2006,2,7,2,2140.0,2145,554.0,545,B6,216,N544JB,314.0,300.0,478.0,9.0,-5.0,LGB,JFK,2465,6,10,0,NaN,0,0,0,0,0,0,2006-02-07 21:40:00,2006-02-08 05:54:00,2006-02-07 21:45:00,2006-02-07 05:45:00

In [69]:
flights_clean.loc[successful_flights_mask & SchedDepTime_Timezone_Mask, "SchedArrTime"] += pd.Timedelta(days = 1)

When actual departure time is on one day and actual arrival time is on previous day.

In [70]:
# ActualArrTime
ActualArrTime_Timezone_Mask = (flights_clean["ActualArrTime"] > flights_clean["ActualDepTime"]) & \
((flights_clean["ActualArrTime"] - flights_clean["ActualDepTime"]) > pd.to_timedelta(18, "h"))
ActualArrTime_Timezone_Mask.value_counts()

False    7141843
True          68
dtype: int64

In [71]:
flights_clean[(successful_flights_mask & ActualArrTime_Timezone_Mask)].sample(8)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ActualDepTime,ActualArrTime,SchedDepTime,SchedArrTime
6700173,2006,12,1,5,1714.0,1647,1643.0,1606,OO,5740,N213SW,29.0,19.0,17.0,37.0,27.0,YUM,IPL,58,4,8,0,NaN,0,0,0,0,0,37,2006-12-01 17:14:00,2006-12-02 16:43:00,2006-12-01 16:47:00,2006-12-02 16:06:00
6726210,2006,12,18,1,1719.0,1651,1644.0,1610,OO,5740,N586SW,25.0,19.0,15.0,34.0,28.0,YUM,IPL,58,1,9,0,NaN,0,0,0,0,0,34,2006-12-18 17:19:00,2006-12-19 16:44:00,2006-12-18 16:51:00,2006-12-19 16:10:00
6146292,2006,11,26,7,1716.0,1647,1644.0,1606,OO,5740,N284YV,28.0,19.0,17.0,38.0,29.0,YUM,IPL,58,2,9,0,NaN,0,38,0,0,0,0,2006-11-26 17:16:00,2006-11-27 16:44:00,2006-11-26 16:47:00,2006-11-27 16:06:00
6718479,2006,12,13,3,633.0,633,602.0,552,OO,5780,N218SW,29.0,19.0,17.0,10.0,0.0,YUM,IPL,58,4,8,0,NaN,0,0,0,0,0,0,2006-12-13 06:33:00,2006-12-14 06:02:00,2006-12-13 06:33:00,2006-12-14 05:52:00
6738536,2006,12,26,2,1655.0,1651,1621.0,1610,OO,5740,N291SW,26.0,19.0,16.0,11.0,4.0,YUM,IPL,58,3,7,0,NaN,0,0,0,0,0,0,2006-12-26 16:55:00,2006-12-27 16:21:00,2006-12-26 16:51:00,2006-12-27 16:10:00
3000027,2006,6,21,3,2145.0,1835,2112.0,1840,WN,390,N507,27.0,65.0,16.0,152.0,190.0,DTW,MDW,229,4,7,0,NaN,0,0,0,68,0,84,2006-06-21 21:45:00,2006-06-22 21:12:00,2006-06-21 18:35:00,2006-06-21 18:40:00
6703081,2006,12,3,7,1726.0,1647,1653.0,1606,OO,5740,N301YV,27.0,19.0,15.0,47.0,39.0,YUM,IPL,58,2,10,0,NaN,0,47,0,0,0,0,2006-12-03 17:26:00,2006-12-04 16:53:00,2006-12-03 16:47:00,2006-12-04 16:06:00
5547854,2006,10,30,1,1647.0,1647,1614.0,1606,OO,5740,N227SW,27.0,19.0,15.0,8.0,0.0,YUM,IPL,58,2,10,0,NaN,0,0,0,0,0,0,2006-10-30 16:47:00,2006-10-31 16:14:00,2006-10-30 16:47:00,2006-10-31 16:06:00

There are entries where the actual arrival time was erroneously increased by 1 day because the values for actual elapsed time are used in the calculation, and these flights were all very short. They are distinguishable from the other entries because their values in `DepTime` are bigger than the values for `ArrTime`.

In [72]:
(successful_flights_mask & ActualArrTime_Timezone_Mask & (flights_clean["DepTime"] > flights_clean["ArrTime"])).value_counts()

False    7141853
True          58
dtype: int64

I will now correct the actual arrival time dates for these entries by subtracting 1 day.

In [73]:
flights_clean.loc[successful_flights_mask & ActualArrTime_Timezone_Mask & \
 (flights_clean["DepTime"] > flights_clean["ArrTime"]), "ActualArrTime"] -= pd.Timedelta(days = 1)

I will now compute the mask afresh.

In [74]:
# ActualArrTime
ActualArrTime_Timezone_Mask = (flights_clean["ActualArrTime"] > flights_clean["ActualDepTime"]) & \
((flights_clean["ActualArrTime"] - flights_clean["ActualDepTime"]) > pd.to_timedelta(18, "h"))
ActualArrTime_Timezone_Mask.value_counts()

False    7141901
True          10
dtype: int64

I will now view all the rows since there are only 10 of them.

In [75]:
flights_clean[successful_flights_mask & ActualArrTime_Timezone_Mask]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ActualDepTime,ActualArrTime,SchedDepTime,SchedArrTime
560286,2006,1,15,7,3.0,2256,2358.0,2303,DL,1469,N903DL,55.0,67.0,42.0,55.0,67.0,ATL,PNS,272,4,9,0,NaN,0,55,0,0,0,0,2006-01-15 00:03:00,2006-01-15 23:58:00,2006-01-14 22:56:00,2006-01-14 23:03:00
2874252,2006,5,7,7,17.0,2305,2359.0,2258,DL,1130,N904DL,42.0,53.0,27.0,61.0,72.0,ATL,BHM,134,3,12,0,NaN,0,0,4,0,0,57,2006-05-07 00:17:00,2006-05-07 23:59:00,2006-05-06 23:05:00,2006-05-06 22:58:00
3498419,2006,6,25,7,10.0,2035,2350.0,2030,DL,947,N905DL,40.0,55.0,26.0,200.0,215.0,ATL,BHM,134,5,9,0,NaN,0,26,0,0,0,174,2006-06-25 00:10:00,2006-06-25 23:50:00,2006-06-24 20:35:00,2006-06-24 20:30:00
4115757,2006,7,23,7,2.0,2305,2338.0,2300,DL,1130,N903DE,36.0,55.0,24.0,38.0,57.0,ATL,BHM,134,3,9,0,NaN,0,1,0,0,0,37,2006-07-23 00:02:00,2006-07-23 23:38:00,2006-07-22 23:05:00,2006-07-22 23:00:00
4333561,2006,8,24,4,1.0,2053,2357.0,2100,OO,6953,N939SW,56.0,67.0,44.0,177.0,188.0,TVC,ORD,224,5,7,0,NaN,0,0,0,0,0,177,2006-08-24 00:01:00,2006-08-24 23:57:00,2006-08-23 20:53:00,2006-08-23 21:00:00
4722962,2006,8,8,2,9.0,2305,2350.0,2300,DL,1130,N969DL,41.0,55.0,21.0,50.0,64.0,ATL,BHM,134,6,14,0,NaN,0,0,0,0,0,50,2006-08-08 00:09:00,2006-08-08 23:50:00,2006-08-07 23:05:00,2006-08-07 23:00:00
4739629,2006,8,20,7,3.0,2305,2353.0,2300,DL,1130,N958DL,50.0,55.0,22.0,53.0,58.0,ATL,BHM,134,4,24,0,NaN,0,0,26,0,0,27,2006-08-20 00:03:00,2006-08-20 23:53:00,2006-08-19 23:05:00,2006-08-19 23:00:00
5314650,2006,9,13,3,11.0,2302,2359.0,2255,DL,794,N995DL,48.0,53.0,27.0,64.0,69.0,ATL,BHM,134,6,15,0,NaN,0,22,0,0,0,42,2006-09-13 00:11:00,2006-09-13 23:59:00,2006-09-12 23:02:00,2006-09-12 22:55:00
6498563,2006,11,1,3,2.0,2300,2348.0,2252,DL,794,N913DL,46.0,52.0,27.0,56.0,62.0,ATL,BHM,134,5,14,0,NaN,0,56,0,0,0,0,2006-11-01 00:02:00,2006-11-01 23:48:00,2006-10-31 23:00:00,2006-10-31 22:52:00
6929660,2006,12,3,7,4.0,2000,2354.0,2015,MQ,4296,N507AE,50.0,75.0,36.0,219.0,244.0,IND,ORD,177,5,9,0,NaN,0,171,0,0,0,48,2006-12-03 00:04:00,2006-12-03 23:54:00,2006-12-02 20:00:00,2006-12-02 20:15:00

The `DepTime` and `ArrTime` columns show values that meet the criteria. I will now clean the rows by subtracting 1 day from the `ActualArrTime` column.

In [76]:
flights_clean.loc[successful_flights_mask & ActualArrTime_Timezone_Mask, "ActualArrTime"] -= pd.Timedelta(days = 1)

In [77]:
# SchedArrTime
SchedArrTime_Timezone_Mask = (flights_clean["SchedArrTime"] > flights_clean["SchedDepTime"]) & \
((flights_clean["SchedArrTime"] - flights_clean["SchedDepTime"]) > pd.to_timedelta(18, "h"))
SchedArrTime_Timezone_Mask.value_counts()

False    7141798
True         113
dtype: int64

In [78]:
flights_clean[successful_flights_mask & SchedArrTime_Timezone_Mask].sample(8)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ActualDepTime,ActualArrTime,SchedDepTime,SchedArrTime
6112301,2006,11,3,5,1713.0,1647,1646.0,1606,OO,5740,N235SW,33.0,19.0,17.0,40.0,26.0,YUM,IPL,58,3,13,0,NaN,0,40,0,0,0,0,2006-11-03 17:13:00,2006-11-03 16:46:00,2006-11-03 16:47:00,2006-11-04 16:06:00
6127262,2006,11,13,1,1636.0,1647,1608.0,1606,OO,5740,N564SW,32.0,19.0,17.0,2.0,-11.0,YUM,IPL,58,5,10,0,NaN,0,0,0,0,0,0,2006-11-13 16:36:00,2006-11-13 16:08:00,2006-11-13 16:47:00,2006-11-14 16:06:00
6704683,2006,12,4,1,627.0,633,605.0,552,OO,5780,N220SW,38.0,19.0,15.0,13.0,-6.0,YUM,IPL,58,5,18,0,NaN,0,0,0,0,0,0,2006-12-04 06:27:00,2006-12-04 06:05:00,2006-12-04 06:33:00,2006-12-05 05:52:00
5547854,2006,10,30,1,1647.0,1647,1614.0,1606,OO,5740,N227SW,27.0,19.0,15.0,8.0,0.0,YUM,IPL,58,2,10,0,NaN,0,0,0,0,0,0,2006-10-30 16:47:00,2006-10-30 16:14:00,2006-10-30 16:47:00,2006-10-31 16:06:00
6140972,2006,11,22,3,626.0,633,600.0,552,OO,5780,N568SW,34.0,19.0,17.0,8.0,-7.0,YUM,IPL,58,5,12,0,NaN,0,0,0,0,0,0,2006-11-22 06:26:00,2006-11-22 06:00:00,2006-11-22 06:33:00,2006-11-23 05:52:00
6143540,2006,11,24,5,633.0,633,602.0,552,OO,5780,N579SW,29.0,19.0,15.0,10.0,0.0,YUM,IPL,58,4,10,0,NaN,0,0,0,0,0,0,2006-11-24 06:33:00,2006-11-24 06:02:00,2006-11-24 06:33:00,2006-11-25 05:52:00
6716870,2006,12,12,2,1728.0,1647,1656.0,1606,OO,5740,N585SW,28.0,19.0,16.0,50.0,41.0,YUM,IPL,58,3,9,0,NaN,0,0,0,0,0,50,2006-12-12 17:28:00,2006-12-12 16:56:00,2006-12-12 16:47:00,2006-12-13 16:06:00
6709296,2006,12,7,4,1720.0,1647,1651.0,1606,OO,5740,N585SW,31.0,19.0,15.0,45.0,33.0,YUM,IPL,58,4,12,0,NaN,0,0,0,0,0,45,2006-12-07 17:20:00,2006-12-07 16:51:00,2006-12-07 16:47:00,2006-12-08 16:06:00

In [79]:
(successful_flights_mask & SchedArrTime_Timezone_Mask & (flights_clean["CRSDepTime"] < flights_clean["CRSArrTime"])).value_counts()

False    7141911
dtype: int64

There aren't any flights for which the scheduled arrival time is on the previous day from the scheduled departure time. This means, for all 113 rows from the mask above, the scheduled arrival times need to be corrected by subtracting 1 day from each one.

In [80]:
flights_clean.loc[successful_flights_mask & SchedArrTime_Timezone_Mask & \
              (flights_clean["CRSDepTime"] > flights_clean["CRSArrTime"]), "SchedArrTime"] -= pd.Timedelta(days = 1)

I will now compute the mask afresh, and check whether any values that satisfy the criteroa are still present in the dataframe.

In [81]:
SchedArrTime_Timezone_Mask = (flights_clean["SchedArrTime"] > flights_clean["SchedDepTime"]) & \
((flights_clean["SchedArrTime"] - flights_clean["SchedDepTime"]) > pd.to_timedelta(18, "h"))
SchedArrTime_Timezone_Mask.value_counts()

False    7141911
dtype: int64

This is satisfactory, and concludes the coding for this section. I move on to the testing.

##### **Test**

In [82]:
# ActualDepTime
flights_clean[successful_flights_mask & DepTime_Timezone_Mask][["Year", "Month", "DayofMonth", "DepTime", "ArrTime", \
                                                                "ActualElapsedTime", "ActualDepTime", "ActualArrTime"]].sample(10)

,Year,Month,DayofMonth,DepTime,ArrTime,ActualElapsedTime,ActualDepTime,ActualArrTime
5193104,2006,9,28,1746.0,612.0,446.0,2006-09-28 17:46:00,2006-09-29 06:12:00
4071455,2006,7,23,2346.0,40.0,114.0,2006-07-23 23:46:00,2006-07-24 00:40:00
3291747,2006,6,1,2227.0,130.0,123.0,2006-06-01 22:27:00,2006-06-02 01:30:00
5081443,2006,9,10,2308.0,36.0,88.0,2006-09-10 23:08:00,2006-09-11 00:36:00
6942941,2006,12,23,2340.0,642.0,302.0,2006-12-23 23:40:00,2006-12-24 06:42:00
2206365,2006,4,16,2310.0,118.0,128.0,2006-04-16 23:10:00,2006-04-17 01:18:00
1100835,2006,2,19,2157.0,434.0,217.0,2006-02-19 21:57:00,2006-02-20 04:34:00
1961509,2006,4,8,2159.0,844.0,405.0,2006-04-08 21:59:00,2006-04-09 08:44:00
2558281,2006,5,12,2146.0,29.0,343.0,2006-05-12 21:46:00,2006-05-13 00:29:00
2001146,2006,4,3,1913.0,25.0,192.0,2006-04-03 19:13:00,2006-04-04 00:25:00

In [83]:
# SchedDepTime
flights_clean[successful_flights_mask & SchedDepTime_Timezone_Mask][["Year", "Month", "DayofMonth", "CRSDepTime", "CRSArrTime", \
                                                                     "CRSElapsedTime", "SchedDepTime", "SchedArrTime"]].sample(10)

,Year,Month,DayofMonth,CRSDepTime,CRSArrTime,CRSElapsedTime,SchedDepTime,SchedArrTime
5871822,2006,10,8,2135,5,330.0,2006-10-08 21:35:00,2006-10-09 00:05:00
5306025,2006,9,6,2230,609,279.0,2006-09-06 22:30:00,2006-09-07 06:09:00
6754014,2006,12,18,2320,736,316.0,2006-12-18 23:20:00,2006-12-19 07:36:00
2557245,2006,5,24,2230,8,98.0,2006-05-24 22:30:00,2006-05-25 00:08:00
1518243,2006,3,5,2215,554,339.0,2006-03-05 22:15:00,2006-03-06 05:54:00
4657204,2006,8,13,2149,645,356.0,2006-08-13 21:49:00,2006-08-14 06:45:00
3161480,2006,6,20,2225,618,293.0,2006-06-20 22:25:00,2006-06-21 06:18:00
4961141,2006,9,7,2245,657,312.0,2006-09-07 22:45:00,2006-09-08 06:57:00
2279761,2006,4,11,2201,5,124.0,2006-04-11 22:01:00,2006-04-12 00:05:00
436560,2006,1,12,2330,741,311.0,2006-01-12 23:30:00,2006-01-13 07:41:00

In [84]:
# ActualArrTime
flights_clean[(successful_flights_mask & ActualArrTime_Timezone_Mask)][["Year", "Month", "DayofMonth", "DepTime", "ArrTime", \
                                                                        "ActualElapsedTime", "ActualDepTime", "ActualArrTime"]]

,Year,Month,DayofMonth,DepTime,ArrTime,ActualElapsedTime,ActualDepTime,ActualArrTime
560286,2006,1,15,3.0,2358.0,55.0,2006-01-15 00:03:00,2006-01-14 23:58:00
2874252,2006,5,7,17.0,2359.0,42.0,2006-05-07 00:17:00,2006-05-06 23:59:00
3498419,2006,6,25,10.0,2350.0,40.0,2006-06-25 00:10:00,2006-06-24 23:50:00
4115757,2006,7,23,2.0,2338.0,36.0,2006-07-23 00:02:00,2006-07-22 23:38:00
4333561,2006,8,24,1.0,2357.0,56.0,2006-08-24 00:01:00,2006-08-23 23:57:00
4722962,2006,8,8,9.0,2350.0,41.0,2006-08-08 00:09:00,2006-08-07 23:50:00
4739629,2006,8,20,3.0,2353.0,50.0,2006-08-20 00:03:00,2006-08-19 23:53:00
5314650,2006,9,13,11.0,2359.0,48.0,2006-09-13 00:11:00,2006-09-12 23:59:00
6498563,2006,11,1,2.0,2348.0,46.0,2006-11-01 00:02:00,2006-10-31 23:48:00
6929660,2006,12,3,4.0,2354.0,50.0,2006-12-03 00:04:00,2006-12-02 23:54:00

This is satisfactory. I move on to the next issue.

#### **Issue**: There are values in the `DepTime` and `ArrTime` columns that are greater than 2359.

##### **Define**
- Identify rows where there are values greater than 2359 for each column.
- Convert each value to timestamp and add 1 day.
- Work out the necessary changes to timestamps for various combinations of values greater than 2359.
- Complete any of the changes that are still outstanding.

##### **Code**

In [85]:
# Identify rows where times are not null and are greater than 2359
DepTime_2400_mask = (flights_clean["DepTime"] > 2359) & (flights_clean["DepTime"].notnull())
DepTime_2400_mask.value_counts()

False    7140509
True        1402
Name: DepTime, dtype: int64

In [86]:
flights_clean.loc[DepTime_2400_mask, :][["DepTime"]].describe()

           DepTime
count  1402.000000
mean   2420.412981
std      44.878008
min    2400.000000
25%    2400.000000
50%    2400.000000
75%    2420.000000
max    2930.000000

In [87]:
flights_clean.loc[DepTime_2400_mask, :][["Year", "Month", "DayofMonth", "DepTime", "ActualDepTime"]].sample(10)

         Year  Month  DayofMonth  DepTime ActualDepTime
1432951  2006      3          15   2404.0           NaT
4458883  2006      8           1   2408.0           NaT
3819514  2006      7          16   2412.0           NaT
6673669  2006     12          14   2400.0           NaT
3314906  2006      6          30   2400.0           NaT
1425266  2006      3          23   2505.0           NaT
1133727  2006      3           9   2400.0           NaT
1840015  2006      4           1   2400.0           NaT
1434561  2006      3           9   2422.0           NaT
1141027  2006      3          23   2400.0           NaT

In [88]:
flights_clean.loc[DepTime_2400_mask, "ActualDepTime"] = pd.to_datetime(flights_clean.loc[DepTime_2400_mask, :]["Year"].apply(str) + flights_clean.loc[DepTime_2400_mask, :]["Month"].apply(str).str.zfill(2) + flights_clean.loc[DepTime_2400_mask, :]["DayofMonth"].apply(str).str.zfill(2) + (flights_clean.loc[DepTime_2400_mask, :]["DepTime"] - 2400).apply(int).apply(str).str.zfill(4), format = "%Y%m%d%H%M") + pd.Timedelta(days = 1)

In [89]:
# Identify rows where times are not null and are not greater than 2359
ArrTime_2400_mask = (flights_clean["ArrTime"] > 2359) & (flights_clean["ArrTime"].notnull())
ArrTime_2400_mask.value_counts()

False    7136002
True        5909
Name: ArrTime, dtype: int64

In [90]:
flights_clean.loc[ArrTime_2400_mask, :][["ArrTime"]].describe()

           ArrTime
count  5909.000000
mean   2433.577763
std      55.143135
min    2400.000000
25%    2400.000000
50%    2410.000000
75%    2440.000000
max    2955.000000

In [91]:
flights_clean.loc[ArrTime_2400_mask, :][["Year", "Month", "DayofMonth", "ArrTime", "ActualArrTime"]].sample(10)

         Year  Month  DayofMonth  ArrTime ActualArrTime
307877   2006      1           2   2409.0           NaT
4457770  2006      8          30   2424.0           NaT
3223007  2006      6          21   2455.0           NaT
3208889  2006      6          28   2403.0           NaT
5665119  2006     10          17   2605.0           NaT
2557233  2006      5          12   2400.0           NaT
2758850  2006      5           1   2400.0           NaT
3014717  2006      6          26   2400.0           NaT
310295   2006      1           2   2445.0           NaT
1430767  2006      3           9   2453.0           NaT

In [92]:
flights_clean.loc[ArrTime_2400_mask, "ActualArrTime"] = pd.to_datetime(flights_clean.loc[ArrTime_2400_mask, :]["Year"].apply(str) + flights_clean.loc[ArrTime_2400_mask, :]["Month"].apply(str).str.zfill(2) + flights_clean.loc[ArrTime_2400_mask, :]["DayofMonth"].apply(str).str.zfill(2) + (flights_clean.loc[ArrTime_2400_mask, :]["ArrTime"] - 2400).apply(int).apply(str).str.zfill(4), format = "%Y%m%d%H%M") + pd.Timedelta(days = 1)

There are varying combinations of `DepTime` and `ArrTime` where at least one of them is greater than 2359. For each combination, a different approach is required to obtain the corresponding values for the dates in the `ActualDepTime` and `ActualArrTime` timestamp columns.

Where `DepTime` > 2359 and `ArrTime` > 2359:
- the date for `ActualDepTime` is the date in `Year`-`Month`-`Day` plus 1 day.
- the date for `ActualArrTime` is the date in `Year`-`Month`-`Day` plus 1 day.

Both of these have already been completed by adding one day during the conversions from *int* to *Timestamp* above.

Where `DepTime` > 2359 and `ArrTime`.isnull():
- the date for `ActualDepTime` is the date in `Year`-`Month`-`Day` plus 1 day.
- there isn't a timestamp for `ActualArrTime` as these are diverted flights.

The first one has already been completed by adding one day during the conversions from *int* to *Timestamp* above. Nothing further needs to be done for the second one.

Where `DepTime` < 2400 and `ArrTime` > 2359:
- the date for `ActualDepTime` is the date in `Year`-`Month`-`Day`.
- the date for `ActualArrTime` is the date in `Year`-`Month`-`Day` plus 1 day.

The first one is already correct in the original data so nothing further needs to be done. The second one has already been completed by adding one day during the conversions from *int* to *Timestamp* above.

Where `DepTime` > 2359 and `ArrTime` < 2400 and `ActualArrTime` is before midnight:
- the date for `ActualDepTime` is the date in `Year`-`Month`-`Day` plus 1 day.
- the date for `ActualDepTime` is the date in `Year`-`Month`-`Day`.

The first one has already been completed by adding one day during the conversions from *int* to *Timestamp* above. The second one is already correct in the original data so nothing further needs to be done.

Where `DepTime` > 2359 and `ArrTime` < 2400 and`ActualArrTime` is after midnight:
- the date for `ActualDepTime` is the date in `Year`-`Month`-`Day` plus 1 day.
- the date for `ActualArrTime` is the date in `Year`-`Month`-`Day` plus 1 day.

The first one has already been completed by adding one day during the conversions from *int* to *Timestamp* above. The second one needs to be corrected manually, and I will now do that below.

In [93]:
ActualArrTime_next_day_mask = (flights_clean["DepTime"] > 2359) & ( flights_clean["ArrTime"] < 2400) & \
                              (flights_clean["ArrTime"] < 1800)
ActualArrTime_next_day_mask.value_counts()

False    7141124
True         787
dtype: int64

In [94]:
flights_clean[ActualArrTime_next_day_mask].sample(8)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ActualDepTime,ActualArrTime,SchedDepTime,SchedArrTime
5151436,2006,9,27,3,2400.0,10,744.0,734,NW,336,N523US,284.0,264.0,231.0,10.0,-10.0,LAX,DTW,1979,15,38,0,NaN,0,0,0,0,0,0,2006-09-28,2006-09-27 07:44:00,2006-09-27 00:10:00,2006-09-27 07:34:00
598528,2006,2,7,2,2400.0,2359,726.0,726,US,888,N642AW,266.0,267.0,242.0,0.0,1.0,LAS,FLL,2174,5,19,0,NaN,0,0,0,0,0,0,2006-02-08,2006-02-07 07:26:00,2006-02-07 23:59:00,2006-02-08 07:26:00
5141881,2006,9,1,5,2400.0,2240,152.0,2353,MQ,4761,N717AE,112.0,73.0,56.0,119.0,80.0,JFK,DCA,213,1,55,0,NaN,0,0,9,39,0,71,2006-09-02,2006-09-01 01:52:00,2006-09-01 22:40:00,2006-09-01 23:53:00
5542040,2006,10,26,4,2400.0,2220,51.0,2307,OO,5937,N926SW,51.0,47.0,29.0,104.0,100.0,ORD,MLI,139,4,18,0,NaN,0,0,0,0,0,104,2006-10-27,2006-10-26 00:51:00,2006-10-26 22:20:00,2006-10-26 23:07:00
1520007,2006,3,7,2,2400.0,10,511.0,523,NW,174,N362NB,191.0,193.0,164.0,-12.0,-10.0,LAS,MSN,1454,5,22,0,NaN,0,0,0,0,0,0,2006-03-08,2006-03-07 05:11:00,2006-03-07 00:10:00,2006-03-07 05:23:00
5265206,2006,9,8,5,2400.0,2359,818.0,820,B6,88,N504JB,318.0,321.0,469.0,-2.0,1.0,ONT,JFK,2430,10,19,0,NaN,0,0,0,0,0,0,2006-09-09,2006-09-08 08:18:00,2006-09-08 23:59:00,2006-09-09 08:20:00
4118838,2006,7,25,2,2400.0,2240,828.0,704,DL,1496,N620DL,328.0,324.0,304.0,84.0,80.0,SFO,JFK,2586,15,9,0,NaN,0,80,0,4,0,0,2006-07-26,2006-07-25 08:28:00,2006-07-25 22:40:00,2006-07-26 07:04:00
2350270,2006,5,5,5,2400.0,2135,38.0,2230,WN,1506,N793,38.0,55.0,30.0,128.0,145.0,MCO,RSW,133,3,5,0,NaN,0,0,0,0,0,128,2006-05-06,2006-05-05 00:38:00,2006-05-05 21:35:00,2006-05-05 22:30:00

In [95]:
flights_clean.loc[ActualArrTime_next_day_mask, "ActualArrTime"] += pd.Timedelta(days = 1)

##### **Test**

In [96]:
flights_clean[(flights_clean["DepTime"] > 2359) & \
              (flights_clean["ArrTime"] > 2359)][["Year", "Month", "DayofMonth", "DepTime", "ArrTime", \
                                                  "ActualDepTime", "ActualArrTime"]].sample(10)

,Year,Month,DayofMonth,DepTime,ArrTime,ActualDepTime,ActualArrTime
2628360,2006,5,29,2411.0,2408.0,2006-05-30 00:11:00,2006-05-30 00:08:00
4448398,2006,8,10,2415.0,2458.0,2006-08-11 00:15:00,2006-08-11 00:58:00
3220096,2006,6,23,2412.0,2549.0,2006-06-24 00:12:00,2006-06-24 01:49:00
1441429,2006,3,9,2400.0,2518.0,2006-03-10 00:00:00,2006-03-10 01:18:00
2029986,2006,4,3,2400.0,2453.0,2006-04-04 00:00:00,2006-04-04 00:53:00
5046756,2006,9,17,2420.0,2405.0,2006-09-18 00:20:00,2006-09-18 00:05:00
5653144,2006,10,16,2640.0,2635.0,2006-10-17 02:40:00,2006-10-17 02:35:00
3217849,2006,6,26,2406.0,2553.0,2006-06-27 00:06:00,2006-06-27 01:53:00
3211431,2006,6,2,2445.0,2605.0,2006-06-03 00:45:00,2006-06-03 02:05:00
2016340,2006,4,19,2419.0,2418.0,2006-04-20 00:19:00,2006-04-20 00:18:00

In [97]:
flights_clean[(flights_clean["DepTime"] > 2359) & \
              (flights_clean["ArrTime"].isnull())][["Year", "Month", "DayofMonth", "DepTime", \
                                                    "ArrTime", "ActualDepTime", "ActualArrTime"]]

         Year  Month  DayofMonth  DepTime  ArrTime ActualDepTime ActualArrTime
137784   2006      1          22   2400.0      NaN    2006-01-23           NaT
1140741  2006      3          22   2400.0      NaN    2006-03-23           NaT

In [98]:
flights_clean[(flights_clean["DepTime"] < 2400) & \
              (flights_clean["ArrTime"] > 2359)][["Year", "Month", "DayofMonth", "DepTime", "ArrTime", \
                                                  "ActualDepTime", "ActualArrTime"]].sample(10)

,Year,Month,DayofMonth,DepTime,ArrTime,ActualDepTime,ActualArrTime
2037051,2006,4,28,2242.0,2402.0,2006-04-28 22:42:00,2006-04-29 00:02:00
5950935,2006,10,19,2330.0,2424.0,2006-10-19 23:30:00,2006-10-20 00:24:00
297946,2006,1,13,2300.0,2402.0,2006-01-13 23:00:00,2006-01-14 00:02:00
4445611,2006,8,10,2020.0,2421.0,2006-08-10 20:20:00,2006-08-11 00:21:00
2030368,2006,4,6,2230.0,2447.0,2006-04-06 22:30:00,2006-04-07 00:47:00
3723293,2006,7,19,2105.0,2400.0,2006-07-19 21:05:00,2006-07-20 00:00:00
5111252,2006,9,17,2211.0,2400.0,2006-09-17 22:11:00,2006-09-18 00:00:00
304164,2006,1,5,2250.0,2413.0,2006-01-05 22:50:00,2006-01-06 00:13:00
4442628,2006,8,10,2207.0,2418.0,2006-08-10 22:07:00,2006-08-11 00:18:00
3826808,2006,7,19,2216.0,2446.0,2006-07-19 22:16:00,2006-07-20 00:46:00

In [99]:
flights_clean[(flights_clean["DepTime"] > 2359) & ( flights_clean["ArrTime"] < 2400) & \
              (flights_clean["ArrTime"] >= 1800)][["Year", "Month", "DayofMonth", "DepTime", "ArrTime", \
                                                   "ActualDepTime", "ActualArrTime"]].sample(10)

,Year,Month,DayofMonth,DepTime,ArrTime,ActualDepTime,ActualArrTime
294599,2006,1,22,2400.0,2348.0,2006-01-23 00:00:00,2006-01-22 23:48:00
3831703,2006,7,23,2400.0,2353.0,2006-07-24 00:00:00,2006-07-23 23:53:00
2019615,2006,4,3,2400.0,2349.0,2006-04-04 00:00:00,2006-04-03 23:49:00
5064985,2006,9,13,2400.0,2359.0,2006-09-14 00:00:00,2006-09-13 23:59:00
1419505,2006,3,7,2412.0,2346.0,2006-03-08 00:12:00,2006-03-07 23:46:00
4442433,2006,8,20,2405.0,2352.0,2006-08-21 00:05:00,2006-08-20 23:52:00
3494498,2006,6,22,2400.0,2351.0,2006-06-23 00:00:00,2006-06-22 23:51:00
3831684,2006,7,4,2400.0,2345.0,2006-07-05 00:00:00,2006-07-04 23:45:00
4442442,2006,8,29,2400.0,2337.0,2006-08-30 00:00:00,2006-08-29 23:37:00
4456149,2006,8,15,2401.0,2355.0,2006-08-16 00:01:00,2006-08-15 23:55:00

In [100]:
flights_clean[(flights_clean["DepTime"] > 2359) & ( flights_clean["ArrTime"] < 2400) & \
              (flights_clean["ArrTime"] < 1800)][["Year", "Month", "DayofMonth", "DepTime", "ArrTime", \
                                                  "ActualDepTime", "ActualArrTime"]].sample(10)

,Year,Month,DayofMonth,DepTime,ArrTime,ActualDepTime,ActualArrTime
122305,2006,1,3,2400.0,120.0,2006-01-04,2006-01-04 01:20:00
7072336,2006,12,22,2400.0,826.0,2006-12-23,2006-12-23 08:26:00
800918,2006,2,8,2400.0,608.0,2006-02-09,2006-02-09 06:08:00
5611132,2006,10,22,2400.0,521.0,2006-10-23,2006-10-23 05:21:00
2725403,2006,5,31,2400.0,56.0,2006-06-01,2006-06-01 00:56:00
129442,2006,1,11,2400.0,25.0,2006-01-12,2006-01-12 00:25:00
3034370,2006,6,6,2400.0,145.0,2006-06-07,2006-06-07 01:45:00
6095176,2006,11,28,2400.0,111.0,2006-11-29,2006-11-29 01:11:00
3870067,2006,7,31,2400.0,104.0,2006-08-01,2006-08-01 01:04:00
2929486,2006,6,13,2400.0,739.0,2006-06-14,2006-06-14 07:39:00

This is satisfactory. I move on to the next issue.

#### **Issue**: There are negative values in the `AirTime` column.

##### **Define**
- Identify rows where negative values are present.
- Drop identified rows.
- Reset the index of the dataframe.

##### **Code**

In [101]:
AirTime_negative_mask = flights_clean["AirTime"] < 0
AirTime_negative_mask.value_counts()

False    7138651
True        3260
Name: AirTime, dtype: int64

In [102]:
flights_clean[AirTime_negative_mask].describe(include = "all")

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ActualDepTime,ActualArrTime,SchedDepTime,SchedArrTime
count,3260.0,3260.000000,3260.000000,3260.000000,3260.000000,3260.000000,3260.000000,3260.000000,3260,3260.000000,3260,3260.000000,3260.000000,3260.000000,3260.000000,3260.000000,3260,3260,3260.000000,3260.000000,3260.000000,3260.0,0,3260.0,3260.000000,3260.000000,3260.000000,3260.000000,3260.000000,3260,3260,3260,3260
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,159,NaN,NaN,NaN,NaN,NaN,81,116,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,2945,2978,2687,3060
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EV,NaN,N926EV,NaN,NaN,NaN,NaN,NaN,ATL,ATL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-06-25 23:30:00,2006-09-19 00:20:00,2006-03-09 22:35:00,2006-04-04 00:08:00
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3260,NaN,36,NaN,NaN,NaN,NaN,NaN,2946,215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,4,4,3
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-01-01 21:50:00,2006-01-02 00:04:00,2006-01-01 20:07:00,2006-01-01 20:50:00
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-10-31 23:54:00,2006-11-01 02:05:00,2006-10-31 20:23:00,2006-10-31 22:30:00
mean,2006.0,5.791718,15.534969,3.938344,2299.000613,2140.146012,2460.078834,1694.261656,NaN,4478.741411,NaN,106.409509,107.520552,-1359.551840,91.890798,93.001840,NaN,NaN,574.715031,1444.873006,21.088344,0.0,NaN,0.0,31.577607,36.519325,14.290798,0.230061,9.204601,NaN,NaN,NaN,NaN
std,0.0,2.741361,8.788452,2.019285,93.397043,164.222630,62.664746,980.737952,NaN,225.532379,NaN,35.930819,31.861986,30.941592,97.505646,99.249176,NaN,NaN,256.247688,3.846687,15.058366,0.0,NaN,0.0,84.583603,64.594127,43.620987,4.948754,35.517144,NaN,NaN,NaN,NaN
min,2006.0,1.000000,1.000000,1.000000,1908.000000,155.000000,2402.000000,1.000000,NaN,4084.000000,NaN,23.000000,38.000000,-1425.000000,-32.000000,-63.000000,NaN,NaN,79.000000,1441.000000,0.000000,0.0,NaN,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
25%,2006.0,3.750000,8.000000,2.000000,2240.000000,2105.000000,2418.000000,51.000000,NaN,4289.000000,NaN,80.000000,78.000000,-1385.000000,24.000000,23.000000,NaN,NaN,357.000000,1443.000000,12.000000,0.0,NaN,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
50%,2006.0,6.000000,16.000000,4.000000,2303.000000,2156.000000,2435.000000,2242.000000,NaN,4502.000000,NaN,110.000000,114.000000,-1355.000000,71.500000,71.000000,NaN,NaN,617.000000,1444.000000,17.000000,0.0,NaN,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
75%,2006.0,8.000000,23.000000,5.000000,2342.000000,2240.000000,2503.000000,2343.000000,NaN,4651.000000,NaN,131.000000,131.000000,-1335.000000,134.000000,133.000000,NaN,NaN,793.000000,1446.000000,25.000000,0.0,NaN,0.0,22.000000,57.000000,8.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
max,2006.0,10.000000,31.000000,7.000000,2930.000000,2330.000000,2955.000000,2359.000000,NaN,4931.000000,NaN,358.000000,200.000000,-1250.000000,1108.000000,1118.000000,NaN,NaN,1261.000000,1501.000000,246.000000,0.0,NaN,0.0,1108.000000,424.000000,749.000000,175.000000,379.000000,NaN,NaN,NaN,NaN

In the above table, it can be observed that there are several commonalities for these entries where `ArrTime` is negative:
- All the values for `ArrTime` are greater than 2400. If this column was used in computing some of the other columns in the dataframe when this dataset was being compiled, it is a possible source of the negative values in the `ArrTime` column.
- All the values in the `TaxiIn` column are outliers, greater than 1441 minutes, which is over 24 hours and is unlikely to be correct.
- All the flights are by the same carrier, EV. It is highly unlikely that this is coincidental. It is possible there is a systematic error in this specific carrier's representation or computation of some of the times and/or time intervals in the dataframe, that leads to negative values of `AirTime`.

For most other entries in the table, the actual elapsed time is the sum of the air time, taxi in time, and taxi out time. Having any 3 of these values would make it possible to compute the 4th. This is not possible for the `AirTime` values in these entries since the values for `TaxiIn` are also evidently incorrect. Therefore, I will drop all the rows.

In [103]:
flights_clean.drop(flights_clean[AirTime_negative_mask].index, axis = 0, inplace = True)

In [104]:
flights_clean.reset_index(drop = True, inplace = True)

##### **Test**

In [105]:
(flights_clean["AirTime"] < 0).value_counts()

False    7138651
Name: AirTime, dtype: int64

#### **Issue**: There are negative values in the CRSElapsedTime column.

##### **Define**
- Identify rows where negative values are presemt.
- Determine why they ae negative.
- Drop rows where necessary.
- If any rows dropped, reset index.

##### **Code**

In [106]:
CRSElapsed_negative_mask = flights_clean["CRSElapsedTime"] < 0
CRSElapsed_negative_mask.value_counts()

False    7138624
True          27
Name: CRSElapsedTime, dtype: int64

In [107]:
flights_clean[CRSElapsed_negative_mask]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ActualDepTime,ActualArrTime,SchedDepTime,SchedArrTime
381963,2006,1,2,1,923.0,924,NaN,1000,MQ,4469,N931AE,NaN,-24.0,NaN,NaN,-1.0,ORD,TVC,224,0,22,0,NaN,1,0,0,0,0,0,2006-01-02 09:23:00,NaT,2006-01-02 09:24:00,2006-01-02 10:00:00
927298,2006,2,5,7,752.0,751,NaN,748,MQ,4331,N677AE,NaN,-3.0,NaN,NaN,1.0,MQT,TVC,142,0,16,0,NaN,1,0,0,0,0,0,2006-02-05 07:52:00,NaT,2006-02-05 07:51:00,2006-02-05 07:48:00
927308,2006,2,10,5,1220.0,751,NaN,748,MQ,4331,N629AE,NaN,-3.0,NaN,NaN,269.0,MQT,TVC,142,0,22,0,NaN,1,0,0,0,0,0,2006-02-10 12:20:00,NaT,2006-02-10 07:51:00,2006-02-10 07:48:00
930727,2006,2,16,4,1206.0,1054,NaN,1114,MQ,4469,N663AR,NaN,-40.0,NaN,NaN,72.0,ORD,TVC,224,0,11,0,NaN,1,0,0,0,0,0,2006-02-16 12:06:00,NaT,2006-02-16 10:54:00,2006-02-16 11:14:00
2684771,2006,5,10,3,1812.0,1810,NaN,1846,MQ,3990,N923AE,NaN,-24.0,NaN,NaN,2.0,ORD,MQT,303,0,16,0,NaN,1,0,0,0,0,0,2006-05-10 18:12:00,NaT,2006-05-10 18:10:00,2006-05-10 18:46:00
2694952,2006,5,15,1,947.0,800,NaN,741,MQ,4331,N690AE,NaN,-19.0,NaN,NaN,107.0,MQT,TVC,142,0,3,0,NaN,1,0,0,0,0,0,2006-05-15 09:47:00,NaT,2006-05-15 08:00:00,2006-05-15 07:41:00
3042438,2006,6,17,6,NaN,1950,NaN,1945,YV,7225,N650ML,NaN,-5.0,NaN,NaN,NaN,ORD,ATW,160,0,0,1,C,0,0,0,0,0,0,NaT,NaT,2006-06-17 19:50:00,2006-06-17 19:45:00
4521905,2006,8,1,2,1822.0,1810,NaN,1846,MQ,3990,N623AE,NaN,-24.0,NaN,NaN,12.0,ORD,MQT,303,0,25,0,NaN,1,0,0,0,0,0,2006-08-01 18:22:00,NaT,2006-08-01 18:10:00,2006-08-01 18:46:00
4521929,2006,8,29,2,1856.0,1810,NaN,1846,MQ,3990,N616AE,NaN,-24.0,NaN,NaN,46.0,ORD,MQT,303,0,21,0,NaN,1,0,0,0,0,0,2006-08-29 18:56:00,NaT,2006-08-29 18:10:00,2006-08-29 18:46:00
4605452,2006,8,9,3,1632.0,1612,NaN,1701,AA,550,N5TJAA,NaN,-71.0,NaN,NaN,20.0,LAS,DFW,1055,0,30,0,NaN,1,0,0,0,0,0,2006-08-09 16:32:00,NaT,2006-08-09 16:12:00,2006-08-09 17:01:00
5120277,2006,9,21,4,1821.0,1810,NaN,1846,MQ,3990,N908AE,NaN,-24.0,NaN,NaN,11.0,ORD,MQT,303,0,47,0,NaN,1,0,0,0,0,0,2006-09-21 18:21:00,NaT,2006-09-21 18:10:00,2006-09-21 18:46:00
5124050,2006,9,21,4,1947.0,1950,NaN,2017,MQ,4127,N670AE,NaN,-33.0,NaN,NaN,-3.0,MSN,MQT,241,0,10,0,NaN,1,0,0,0,0,0,2006-09-21 19:47:00,NaT,2006-09-21 19:50:00,2006-09-21 20:17:00
5195766,2006,9,4,1,1415.0,1416,NaN,1525,AA,388,N4WWAA,NaN,-51.0,NaN,NaN,-1.0,BUR,DFW,1231,0,14,0,NaN,1,0,0,0,0,0,2006-09-04 14:15:00,NaT,2006-09-04 14:16:00,2006-09-04 15:25:00
5501648,2006,10,1,7,2126.0,1918,NaN,2015,OO,6779,N924SW,NaN,-3.0,NaN,NaN,128.0,ATW,GRR,178,0,12,0,NaN,1,0,0,0,0,0,2006-10-01 21:26:00,NaT,2006-10-01 19:18:00,2006-10-01 20:15:00
5709541,2006,10,1,7,629.0,630,NaN,653,MQ,3494,N519AE,NaN,-97.0,NaN,NaN,-1.0,SBA,DFW,1315,0,21,0,NaN,1,0,0,0,0,0,2006-10-01 06:29:00,NaT,2006-10-01 06:30:00,2006-10-01 06:53:00
5709542,2006,10,2,1,722.0,630,NaN,653,MQ,3494,N500AE,NaN,-97.0,NaN,NaN,52.0,SBA,DFW,1315,0,7,0,NaN,1,0,0,0,0,0,2006-10-02 07:22:00,NaT,2006-10-02 06:30:00,2006-10-02 06:53:00
5709543,2006,10,3,2,640.0,630,NaN,653,MQ,3494,N510AE,NaN,-97.0,NaN,NaN,10.0,SBA,DFW,1315,0,7,0,NaN,1,0,0,0,0,0,2006-10-03 06:40:00,NaT,2006-10-03 06:30:00,2006-10-03 06:53:00
5709544,2006,10,4,3,651.0,630,NaN,653,MQ,3494,N524AE,NaN,-97.0,NaN,NaN,21.0,SBA,DFW,1315,0,8,0,NaN,1,0,0,0,0,0,2006-10-04 06:51:00,NaT,2006-10-04 06:30:00,2006-10-04 06:53:00
5712665,2006,10,10,2,627.0,630,NaN,708,MQ,3619,N698CB,NaN,-22.0,NaN,NaN,-3.0,DFW,GSP,862,0,17,0,NaN,1,0,0,0,0,0,2006-10-10 06:27:00,NaT,2006-10-10 06:30:00,2006-10-10 07:08:00
5798795,2006,10,18,3,1032.0,1040,NaN,1104,AA,328,N248AA,NaN,-96.0,NaN,NaN,-8.0,BUR,DFW,1231,0,8,0,NaN,1,0,0,0,0,0,2006-10-18 10:32:00,NaT,2006-10-18 10:40:00,2006-10-18 11:04:00
5840255,2006,10,10,2,1749.0,1450,NaN,1534,AA,2012,N5TYAA,NaN,-76.0,NaN,NaN,179.0,RNO,DFW,1345,0,10,0,NaN,1,0,0,0,0,0,2006-10-10 17:49:00,NaT,2006-10-10 14:50:00,2006-10-10 15:34:00
5841481,2006,10,7,6,849.0,850,NaN,935,AA,2073,N5FRAA,NaN,-75.0,NaN,NaN,-1.0,SNA,ORD,1726,0,7,0,NaN,1,0,0,0,0,0,2006-10-07 08:49:00,NaT,2006-10-07 08:50:00,2006-10-07 09:35:00
5846572,2006,10,17,2,1149.0,1150,NaN,1303,AA,2442,N521AA,NaN,-47.0,NaN,NaN,-1.0,LAX,DFW,1235,0,17,0,NaN,1,0,0,0,0,0,2006-10-17 11:49:00,NaT,2006-10-17 11:50:00,2006-10-17 13:03:00
6308878,2006,11,3,5,744.0,735,NaN,822,MQ,3563,N505AE,NaN,-13.0,NaN,NaN,9.0,DFW,PIT,1068,0,13,0,NaN,1,0,0,0,0,0,2006-11-03 07:44:00,NaT,2006-11-03 07:35:00,2006-11-03 08:22:00
6916691,2006,12,12,2,2301.0,2020,NaN,2047,MQ,3956,N652RS,NaN,-33.0,NaN,NaN,161.0,GRB,MQT,134,0,10,0,NaN,1,0,0,0,0,0,2006-12-12 23:01:00,NaT,2006-12-12 20:20:00,2006-12-12 20:47:00
6980284,2006,12,5,2,1605.0,1605,1715.0,1540,OH,5418,N589SW,70.0,-25.0,44.0,95.0,0.0,ACY,LGA,99,5,21,0,NaN,0,0,0,95,0,0,2006-12-05 16:05:00,2006-12-05 17:15:00,2006-12-05 16:05:00,2006-12-05 15:40:00
6989347,2006,12,12,2,1935.0,1515,NaN,1550,AA,186,N5EUAA,NaN,-85.0,NaN,NaN,260.0,LIH,LAX,2615,0,18,0,NaN,1,0,0,0,0,0,2006-12-12 19:35:00,NaT,2006-12-12 15:15:00,2006-12-12 15:50:00

In [108]:
CRSElapsed_drop_mask = CRSElapsed_negative_mask & (flights_clean["Diverted"] == 0) & (flights_clean["Cancelled"] == 0)
CRSElapsed_drop_mask.value_counts()

False    7138650
True           1
dtype: int64

In [109]:
flights_clean.drop(flights_clean[CRSElapsed_drop_mask].index, axis = 0, inplace = True)

In [110]:
flights_clean.reset_index(drop = True, inplace = True)

##### **Test**

In [111]:
(flights_clean["CRSElapsedTime"] < 0).value_counts()

False    7138624
True          26
Name: CRSElapsedTime, dtype: int64

This is satisfactory. I move on to the next issue.

#### **Issue**: There are outliers in the `ActualElapsedTime`, `CRSElapsedTime`, `ArrDelay`, `DepDelay`, `TaxiIn`, `TaxiOut` and `Distance` columns.

##### **Define**
- Identify outliers.
- Determine whether they need to be dropped.
- If any rows dropped, reset index.

##### **Code**

I will look at the values for each column at an extended range of percentiles.

In [112]:
flights_clean[["ActualElapsedTime", "CRSElapsedTime", "ArrDelay", "DepDelay", "TaxiIn", \
               "TaxiOut", "Distance"]].describe(percentiles = [0.05, 0.1, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99])

,ActualElapsedTime,CRSElapsedTime,ArrDelay,DepDelay,TaxiIn,TaxiOut,Distance
count,7.000535e+06,7.138650e+06,7.000535e+06,7.016720e+06,7.138650e+06,7.138650e+06,7.138650e+06
mean,1.260693e+02,1.271935e+02,8.644040e+00,1.005508e+01,6.405026e+00,1.574287e+01,7.280680e+02
std,7.133073e+01,7.032690e+01,3.648017e+01,3.339279e+01,4.959764e+00,1.126857e+01,5.746267e+02
min,5.000000e+00,-9.700000e+01,-5.920000e+02,-1.200000e+03,0.000000e+00,0.000000e+00,1.100000e+01
5%,4.900000e+01,5.200000e+01,-2.000000e+01,-9.000000e+00,2.000000e+00,6.000000e+00,1.420000e+02
10%,5.700000e+01,6.000000e+01,-1.600000e+01,-7.000000e+00,3.000000e+00,7.000000e+00,1.970000e+02
25%,7.500000e+01,7.600000e+01,-9.000000e+00,-4.000000e+00,4.000000e+00,1.000000e+01,3.160000e+02
50%,1.070000e+02,1.090000e+02,-1.000000e+00,0.000000e+00,5.000000e+00,1.300000e+01,5.740000e+02
75%,1.560000e+02,1.570000e+02,1.300000e+01,9.000000e+00,8.000000e+00,1.800000e+01,9.560000e+02
90%,2.250000e+02,2.250000e+02,4.100000e+01,3.700000e+01,1.100000e+01,2.600000e+01,1.541000e+03
95%,2.770000e+02,2.760000e+02,7.200000e+01,6.700000e+01,1.400000e+01,3.300000e+01,1.979000e+03
99%,3.570000e+02,3.560000e+02,1.610000e+02,1.540000e+02,2.500000e+01,5.900000e+01,2.565000e+03
max,1.879000e+03,1.031000e+03,1.779000e+03,1.752000e+03,9.560000e+02,6.020000e+02,4.962000e+03

I have already investigated the negative values in the `CRSElapsedTime` column in the  previous subsection. I will now investigate the outliers that are at the other extreme.

In [113]:
(flights_clean["CRSElapsedTime"] > 660).value_counts()

False    7138648
True           2
Name: CRSElapsedTime, dtype: int64

In [114]:
flights_clean[(flights_clean["CRSElapsedTime"] > 660)]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ActualDepTime,ActualArrTime,SchedDepTime,SchedArrTime
2935676,2006,6,27,2,2059.0,850,NaN,2301,US,796,N648AW,NaN,1031.0,NaN,NaN,729.0,BWI,LAS,2106,0,22,0,NaN,1,0,0,0,0,0,2006-06-27 20:59:00,NaT,2006-06-27 08:50:00,2006-06-27 23:01:00
5597709,2006,10,12,4,920.0,912,NaN,408,US,578,N637AW,NaN,956.0,NaN,NaN,8.0,PHX,TPA,1788,0,24,0,NaN,1,0,0,0,0,0,2006-10-12 09:20:00,NaT,2006-10-12 09:12:00,2006-10-12 04:08:00

Both rows show flights that were diverted, one of which had a significantly delayed departure. I will not be removing these rows, as I will analyze diverted flights.

I move on to assessing the `ActualElapsedTime` column.

In [115]:
(flights_clean["ActualElapsedTime"] > 900).value_counts()

False    7138590
True          60
Name: ActualElapsedTime, dtype: int64

In [116]:
flights_clean[(flights_clean["ActualElapsedTime"] > 900)]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ActualDepTime,ActualArrTime,SchedDepTime,SchedArrTime
503699,2006,1,2,1,2036.0,1945,1205.0,2315,B6,47,0,929.0,210.0,877.0,770.0,51.0,JFK,FLL,1069,3,49,0,NaN,0,0,0,726,0,44,2006-01-02 20:36:00,2006-01-02 12:05:00,2006-01-02 19:45:00,2006-01-02 23:15:00
504031,2006,1,3,2,225.0,2120,513.0,2359,B6,50,N519JB,1608.0,159.0,1587.0,314.0,-1135.0,FLL,JFK,1069,8,13,0,NaN,0,5,0,9,0,300,2006-01-03 02:25:00,2006-01-03 05:13:00,2006-01-03 21:20:00,2006-01-03 23:59:00
504066,2006,1,3,2,643.0,2245,754.0,2355,B6,128,N507JB,1511.0,70.0,1487.0,479.0,-962.0,JFK,BTV,267,3,21,0,NaN,0,0,478,1,0,0,2006-01-03 06:43:00,2006-01-03 07:54:00,2006-01-03 22:45:00,2006-01-03 23:55:00
507466,2006,1,13,5,506.0,1955,622.0,2105,B6,1019,N187JB,1516.0,70.0,1493.0,557.0,-889.0,BOS,JFK,187,12,11,0,NaN,0,14,0,6,0,537,2006-01-13 05:06:00,2006-01-13 06:22:00,2006-01-13 19:55:00,2006-01-13 21:05:00
507547,2006,1,13,5,43.0,2010,314.0,2305,B6,382,N508JB,1591.0,175.0,1570.0,249.0,-1167.0,FLL,LGA,1076,5,16,0,NaN,0,0,0,107,0,142,2006-01-13 00:43:00,2006-01-13 03:14:00,2006-01-13 20:10:00,2006-01-13 23:05:00
513525,2006,1,30,1,8.0,1850,124.0,2000,B6,1033,N193JB,1516.0,70.0,1495.0,324.0,-1122.0,BTV,JFK,267,9,12,0,NaN,0,14,304,6,0,0,2006-01-30 00:08:00,2006-01-30 01:24:00,2006-01-30 18:50:00,2006-01-30 20:00:00
513963,2006,1,31,2,148.0,2040,501.0,2355,B6,1069,N184JB,1693.0,255.0,1611.0,306.0,-1132.0,JFK,AUS,1522,6,16,0,NaN,0,290,0,16,0,0,2006-01-31 01:48:00,2006-01-31 05:01:00,2006-01-31 20:40:00,2006-01-31 23:55:00
1041450,2006,2,3,5,324.0,2040,654.0,2359,B6,455,N523JB,1650.0,199.0,1634.0,415.0,-1036.0,BOS,FLL,1237,4,12,0,NaN,0,14,0,11,0,390,2006-02-03 03:24:00,2006-02-03 06:54:00,2006-02-03 20:40:00,2006-02-03 23:59:00
1041487,2006,2,3,5,158.0,1540,534.0,1900,B6,447,N550JB,1656.0,200.0,1643.0,634.0,-822.0,BOS,TPA,1185,4,9,0,NaN,0,618,0,16,0,0,2006-02-03 01:58:00,2006-02-03 05:34:00,2006-02-03 15:40:00,2006-02-03 19:00:00
1041623,2006,2,3,5,15.0,1905,320.0,2205,B6,43,N520JB,1625.0,180.0,1599.0,315.0,-1130.0,JFK,MCO,944,7,19,0,NaN,0,0,0,5,0,310,2006-02-03 00:15:00,2006-02-03 03:20:00,2006-02-03 19:05:00,2006-02-03 22:05:00
1044740,2006,2,12,7,539.0,1820,711.0,1930,B6,1017,N190JB,1532.0,70.0,1486.0,701.0,-761.0,BOS,JFK,187,32,14,0,NaN,0,0,679,22,0,0,2006-02-12 05:39:00,2006-02-12 07:11:00,2006-02-12 18:20:00,2006-02-12 19:30:00
1044784,2006,2,12,7,35.0,1330,327.0,1625,B6,509,N632JB,1612.0,175.0,1590.0,662.0,-775.0,EWR,FLL,1065,5,17,0,NaN,0,630,0,32,0,0,2006-02-12 00:35:00,2006-02-12 03:27:00,2006-02-12 13:30:00,2006-02-12 16:25:00
1044794,2006,2,12,7,302.0,2235,820.0,315,B6,561,N592JB,1698.0,220.0,1710.0,305.0,-1173.0,EWR,SJU,1608,6,42,0,NaN,0,267,0,38,0,0,2006-02-12 03:02:00,2006-02-12 08:20:00,2006-02-12 22:35:00,2006-02-13 03:15:00
1044849,2006,2,12,7,403.0,2010,521.0,2120,B6,1018,N192JB,1518.0,70.0,1479.0,481.0,-967.0,JFK,BOS,187,4,35,0,NaN,0,0,473,8,0,0,2006-02-12 04:03:00,2006-02-12 05:21:00,2006-02-12 20:10:00,2006-02-12 21:20:00
1044854,2006,2,12,7,248.0,2245,452.0,2355,B6,128,N606JB,1564.0,70.0,1484.0,297.0,-1197.0,JFK,BTV,267,3,77,0,NaN,0,243,0,54,0,0,2006-02-12 02:48:00,2006-02-12 04:52:00,2006-02-12 22:45:00,2006-02-12 23:55:00
1044870,2006,2,12,7,139.0,2120,659.0,15,B6,11,N594JB,1760.0,175.0,1591.0,404.0,-1181.0,JFK,FLL,1069,5,164,0,NaN,0,123,136,145,0,0,2006-02-12 01:39:00,2006-02-12 06:59:00,2006-02-12 21:20:00,2006-02-13 00:15:00
1643294,2006,3,23,4,1.0,1920,233.0,2205,B6,116,N618JB,1592.0,165.0,1568.0,268.0,-1159.0,FLL,JFK,1069,8,16,0,NaN,0,0,0,268,0,0,2006-03-23 00:01:00,2006-03-23 02:33:00,2006-03-23 19:20:00,2006-03-23 22:05:00
2830552,2006,5,12,5,37.0,1110,156.0,1240,B6,1254,N516JB,1519.0,90.0,1501.0,796.0,-633.0,IAD,BOS,413,6,12,0,NaN,0,0,0,796,0,0,2006-05-12 00:37:00,2006-05-12 01:56:00,2006-05-12 11:10:00,2006-05-12 12:40:00
2831721,2006,5,15,1,540.0,2240,651.0,2350,B6,128,N504JB,1511.0,70.0,1484.0,421.0,-1020.0,JFK,BTV,267,7,20,0,NaN,0,0,410,11,0,0,2006-05-15 05:40:00,2006-05-15 06:51:00,2006-05-15 22:40:00,2006-05-15 23:50:00
3055954,2006,6,16,5,2035.0,2030,1725.0,2049,OH,5459,N594SW,1310.0,79.0,1283.0,1236.0,5.0,CVG,STL,307,5,22,0,NaN,0,5,0,1231,0,0,2006-06-16 20:35:00,2006-06-16 17:25:00,2006-06-16 20:30:00,2006-06-16 20:49:00
3424433,2006,6,1,4,47.0,1715,331.0,2020,B6,510,N519JB,1604.0,185.0,1582.0,431.0,-988.0,FLL,EWR,1065,6,16,0,NaN,0,0,0,431,0,0,2006-06-01 00:47:00,2006-06-01 03:31:00,2006-06-01 17:15:00,2006-06-01 20:20:00
3424436,2006,6,1,4,318.0,1910,614.0,2200,B6,116,N537JB,1616.0,170.0,1584.0,494.0,-952.0,FLL,JFK,1069,12,20,0,NaN,0,0,0,494,0,0,2006-06-01 03:18:00,2006-06-01 06:14:00,2006-06-01 19:10:00,2006-06-01 22:00:00
3424440,2006,6,1,4,109.0,2030,407.0,2315,B6,18,N517JB,1618.0,165.0,1588.0,292.0,-1161.0,FLL,JFK,1069,7,23,0,NaN,0,0,0,292,0,0,2006-06-01 01:09:00,2006-06-01 04:07:00,2006-06-01 20:30:00,2006-06-01 23:15:00
3424582,2006,6,1,4,56.0,2045,415.0,2355,B6,87,N563JB,1759.0,310.0,1592.0,260.0,-1189.0,JFK,SLC,1989,8,39,0,NaN,0,45,206,9,0,0,2006-06-01 00:56:00,2006-06-01 04:15:00,2006-06-01 20:45:00,2006-06-01 23:55:00
3424584,2006,6,1,4,33.0,2030,405.0,2355,B6,171,N597JB,1832.0,385.0,1590.0,250.0,-1197.0,JFK,SMF,2521,4,58,0,NaN,0,0,60,7,0,183,2006-06-01 00:33:00,2006-06-01 04:05:00,2006-06-01 20:30:00,2006-06-01 23:55:00
3424721,2006,6,1,4,356.0,2355,1209.0,800,B6,86,N590JB,1753.0,305.0,1898.0,249.0,-1199.0,SEA,JFK,2421,9,26,0,NaN,0,0,0,8,0,241,2006-06-01 03:56:00,2006-06-01 12:09:00,2006-06-01 23:55:00,2006-06-02 08:00:00
3424748,2006,6,1,4,121.0,2030,358.0,2305,B6,24,N621JB,1597.0,155.0,1573.0,293.0,-1149.0,TPA,JFK,1005,8,16,0,NaN,0,0,0,293,0,0,2006-06-01 01:21:00,2006-06-01 03:58:00,2006-06-01 20:30:00,2006-06-01 23:05:00
3426775,2006,6,7,3,211.0,1945,507.0,2310,B6,477,N585JB,1796.0,385.0,1602.0,357.0,-1054.0,BOS,OAK,2693,4,10,0,NaN,0,62,0,49,0,246,2006-06-07 02:11:00,2006-06-07 05:07:00,2006-06-07 19:45:00,2006-06-07 23:10:00
3426984,2006,6,7,3,354.0,2345,1209.0,750,B6,484,N504JB,1755.0,305.0,1910.0,259.0,-1191.0,LAS,BOS,2381,5,20,0,NaN,0,0,0,10,0,249,2006-06-07 03:54:00,2006-06-07 12:09:00,2006-06-07 23:45:00,2006-06-08 07:50:00
3427110,2006,6,7,3,303.0,2230,1122.0,645,B6,498,N583JB,1759.0,315.0,1922.0,277.0,-1167.0,SEA,BOS,2496,4,13,0,NaN,0,3,0,4,0,270,2006-06-07 03:03:00,2006-06-07 11:22:00,2006-06-07 22:30:00,2006-06-08 06:45:00
3427113,2006,6,7,3,130.0,2100,1025.0,530,B6,470,N566JB,1795.0,330.0,1958.0,295.0,-1170.0,SJC,BOS,2689,5,12,0,NaN,0,0,0,25,0,270,2006-06-07 01:30:00,2006-06-07 10:25:00,2006-06-07 21:00:00,2006-06-08 05:30:00
3434158,2006,6,25,7,28.0,1830,200.0,2010,B6,1258,N228JB,1532.0,100.0,1500.0,350.0,-1082.0,IAD,BOS,413,4,28,0,NaN,0,0,0,150,0,200,2006-06-25 00:28:00,2006-06-25 02:00:00,2006-06-25 18:30:00,2006-06-25 20:10:00
3435228,2006,6,27,2,217.0,2210,1020.0,605,B6,420,N621JB,1743.0,295.0,1902.0,255.0,-1193.0,PHX,BOS,2300,4,17,0,NaN,0,0,0,8,0,247,2006-06-27 02:17:00,2006-06-27 10:20:00,2006-06-27 22:10:00,2006-06-28 06:05:00
4046879,2006,7,12,3,28.0,1830,337.0,2125,B6,527,N618JB,1629.0,175.0,1561.0,372.0,-1082.0,EWR,MCO,938,4,64,0,NaN,0,0,69,14,0,289,2006-07-12 00:28:00,2006-07-12 03:37:00,2006-07-12 18:30:00,2006-07-12 21:25:00
4046998,2006,7,12,3,43.0,1905,423.0,2210,B6,43,N597JB,1660.0,185.0,1561.0,373.0,-1102.0,JFK,MCO,944,10,89,0,NaN,0,0,77,35,0,261,2006-07-12 00:43:00,2006-07-12 04:23:00,2006-07-12 19:05:00,2006-07-12 22:10:00
4047010,2006,7,12,3,53.0,2000,442.0,2300,B6,89,N588JB,1849.0,360.0,1580.0,342.0,-1147.0,JFK,ONT,2430,4,85,0,NaN,0,0,72,49,0,221,2006-07-12 00:53:00,2006-07-12 04:42:00,2006-07-12 20:00:00,2006-07-12 23:00:00
4047036,2006,7,12,3,37.0,2030,259.0,2200,B6,36,N607JB,1582.0,90.0,1487.0,299.0,-1193.0,JFK,ROC,264,3,92,0,NaN,0,143,0,52,0,104,2006-07-12 00:37:00,2006-07-12 02:59:00,2006-07-12 20:30:00,2006-07-12 22:00:00
4050822,2006,7,21,5,154.0,1620,341.0,1755,B6,1217,N236JB,1547.0,95.0,1505.0,586.0,-866.0,BOS,BUF,396,25,17,0,NaN,0,55,519,12,0,0,2006-07-21 01:54:00,2006-07-21 03:41:00,2006-07-21 16:20:00,2006-07-21 17:55:00
4050876,2006,7,21,5,332.0,2245,450.0,2359,B6,117,N506JB,1518.0,74.0,1492.0,291.0,-1153.0,BUF,JFK,301,15,11,0,NaN,0,0,0,4,0,287,2006-07-21 03:32:00,2006-07-21 04:50:00,2006-07-21 22:45:00,2006-07-21 23:59:00
4050877,2006,7,21,5,314.0,1450,435.0,1605,B6,145,N638JB,1521.0,75.0,1495.0,750.0,-696.0,BUF,JFK,301,8,18,0,NaN,0,693,0,6,0,51,2006-07-21 03:14:00,2006-07-21 04:35:00,2006-07-21 14:50:00,2006-07-21 16:05:00
4050887,2006,7,21,5,102.0,2050,923.0,500,B6,358,N522JB,1761.0,310.0,1914.0,263.0,-1188.0,BUR,JFK,2465,15,12,0,NaN,0,12,0,11,0,240,2006-07-21 01:02:00,2006-07-21 09:23:00,2006-07-21 20:50:00,2006-07-22 05:00:00
4050904,2006,7,21,5,41.0,1830,402.0,2125,B6,527,N606JB,1641.0,175.0,1558.0,397.0,-1069.0,EWR,MCO,938,4,79,0,NaN,0,0,0,26,0,371,2006-07-21 00:41:00,2006-07-21 04:02:00,2006-07-21 18:30:00,2006-07-21 21:25:00
4050908,2006,7,21,5,850.0,2235,1302.0,215,B6,561,N634JB,1692.0,220.0,1651.0,647.0,-825.0,EWR,SJU,1608,9,32,0,NaN,0,0,0,32,0,615,2006-07-21 08:50:00,2006-07-21 13:02:00,2006-07-21 22:35:00,2006-07-22 02:15:00
4050989,2006,7,21,5,130.0,2130,337.0,2320,B6,1087,N187JB,1567.0,110.0,1519.0,257.0,-1200.0,JFK,CLT,541,7,41,0,NaN,0,41,0,17,0,199,2006-07-21 01:30:00,2006-07-21 03:37:00,2006-07-21 21:30:00,2006-07-21 23:20:00
4051031,2006,7,21,5,53.0,1810,436.0,2150,B6,107,N595JB,1843.0,400.0,1584.0,406.0,-1037.0,JFK,OAK,2576,6,73,0,NaN,0,20,0,3,0,383,2006-07-21 00:53:00,2006-07-21 04:36:00,2006-07-21 18:10:00,2006-07-21 21:50:00
4051039,2006,7,21,5,39.0,2000,357.0,2310,B6,35,N615JB,1638.0,190.0,1569.0,287.0,-1161.0,JFK,PBI,1028,4,65,0,NaN,0,0,0,13,0,274,2006-07-21 00:39:00,2006-07-21 03:57:00,2006-07-21 20:00:00,2006-07-21 23:10:00
4051079,2006,7,21,5,2.0,1810,421.0,2140,B6,173,N588JB,1879.0,390.0,1603.0,401.0,-1088.0,JFK,SJC,2569,6,90,0,NaN,0,0,28,49,0,324,2006-07-21 00:02:00,2006-07-21 04:21:00,2006-07-21 18:10:00,2006-07-21 21:40:00
4051196,2006,7,21,5,227.0,2040,507.0,2320,B6,70,N543JB,1600.0,160.0,1572.0,347.0,-1093.0,PBI,JFK,1028,14,14,0,NaN,0,0,0,0,0,347,2006-07-21 02:27:00,2006-07-21 05:07:00,2006-07-21 20:40:00,2006-07-21 23:20:00
4051200,2006,7,21,5,416.0,2359,1313.0,820,B6,166,N587JB,1797.0,321.0,1911.0,293.0,-1183.0,PDX,JFK,2454,15,51,0,NaN,0,1,256,36,0,0,2006-07-21 04:16:00,2006-07-21 13:13:00,2006-07-21 23:59:00,2006-07-22 08:20:00
4051226,2006,7,21,5,321.0,1920,423.0,2035,B6,33,N599JB,1502.0,75.0,1485.0,468.0,-959.0,ROC,JFK,264,6,11,0,NaN,0,0,0,418,0,50,2006-07-21 03:21:00,2006-07-21 04:23:00,2006-07-21 19:20:00,2006-07-21 20:35:00
4051245,2006,7,21,5,504.0,2235,1329.0,700,B6,174,N588JB,1765.0,325.0,1920.0,389.0,-1051.0,SJC,JFK,2569,8,17,0,NaN,0,0,0,0,0,389,2006-07-21 05:04:00,2006-07-21 13:29:00,2006-07-21 22:35:00,2006-07-22 07:00:00
4051347,2006,7,22,6,11.0,2005,218.0,2155,B6,1080,N599JB,1567.0,110.0,1516.0,263.0,-1194.0,CLT,JFK,541,7,44,0,NaN,0,0,0,36,0,227,2006-07-22 00:11:00,2006-07-22 02:18:00,2006-07-22 20:05:00,2006-07-22 21:55:00
4053618,2006,7,27,4,324.0,2245,447.0,2359,B6,117,N550JB,1523.0,74.0,1492.0,288.0,-1161.0,BUF,JFK,301,13,18,0,NaN,0,0,0,9,0,279,2006-07-27 03:24:00,2006-07-27 04:47:00,2006-07-27 22:45:00,2006-07-27 23:59:00
4053781,2006,7,27,4,34.0,2000,400.0,2310,B6,35,N591JB,1646.0,190.0,1570.0,290.0,-1166.0,JFK,PBI,1028,5,71,0,NaN,0,17,0,16,0,257,2006-07-27 00:34:00,2006-07-27 04:00:00,2006-07-27 20:00:00,2006-07-27 23:10:00
4053787,2006,7,27,4,34.0,2030,337.0,2259,B6,179,N543JB,1803.0,329.0,1551.0,278.0,-1196.0,JFK,PHX,2153,4,68,0,NaN,0,224,0,34,0,20,2006-07-27 00:34:00,2006-07-27 03:37:00,2006-07-27 20:30:00,2006-07-27 22:59:00
4053898,2006,7,27,4,250.0,2205,520.0,35,B6,158,N524JB,1590.0,150.0,1569.0,285.0,-1155.0,MCO,JFK,944,10,11,0,NaN,0,0,0,0,0,285,2006-07-27 02:50:00,2006-07-27 05:20:00,2006-07-27 22:05:00,2006-07-28 00:35:00
4054089,2006,7,28,5,145.0,2005,338.0,2155,B6,1080,N183JB,1553.0,110.0,1520.0,343.0,-1100.0,CLT,JFK,541,6,27,0,NaN,0,23,0,3,0,317,2006-07-28 01:45:00,2006-07-28 03:38:00,2006-07-28 20:05:00,2006-07-28 21:55:00
6292687,2006,11,25,6,1419.0,1425,224.0,1750,HA,35,N580HA,905.0,385.0,707.0,514.0,-6.0,PHX,HNL,2917,7,11,0,NaN,0,426,0,0,0,88,2006-11-25 14:19:00,2006-11-25 02:24:00,2006-11-25 14:25:00,2006-11-25 17:50:00
6467524,2006,11,27,1,2152.0,2230,2227.0,2315,B6,9024,N613JB,1475.0,45.0,1455.0,1392.0,-38.0,EWR,JFK,21,4,16,0,NaN,0,0,0,1392,0,0,2006-11-27 21:52:00,2006-11-27 22:27:00,2006-11-27 22:30:00,2006-11-27 23:15:00
6889265,2006,12,14,4,1400.0,1345,1317.0,2045,HA,20,N588HA,1277.0,300.0,1376.0,992.0,15.0,HNL,SMF,2462,6,15,0,NaN,0,992,0,0,0,0,2006-12-14 14:00:00,2006-12-14 13:17:00,2006-12-14 13:45:00,2006-12-14 20:45:00

The departure delay values are incorrect, likely due to the original calculations when this dataset was first compiled not taking into account the fact that the delays overlapped into the next day. There are few enough that I will drop them.

I will now assess the `ArrDelay` column. I will start with values of `ArrDelay` that are very large and negative.

In [117]:
(flights_clean["ArrDelay"] < -120).value_counts()

False    7138630
True          20
Name: ArrDelay, dtype: int64

In [118]:
flights_clean[(flights_clean["ArrDelay"] < -120)]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ActualDepTime,ActualArrTime,SchedDepTime,SchedArrTime
142161,2006,1,28,6,645.0,648,716.0,925,YV,7396,N503MJ,31.0,157.0,15.0,-129.0,-3.0,AUS,ORD,978,7,9,0,NaN,0,0,0,0,0,0,2006-01-28 06:45:00,2006-01-28 07:16:00,2006-01-28 06:48:00,2006-01-28 09:25:00
295660,2006,1,4,3,930.0,1200,1113.0,1330,EV,4143,N842AS,103.0,90.0,66.0,-137.0,-150.0,CVG,ROC,461,10,27,0,NaN,0,0,0,0,0,0,2006-01-04 09:30:00,2006-01-04 11:13:00,2006-01-04 12:00:00,2006-01-04 13:30:00
495184,2006,1,12,4,1441.0,1803,1535.0,1852,AS,139,N747AS,54.0,49.0,44.0,-197.0,-202.0,AKN,ANC,289,4,6,0,NaN,0,0,0,0,0,0,2006-01-12 14:41:00,2006-01-12 15:35:00,2006-01-12 18:03:00,2006-01-12 18:52:00
1468543,2006,3,3,5,1917.0,520,2035.0,557,HA,106,N487HA,78.0,37.0,64.0,-562.0,-603.0,HNL,OGG,100,5,9,0,NaN,0,0,0,0,0,0,2006-03-03 19:17:00,2006-03-03 20:35:00,2006-03-04 05:20:00,2006-03-04 05:57:00
1468755,2006,3,10,5,2023.0,625,2151.0,702,HA,114,N480HA,88.0,37.0,62.0,-551.0,-602.0,HNL,OGG,100,5,21,0,NaN,0,0,0,0,0,0,2006-03-10 20:23:00,2006-03-10 21:51:00,2006-03-11 06:25:00,2006-03-11 07:02:00
1469365,2006,3,31,5,203.0,1205,325.0,1234,HA,144,N479HA,82.0,29.0,70.0,-549.0,-602.0,LIH,HNL,102,6,6,0,NaN,0,0,0,0,0,0,2006-03-31 02:03:00,2006-03-31 03:25:00,2006-03-31 12:05:00,2006-03-31 12:34:00
1470368,2006,3,21,2,541.0,1545,725.0,1636,HA,262,N486HA,104.0,51.0,88.0,-551.0,-604.0,HNL,ITO,216,6,10,0,NaN,0,0,0,0,0,0,2006-03-21 05:41:00,2006-03-21 07:25:00,2006-03-21 15:45:00,2006-03-21 16:36:00
1470664,2006,3,17,5,445.0,1435,544.0,1512,HA,320,N475HA,59.0,37.0,49.0,-568.0,-590.0,HNL,OGG,100,5,5,0,NaN,0,0,0,0,0,0,2006-03-17 04:45:00,2006-03-17 05:44:00,2006-03-17 14:35:00,2006-03-17 15:12:00
1471158,2006,3,20,1,141.0,1140,303.0,1227,HA,383,N486HA,82.0,47.0,69.0,-564.0,-599.0,ITO,HNL,216,5,8,0,NaN,0,0,0,0,0,0,2006-03-20 01:41:00,2006-03-20 03:03:00,2006-03-20 11:40:00,2006-03-20 12:27:00
1471623,2006,3,20,1,629.0,1635,737.0,1712,HA,546,N481HA,68.0,37.0,55.0,-575.0,-606.0,HNL,OGG,100,4,9,0,NaN,0,0,0,0,0,0,2006-03-20 06:29:00,2006-03-20 07:37:00,2006-03-20 16:35:00,2006-03-20 17:12:00
2063329,2006,4,5,3,1915.0,520,2018.0,557,HA,106,N480HA,63.0,37.0,46.0,-579.0,-605.0,HNL,OGG,100,4,13,0,NaN,0,0,0,0,0,0,2006-04-05 19:15:00,2006-04-05 20:18:00,2006-04-06 05:20:00,2006-04-06 05:57:00
2064026,2006,4,28,5,118.0,1125,656.0,1154,HA,140,N481HA,338.0,29.0,328.0,-298.0,-607.0,LIH,HNL,102,3,7,0,NaN,0,0,0,0,0,0,2006-04-28 01:18:00,2006-04-28 06:56:00,2006-04-28 11:25:00,2006-04-28 11:54:00
2064107,2006,4,15,6,2229.0,835,2322.0,912,HA,146,N476HA,53.0,37.0,39.0,-590.0,-606.0,HNL,OGG,100,5,9,0,NaN,0,0,0,0,0,0,2006-04-15 22:29:00,2006-04-15 23:22:00,2006-04-16 08:35:00,2006-04-16 09:12:00
2064148,2006,4,4,2,246.0,1250,419.0,1333,HA,148,N478HA,93.0,43.0,79.0,-554.0,-604.0,HNL,KOA,163,5,9,0,NaN,0,0,0,0,0,0,2006-04-04 02:46:00,2006-04-04 04:19:00,2006-04-04 12:50:00,2006-04-04 13:33:00
2065210,2006,4,18,2,608.0,1610,928.0,1701,HA,262,N484HA,200.0,51.0,186.0,-453.0,-602.0,HNL,ITO,216,5,9,0,NaN,0,0,0,0,0,0,2006-04-18 06:08:00,2006-04-18 09:28:00,2006-04-18 16:10:00,2006-04-18 17:01:00
2065211,2006,4,19,3,612.0,1610,709.0,1701,HA,262,N481HA,57.0,51.0,37.0,-592.0,-598.0,HNL,ITO,216,6,14,0,NaN,0,0,0,0,0,0,2006-04-19 06:12:00,2006-04-19 07:09:00,2006-04-19 16:10:00,2006-04-19 17:01:00
2614258,2006,5,19,5,1425.0,1915,1700.0,2100,EV,4362,N702EV,95.0,45.0,67.0,-240.0,-290.0,STL,ATL,483,8,20,0,NaN,0,0,0,0,0,0,2006-05-19 14:25:00,2006-05-19 17:00:00,2006-05-19 19:15:00,2006-05-19 21:00:00
2621052,2006,5,12,5,2000.0,2230,2033.0,2310,EV,4588,N823AS,33.0,40.0,14.0,-157.0,-150.0,ATL,MCN,79,5,14,0,NaN,0,0,0,0,0,0,2006-05-12 20:00:00,2006-05-12 20:33:00,2006-05-12 22:30:00,2006-05-12 23:10:00
2621053,2006,5,19,5,1955.0,2230,2047.0,2310,EV,4588,N830AS,52.0,40.0,17.0,-143.0,-155.0,ATL,MCN,79,5,30,0,NaN,0,0,0,0,0,0,2006-05-19 19:55:00,2006-05-19 20:47:00,2006-05-19 22:30:00,2006-05-19 23:10:00
7058296,2006,12,31,7,1251.0,1807,1345.0,1902,AS,139,N746AS,54.0,55.0,45.0,-317.0,-316.0,AKN,ANC,289,4,5,0,NaN,0,0,0,0,0,0,2006-12-31 12:51:00,2006-12-31 13:45:00,2006-12-31 18:07:00,2006-12-31 19:02:00

All the values seem to be accurate. None of these rows need to be cleaned.

I will now look at values of `ArrDelay` that are very large and positive.

In [119]:
(flights_clean["ArrDelay"] > 1200).value_counts()

False    7138600
True          50
Name: ArrDelay, dtype: int64

In [120]:
flights_clean[flights_clean["ArrDelay"] > 1200].sample(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ActualDepTime,ActualArrTime,SchedDepTime,SchedArrTime
2124216,2006,4,5,3,1433.0,1745,2019.0,2014,NW,579,N301US,406.0,209.0,205.0,1445.0,1248.0,MCO,MSP,1310,180,21,0,NaN,0,1248,0,197,0,0,2006-04-05 14:33:00,2006-04-05 20:19:00,2006-04-05 17:45:00,2006-04-05 20:14:00
235471,2006,1,5,4,835.0,1010,1324.0,1515,UA,1,N213UA,529.0,545.0,510.0,1329.0,1345.0,ORD,HNL,4243,3,16,0,NaN,0,1329,0,0,0,0,2006-01-05 08:35:00,2006-01-05 13:24:00,2006-01-05 10:10:00,2006-01-05 15:15:00
3061380,2006,6,23,5,1630.0,2030,1655.0,2049,OH,5459,N966CA,85.0,79.0,63.0,1206.0,1200.0,CVG,STL,307,5,17,0,NaN,0,1200,0,6,0,0,2006-06-23 16:30:00,2006-06-23 16:55:00,2006-06-23 20:30:00,2006-06-23 20:49:00
1545438,2006,3,13,1,1723.0,1355,2050.0,1728,NW,1480,N322NB,147.0,153.0,126.0,1642.0,1648.0,MSO,MSP,1013,8,13,0,NaN,0,1420,0,0,0,222,2006-03-13 17:23:00,2006-03-13 20:50:00,2006-03-13 13:55:00,2006-03-13 17:28:00
6949565,2006,12,21,4,919.0,1139,1007.0,1230,NW,454,N8923E,48.0,51.0,29.0,1297.0,1300.0,LIT,MEM,129,4,15,0,NaN,0,1297,0,0,0,0,2006-12-21 09:19:00,2006-12-21 10:07:00,2006-12-21 11:39:00,2006-12-21 12:30:00
6371553,2006,11,27,1,452.0,613,600.0,725,NW,1513,N8921E,68.0,72.0,45.0,1355.0,1359.0,BTR,MEM,319,4,19,0,NaN,0,1355,0,0,0,0,2006-11-27 04:52:00,2006-11-27 06:00:00,2006-11-27 06:13:00,2006-11-27 07:25:00
3925427,2006,7,11,2,603.0,905,1257.0,1607,NW,258,N512US,234.0,242.0,205.0,1250.0,1258.0,PHX,DTW,1671,11,18,0,NaN,0,1228,0,0,0,22,2006-07-11 06:03:00,2006-07-11 12:57:00,2006-07-11 09:05:00,2006-07-11 16:07:00
943033,2006,2,26,7,1121.0,1234,1843.0,2001,NW,334,N509US,262.0,267.0,232.0,1362.0,1367.0,LAX,DTW,1979,10,20,0,NaN,0,1362,0,0,0,0,2006-02-26 11:21:00,2006-02-26 18:43:00,2006-02-26 12:34:00,2006-02-26 20:01:00
1535821,2006,3,16,4,715.0,855,1526.0,1714,NW,846,N584NW,311.0,319.0,285.0,1332.0,1340.0,ANC,MSP,2518,6,20,0,NaN,0,1332,0,0,0,0,2006-03-16 07:15:00,2006-03-16 15:26:00,2006-03-16 08:55:00,2006-03-16 17:14:00
3310778,2006,6,7,3,916.0,1024,954.0,1110,NW,236,N9331,38.0,46.0,20.0,1364.0,1372.0,MBS,DTW,98,11,7,0,NaN,0,1364,0,0,0,0,2006-06-07 09:16:00,2006-06-07 09:54:00,2006-06-07 10:24:00,2006-06-07 11:10:00

In [121]:
flights_clean[flights_clean["ArrDelay"] > 1200].describe(include = "all")

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ActualDepTime,ActualArrTime,SchedDepTime,SchedArrTime
count,50.0,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000,50,50.000000,50,50.00000,50.000000,50.000000,50.000000,50.000000,50,50,50.000000,50.000000,50.000000,50.0,0,50.0,50.000000,50.000000,50.000000,50.0,50.000000,50,50,50,50
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN,49,NaN,NaN,NaN,NaN,NaN,37,14,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,50,50,50,50
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NW,NaN,N484AA,NaN,NaN,NaN,NaN,NaN,LAS,MSP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-01-05 08:35:00,2006-01-05 13:24:00,2006-01-05 10:10:00,2006-01-05 15:15:00
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,NaN,2,NaN,NaN,NaN,NaN,NaN,4,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,1
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-01-05 08:35:00,2006-01-05 13:24:00,2006-01-05 10:10:00,2006-01-05 15:15:00
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-12-31 06:24:00,2006-12-31 12:14:00,2006-12-31 07:45:00,2006-12-31 13:35:00
mean,2006.0,7.420000,17.000000,4.380000,1066.600000,1301.700000,1409.480000,1597.060000,NaN,1327.860000,NaN,246.88000,189.760000,214.280000,1329.220000,1272.100000,NaN,NaN,1292.220000,13.540000,19.060000,0.0,NaN,0.0,1101.160000,0.020000,117.200000,0.0,110.840000,NaN,NaN,NaN,NaN
std,0.0,3.476393,8.607069,2.009061,445.259887,419.335298,418.764375,409.624238,NaN,1590.442808,NaN,258.23527,103.426511,257.700114,116.946576,290.669056,NaN,NaN,920.090242,25.368476,12.171244,0.0,NaN,0.0,460.798081,0.141421,365.722712,0.0,303.039053,NaN,NaN,NaN,NaN
min,2006.0,1.000000,2.000000,1.000000,12.000000,613.000000,522.000000,558.000000,NaN,1.000000,NaN,38.00000,45.000000,20.000000,1201.000000,-38.000000,NaN,NaN,21.000000,2.000000,7.000000,0.0,NaN,0.0,0.000000,0.000000,0.000000,0.0,0.000000,NaN,NaN,NaN,NaN
25%,2006.0,4.000000,11.000000,3.000000,728.500000,1005.500000,1138.000000,1352.750000,NaN,277.000000,NaN,131.50000,123.000000,113.750000,1251.250000,1252.500000,NaN,NaN,572.750000,6.000000,13.000000,0.0,NaN,0.0,1204.750000,0.000000,0.000000,0.0,0.000000,NaN,NaN,NaN,NaN
50%,2006.0,7.500000,18.500000,4.500000,980.000000,1276.000000,1335.500000,1608.500000,NaN,1036.000000,NaN,187.50000,180.000000,163.500000,1297.000000,1291.000000,NaN,NaN,1152.000000,7.500000,16.000000,0.0,NaN,0.0,1264.500000,0.000000,0.000000,0.0,0.000000,NaN,NaN,NaN,NaN
75%,2006.0,10.750000,24.750000,6.000000,1313.750000,1454.750000,1727.250000,1848.500000,NaN,1714.750000,NaN,262.75000,240.250000,224.000000,1363.500000,1365.000000,NaN,NaN,1668.250000,12.000000,20.000000,0.0,NaN,0.0,1331.250000,0.000000,14.750000,0.0,16.500000,NaN,NaN,NaN,NaN
max,2006.0,12.000000,31.000000,7.000000,2152.000000,2350.000000,2227.000000,2331.000000,NaN,9024.000000,NaN,1475.00000,545.000000,1455.000000,1779.000000,1752.000000,NaN,NaN,4243.000000,180.000000,85.000000,0.0,NaN,0.0,1666.000000,1.000000,1392.000000,0.0,1366.000000,NaN,NaN,NaN,NaN

The entries all have large values for at least one type of delay, most frequently carrier delays. Therefore, the values are valid and need not be cleaned. A few entries overlap with those that have a large value for `ActualElapsedTime`, which have already been investigated above, and will be dropped later below.

I will now move on to the `DepDelay` column, starting with values that are negative.

In [122]:
(flights_clean["DepDelay"] < -150).value_counts()

False    7138572
True          78
Name: DepDelay, dtype: int64

In [123]:
flights_clean[flights_clean["DepDelay"] < -150].sample(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ActualDepTime,ActualArrTime,SchedDepTime,SchedArrTime
2065211,2006,4,19,3,612.0,1610,709.0,1701,HA,262,N481HA,57.0,51.0,37.0,-592.0,-598.0,HNL,ITO,216,6,14,0,NaN,0,0,0,0,0,0,2006-04-19 06:12:00,2006-04-19 07:09:00,2006-04-19 16:10:00,2006-04-19 17:01:00
513525,2006,1,30,1,8.0,1850,124.0,2000,B6,1033,N193JB,1516.0,70.0,1495.0,324.0,-1122.0,BTV,JFK,267,9,12,0,NaN,0,14,304,6,0,0,2006-01-30 00:08:00,2006-01-30 01:24:00,2006-01-30 18:50:00,2006-01-30 20:00:00
4051245,2006,7,21,5,504.0,2235,1329.0,700,B6,174,N588JB,1765.0,325.0,1920.0,389.0,-1051.0,SJC,JFK,2569,8,17,0,NaN,0,0,0,0,0,389,2006-07-21 05:04:00,2006-07-21 13:29:00,2006-07-21 22:35:00,2006-07-22 07:00:00
4050876,2006,7,21,5,332.0,2245,450.0,2359,B6,117,N506JB,1518.0,74.0,1492.0,291.0,-1153.0,BUF,JFK,301,15,11,0,NaN,0,0,0,4,0,287,2006-07-21 03:32:00,2006-07-21 04:50:00,2006-07-21 22:45:00,2006-07-21 23:59:00
2063329,2006,4,5,3,1915.0,520,2018.0,557,HA,106,N480HA,63.0,37.0,46.0,-579.0,-605.0,HNL,OGG,100,4,13,0,NaN,0,0,0,0,0,0,2006-04-05 19:15:00,2006-04-05 20:18:00,2006-04-06 05:20:00,2006-04-06 05:57:00
4053898,2006,7,27,4,250.0,2205,520.0,35,B6,158,N524JB,1590.0,150.0,1569.0,285.0,-1155.0,MCO,JFK,944,10,11,0,NaN,0,0,0,0,0,285,2006-07-27 02:50:00,2006-07-27 05:20:00,2006-07-27 22:05:00,2006-07-28 00:35:00
2065210,2006,4,18,2,608.0,1610,928.0,1701,HA,262,N484HA,200.0,51.0,186.0,-453.0,-602.0,HNL,ITO,216,5,9,0,NaN,0,0,0,0,0,0,2006-04-18 06:08:00,2006-04-18 09:28:00,2006-04-18 16:10:00,2006-04-18 17:01:00
4051347,2006,7,22,6,11.0,2005,218.0,2155,B6,1080,N599JB,1567.0,110.0,1516.0,263.0,-1194.0,CLT,JFK,541,7,44,0,NaN,0,0,0,36,0,227,2006-07-22 00:11:00,2006-07-22 02:18:00,2006-07-22 20:05:00,2006-07-22 21:55:00
3424721,2006,6,1,4,356.0,2355,1209.0,800,B6,86,N590JB,1753.0,305.0,1898.0,249.0,-1199.0,SEA,JFK,2421,9,26,0,NaN,0,0,0,8,0,241,2006-06-01 03:56:00,2006-06-01 12:09:00,2006-06-01 23:55:00,2006-06-02 08:00:00
3424584,2006,6,1,4,33.0,2030,405.0,2355,B6,171,N597JB,1832.0,385.0,1590.0,250.0,-1197.0,JFK,SMF,2521,4,58,0,NaN,0,0,60,7,0,183,2006-06-01 00:33:00,2006-06-01 04:05:00,2006-06-01 20:30:00,2006-06-01 23:55:00

In [124]:
flights_clean[flights_clean["DepDelay"] < -150].describe(include = "all")

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ActualDepTime,ActualArrTime,SchedDepTime,SchedArrTime
count,78.0,78.000000,78.000000,78.000000,78.000000,78.000000,74.000000,78.000000,78,78.000000,78,74.000000,78.000000,74.000000,74.000000,78.000000,78,78,78.000000,78.000000,78.000000,78.0,0,78.000000,78.000000,78.000000,78.000000,78.0,78.000000,78,74,78,78
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,NaN,60,NaN,NaN,NaN,NaN,NaN,27,28,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,77,74,73,76
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B6,NaN,N481HA,NaN,NaN,NaN,NaN,NaN,JFK,JFK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-07-27 00:34:00,2006-01-08 16:30:00,2006-06-01 20:30:00,2006-06-01 23:55:00
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59,NaN,3,NaN,NaN,NaN,NaN,NaN,18,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1,3,2
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-01-03 02:25:00,2006-01-03 05:13:00,2006-01-03 21:20:00,2006-01-03 23:55:00
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-12-31 12:51:00,2006-12-31 13:45:00,2006-12-31 18:07:00,2006-12-31 19:02:00
mean,2006.0,4.717949,15.128205,4.371795,423.166667,1855.858974,737.270270,1675.653846,NaN,506.935897,NaN,1257.756757,159.282051,1214.432432,176.040541,-932.179487,NaN,NaN,1004.615385,6.653846,38.217949,0.0,NaN,0.051282,45.602564,48.294872,53.923077,0.0,120.192308,NaN,NaN,NaN,NaN
std,0.0,2.373542,8.754011,1.588179,528.418135,421.052723,544.148129,716.670890,NaN,899.303169,NaN,675.134098,109.109250,684.212337,383.509013,284.643534,NaN,NaN,871.307097,4.826407,73.477560,0.0,NaN,0.222000,135.302292,135.221330,131.673422,0.0,155.783154,NaN,NaN,NaN,NaN
min,2006.0,1.000000,1.000000,1.000000,1.000000,520.000000,124.000000,15.000000,NaN,1.000000,NaN,52.000000,29.000000,17.000000,-592.000000,-1200.000000,NaN,NaN,79.000000,0.000000,5.000000,0.0,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,NaN,NaN,NaN,NaN
25%,2006.0,2.250000,8.500000,3.000000,53.750000,1737.000000,368.500000,1172.250000,NaN,106.250000,NaN,897.500000,70.000000,615.750000,67.500000,-1161.000000,NaN,NaN,264.750000,4.000000,12.000000,0.0,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,NaN,NaN,NaN,NaN
50%,2006.0,5.500000,15.000000,5.000000,236.500000,2000.000000,510.000000,2015.000000,NaN,172.000000,NaN,1586.000000,157.000000,1535.500000,292.500000,-1052.500000,NaN,NaN,941.000000,5.000000,17.000000,0.0,NaN,0.000000,0.000000,0.000000,8.500000,0.0,0.000000,NaN,NaN,NaN,NaN
75%,2006.0,7.000000,21.000000,5.000000,539.750000,2120.000000,926.750000,2303.750000,NaN,509.750000,NaN,1684.000000,220.000000,1590.000000,395.000000,-648.750000,NaN,NaN,1586.500000,8.000000,38.000000,0.0,NaN,0.000000,10.250000,0.000000,33.500000,0.0,255.000000,NaN,NaN,NaN,NaN
max,2006.0,12.000000,31.000000,7.000000,2229.000000,2359.000000,2322.000000,2359.000000,NaN,4896.000000,NaN,1879.000000,400.000000,1958.000000,796.000000,-155.000000,NaN,NaN,2693.000000,32.000000,602.000000,0.0,NaN,1.000000,693.000000,679.000000,796.000000,0.0,615.000000,NaN,NaN,NaN,NaN

Most of the entries have very large values in the `ActualElapsedTime` column. Those that do not seem to have values that are large and negative but correct. A few of them are also diverted flights. No cleaning is necessary for these.

In [125]:
(flights_clean["DepDelay"] > 720).value_counts()

False    7138163
True         487
Name: DepDelay, dtype: int64

In [126]:
flights_clean[flights_clean["DepDelay"] > 720].sample(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ActualDepTime,ActualArrTime,SchedDepTime,SchedArrTime
1010459,2006,2,9,4,659.0,1406,1152.0,1844,AA,1538,N5WAAA,173.0,158.0,137.0,1028.0,1013.0,LAS,DFW,1055,21,15,0,NaN,0,1013,0,15,0,0,2006-02-09 06:59:00,2006-02-09 11:52:00,2006-02-09 14:06:00,2006-02-09 18:44:00
4571541,2006,8,10,4,737.0,1618,917.0,1812,NW,1253,N607NW,160.0,174.0,129.0,905.0,919.0,EWR,MEM,946,6,25,0,NaN,0,787,88,0,30,0,2006-08-10 07:37:00,2006-08-10 09:17:00,2006-08-10 16:18:00,2006-08-10 18:12:00
1590586,2006,3,19,7,1111.0,2218,1326.0,30,AA,1221,N591AA,255.0,252.0,215.0,776.0,773.0,DFW,SEA,1660,9,31,0,NaN,0,0,654,3,0,119,2006-03-19 11:11:00,2006-03-19 13:26:00,2006-03-19 22:18:00,2006-03-20 00:30:00
6405892,2006,11,28,2,636.0,1515,1054.0,1950,AA,1016,N5TGAA,138.0,155.0,121.0,904.0,921.0,LAS,DFW,1055,10,7,0,NaN,0,904,0,0,0,0,2006-11-28 06:36:00,2006-11-28 10:54:00,2006-11-28 15:15:00,2006-11-28 19:50:00
5781228,2006,10,3,2,856.0,1850,1020.0,2008,NW,1839,N779NC,144.0,138.0,111.0,852.0,846.0,BUF,MSP,734,12,21,0,NaN,0,713,124,6,0,9,2006-10-03 08:56:00,2006-10-03 10:20:00,2006-10-03 18:50:00,2006-10-03 20:08:00
1528514,2006,3,17,5,726.0,1029,915.0,1230,NW,539,N601NW,109.0,121.0,79.0,1245.0,1257.0,LGA,DTW,501,7,23,0,NaN,0,1245,0,0,0,0,2006-03-17 07:26:00,2006-03-17 09:15:00,2006-03-17 10:29:00,2006-03-17 12:30:00
5165912,2006,9,28,4,627.0,1825,757.0,1948,NW,1163,N916RW,90.0,83.0,72.0,729.0,722.0,MEM,MCI,392,6,12,0,NaN,0,719,0,7,0,3,2006-09-28 06:27:00,2006-09-28 07:57:00,2006-09-28 18:25:00,2006-09-28 19:48:00
4621500,2006,8,5,6,642.0,1136,1218.0,1659,AA,1268,N483AA,216.0,203.0,176.0,1159.0,1146.0,SMF,DFW,1431,13,27,0,NaN,0,1146,0,13,0,0,2006-08-05 06:42:00,2006-08-05 12:18:00,2006-08-05 11:36:00,2006-08-05 16:59:00
6347741,2006,11,19,7,831.0,1243,1033.0,1432,NW,337,N349NW,122.0,109.0,68.0,1201.0,1188.0,PHL,DTW,453,35,19,0,NaN,0,1188,0,13,0,0,2006-11-19 08:31:00,2006-11-19 10:33:00,2006-11-19 12:43:00,2006-11-19 14:32:00
2776287,2006,5,21,7,2046.0,824,2223.0,1007,AA,1107,N477AA,157.0,163.0,137.0,736.0,742.0,TPA,DFW,929,9,11,0,NaN,0,707,0,0,0,29,2006-05-21 20:46:00,2006-05-21 22:23:00,2006-05-21 08:24:00,2006-05-21 10:07:00

In [127]:
flights_clean[flights_clean["DepDelay"] > 720].describe(include = "all")

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ActualDepTime,ActualArrTime,SchedDepTime,SchedArrTime
count,487.0,487.000000,487.000000,487.000000,487.000000,487.000000,480.000000,487.000000,487,487.000000,487,480.000000,487.000000,480.000000,480.000000,487.000000,487,487,487.000000,487.000000,487.000000,487.0,0,487.000000,487.000000,487.000000,487.000000,487.000000,487.000000,487,480,487,487
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,NaN,402,NaN,NaN,NaN,NaN,NaN,117,62,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,487,480,485,486
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NW,NaN,N532US,NaN,NaN,NaN,NaN,NaN,LAS,MSP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-01-05 08:35:00,2006-01-05 13:24:00,2006-12-01 06:00:00,2006-09-15 19:44:00
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,213,NaN,5,NaN,NaN,NaN,NaN,NaN,29,81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,2,2
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-01-02 07:55:00,2006-01-02 09:08:00,2006-01-02 14:50:00,2006-01-02 17:31:00
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-12-31 07:33:00,2006-12-31 12:14:00,2006-12-31 18:40:00,2006-12-31 20:05:00
mean,2006.0,6.671458,16.624230,4.244353,1030.020534,1470.059548,1164.389583,1619.942505,NaN,1412.004107,NaN,167.320833,167.295688,139.800000,948.318750,946.162218,NaN,NaN,1053.956879,9.041068,18.852156,0.0,NaN,0.014374,718.059548,64.283368,45.291581,0.061602,106.991786,NaN,NaN,NaN,NaN
std,0.0,3.400385,8.502025,2.025517,518.446980,480.712621,523.407640,515.353541,NaN,1245.547073,NaN,80.676687,88.213376,81.199988,178.680961,177.484783,NaN,NaN,710.776681,11.396807,12.036241,0.0,NaN,0.119148,394.385257,216.105660,185.436181,1.359430,221.673851,NaN,NaN,NaN,NaN
min,2006.0,1.000000,1.000000,1.000000,6.000000,15.000000,8.000000,5.000000,NaN,1.000000,NaN,34.000000,39.000000,19.000000,691.000000,721.000000,NaN,NaN,56.000000,0.000000,4.000000,0.0,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
25%,2006.0,4.000000,10.000000,3.000000,712.000000,1210.000000,901.750000,1325.000000,NaN,535.000000,NaN,109.000000,109.000000,80.750000,811.000000,807.500000,NaN,NaN,510.000000,5.000000,12.000000,0.0,NaN,0.000000,604.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
50%,2006.0,7.000000,17.000000,4.000000,830.000000,1559.000000,1055.000000,1759.000000,NaN,1115.000000,NaN,155.000000,155.000000,127.000000,907.000000,906.000000,NaN,NaN,926.000000,7.000000,16.000000,0.0,NaN,0.000000,791.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
75%,2006.0,10.000000,24.000000,6.000000,1143.000000,1830.000000,1326.000000,2011.000000,NaN,1830.500000,NaN,204.250000,207.000000,177.250000,1043.250000,1038.500000,NaN,NaN,1428.500000,10.000000,21.000000,0.0,NaN,0.000000,978.500000,0.000000,10.000000,0.000000,133.000000,NaN,NaN,NaN,NaN
max,2006.0,12.000000,31.000000,7.000000,2345.000000,2359.000000,2400.000000,2350.000000,NaN,6946.000000,NaN,529.000000,1031.000000,510.000000,1779.000000,1752.000000,NaN,NaN,4243.000000,180.000000,144.000000,0.0,NaN,1.000000,1666.000000,1163.000000,1374.000000,30.000000,1366.000000,NaN,NaN,NaN,NaN

Many of the entries have large carrier delays, while others have large values for other types of delays. Therefore, the large departure delays are valid values, and no cleaning is necessary.

I will now assess the `TaxiIn` column.

In [128]:
(flights_clean["TaxiIn"] > 120).value_counts()

False    7138384
True         266
Name: TaxiIn, dtype: int64

In [129]:
flights_clean[flights_clean["TaxiIn"] > 120].sample(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ActualDepTime,ActualArrTime,SchedDepTime,SchedArrTime
3724709,2006,7,26,3,854.0,859,1838.0,1459,UA,106,N643UA,464.0,240.0,219.0,219.0,-5.0,LAX,ORD,1745,227,18,0,NaN,0,0,0,219,0,0,2006-07-26 08:54:00,2006-07-26 18:38:00,2006-07-26 08:59:00,2006-07-26 14:59:00
3737842,2006,7,20,4,1636.0,1537,2028.0,1657,UA,488,N367UA,232.0,80.0,47.0,211.0,59.0,DSM,ORD,299,141,44,0,NaN,0,0,0,195,0,16,2006-07-20 16:36:00,2006-07-20 20:28:00,2006-07-20 15:37:00,2006-07-20 16:57:00
2542378,2006,5,14,7,1834.0,1835,2239.0,2014,XE,2166,N24517,305.0,159.0,141.0,145.0,-1.0,CAE,IAH,878,149,15,0,NaN,0,0,0,145,0,0,2006-05-14 18:34:00,2006-05-14 22:39:00,2006-05-14 18:35:00,2006-05-14 20:14:00
3047579,2006,6,23,5,1700.0,1630,2245.0,2009,YV,5028,N934FJ,285.0,159.0,124.0,156.0,30.0,MSP,CLT,930,138,23,0,NaN,0,0,0,156,0,0,2006-06-23 17:00:00,2006-06-23 22:45:00,2006-06-23 16:30:00,2006-06-23 20:09:00
4673087,2006,8,10,4,1414.0,1330,22.0,2155,B6,222,N556JB,428.0,325.0,470.0,147.0,44.0,LGB,JFK,2465,123,15,0,NaN,0,4,0,103,0,40,2006-08-10 14:14:00,2006-08-11 00:22:00,2006-08-10 13:30:00,2006-08-10 21:55:00
3521737,2006,7,9,7,1454.0,1455,1827.0,1620,WN,1398,N493,213.0,85.0,82.0,127.0,-1.0,OAK,LAS,407,122,9,0,NaN,0,0,0,127,0,0,2006-07-09 14:54:00,2006-07-09 18:27:00,2006-07-09 14:55:00,2006-07-09 16:20:00
6227046,2006,11,7,2,646.0,645,1902.0,1443,US,1500,N187UW,556.0,298.0,303.0,259.0,1.0,SAN,PHL,2369,234,19,0,NaN,0,0,0,259,0,0,2006-11-07 06:46:00,2006-11-07 19:02:00,2006-11-07 06:45:00,2006-11-07 14:43:00
5736477,2006,10,2,1,1558.0,1410,2315.0,1545,MQ,4474,N905JH,497.0,155.0,173.0,450.0,108.0,JAX,ORD,865,268,56,0,NaN,0,0,87,342,0,21,2006-10-02 15:58:00,2006-10-02 23:15:00,2006-10-02 14:10:00,2006-10-02 15:45:00
4476923,2006,8,9,3,1953.0,1958,2333.0,2144,FL,915,N166AT,220.0,106.0,85.0,109.0,-5.0,PHF,ATL,508,127,8,0,NaN,0,0,0,109,0,0,2006-08-09 19:53:00,2006-08-09 23:33:00,2006-08-09 19:58:00,2006-08-09 21:44:00
4673085,2006,8,10,4,1541.0,1540,359.0,2359,B6,210,N566JB,558.0,319.0,515.0,240.0,1.0,LGB,JFK,2465,201,22,0,NaN,0,0,0,240,0,0,2006-08-10 15:41:00,2006-08-11 03:59:00,2006-08-10 15:40:00,2006-08-10 23:59:00

In [130]:
flights_clean[flights_clean["TaxiIn"] > 120].describe(include = "all")

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ActualDepTime,ActualArrTime,SchedDepTime,SchedArrTime
count,266.0,266.000000,266.000000,266.000000,266.000000,266.000000,262.000000,266.000000,266,266.000000,266,262.000000,266.000000,262.000000,262.000000,266.000000,266,266,266.000000,266.000000,266.000000,266.0,0,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266,262,266,266
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18,NaN,256,NaN,NaN,NaN,NaN,NaN,108,41,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,264,257,251,255
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B6,NaN,N510JB,NaN,NaN,NaN,NaN,NaN,DFW,JFK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-08-10 16:43:00,2006-05-14 22:29:00,2006-02-12 13:15:00,2006-10-02 15:45:00
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38,NaN,2,NaN,NaN,NaN,NaN,NaN,13,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,3,4
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-01-02 14:45:00,2006-01-02 17:50:00,2006-01-02 11:21:00,2006-01-02 12:24:00
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-12-26 23:42:00,2006-12-27 03:46:00,2006-12-26 21:05:00,2006-12-26 23:10:00
mean,2006.0,6.984962,12.620301,3.789474,1542.774436,1436.251880,1499.652672,1671.875940,NaN,2407.447368,NaN,317.106870,154.872180,141.717557,243.648855,81.560150,NaN,NaN,947.744361,168.838346,25.759398,0.0,NaN,0.015038,10.763158,24.229323,181.872180,0.567669,22.620301,NaN,NaN,NaN,NaN
std,0.0,3.028132,7.331156,2.112149,428.692063,387.808823,836.361481,439.894622,NaN,1988.900312,NaN,107.793847,75.947988,111.100850,170.585443,142.509126,NaN,NaN,665.371483,88.623521,35.790090,0.0,NaN,0.121932,79.935920,101.070329,122.712083,4.446445,52.259319,NaN,NaN,NaN,NaN
min,2006.0,1.000000,1.000000,1.000000,4.000000,410.000000,1.000000,5.000000,NaN,6.000000,NaN,137.000000,50.000000,0.000000,-24.000000,-17.000000,NaN,NaN,116.000000,121.000000,2.000000,0.0,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
25%,2006.0,5.000000,7.000000,2.000000,1301.250000,1155.500000,546.500000,1448.000000,NaN,527.500000,NaN,240.000000,102.250000,72.000000,141.250000,0.000000,NaN,NaN,463.750000,129.000000,10.000000,0.0,NaN,0.000000,0.000000,0.000000,120.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
50%,2006.0,7.000000,12.000000,4.000000,1635.500000,1454.000000,1830.500000,1700.500000,NaN,2065.000000,NaN,295.500000,142.000000,118.500000,194.500000,26.500000,NaN,NaN,821.000000,143.500000,15.000000,0.0,NaN,0.000000,0.000000,0.000000,154.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
75%,2006.0,10.000000,18.000000,5.000000,1833.750000,1733.750000,2213.750000,2008.250000,NaN,4212.750000,NaN,378.250000,179.250000,165.000000,318.500000,110.250000,NaN,NaN,1090.000000,178.000000,22.000000,0.0,NaN,0.000000,0.000000,0.000000,216.750000,0.000000,14.000000,NaN,NaN,NaN,NaN
max,2006.0,12.000000,29.000000,7.000000,2342.000000,2210.000000,2400.000000,2359.000000,NaN,7249.000000,NaN,689.000000,574.000000,548.000000,1445.000000,1248.000000,NaN,NaN,4433.000000,956.000000,282.000000,0.0,NaN,1.000000,1248.000000,930.000000,625.000000,57.000000,333.000000,NaN,NaN,NaN,NaN

The 4 entries with the largest taxi in time values were diverted flights. The rest of the entries have significant values for NAS delays. Therefore, the taxi in time values seem to be valid, and do not need cleaning.

I will now move on to the `TaxiOut` column.

In [131]:
(flights_clean["TaxiOut"] > 240).value_counts()

False    7138427
True         223
Name: TaxiOut, dtype: int64

In [132]:
flights_clean[flights_clean["TaxiOut"] > 240].sample(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ActualDepTime,ActualArrTime,SchedDepTime,SchedArrTime
6474435,2006,11,16,4,1306.0,1300,1838.0,1407,CO,1109,N16650,332.0,67.0,71.0,271.0,6.0,EWR,DCA,199,4,257,0,NaN,0,0,0,271,0,0,2006-11-16 13:06:00,2006-11-16 18:38:00,2006-11-16 13:00:00,2006-11-16 14:07:00
2909846,2006,6,23,5,1420.0,1415,2036.0,1559,US,146,N182UW,376.0,104.0,86.0,277.0,5.0,CLT,LGA,544,10,280,0,NaN,0,0,0,277,0,0,2006-06-23 14:20:00,2006-06-23 20:36:00,2006-06-23 14:15:00,2006-06-23 15:59:00
5556011,2006,10,2,1,1941.0,1750,159.0,1924,UA,259,N796UA,438.0,154.0,117.0,395.0,111.0,ORD,DEN,888,7,314,0,NaN,0,0,0,284,0,111,2006-10-02 19:41:00,2006-10-03 01:59:00,2006-10-02 17:50:00,2006-10-02 19:24:00
6040368,2006,11,13,1,1734.0,1530,2325.0,1736,XE,3147,N17146,351.0,126.0,94.0,349.0,124.0,CHS,EWR,628,7,250,0,NaN,0,0,0,349,0,0,2006-11-13 17:34:00,2006-11-13 23:25:00,2006-11-13 15:30:00,2006-11-13 17:36:00
3733362,2006,7,27,4,1655.0,1635,22.0,1951,UA,376,N327UA,387.0,136.0,85.0,271.0,20.0,ORD,ATL,606,5,297,0,NaN,0,14,0,251,0,6,2006-07-27 16:55:00,2006-07-28 00:22:00,2006-07-27 16:35:00,2006-07-27 19:51:00
3149544,2006,6,22,4,1925.0,1925,132.0,2126,XE,2286,N16999,367.0,121.0,110.0,246.0,0.0,EWR,DAY,533,5,252,0,NaN,0,0,0,246,0,0,2006-06-22 19:25:00,2006-06-23 01:32:00,2006-06-22 19:25:00,2006-06-22 21:26:00
3751151,2006,7,27,4,1617.0,1545,2350.0,1910,UA,896,N334UA,393.0,145.0,115.0,280.0,32.0,ORD,PHL,678,14,264,0,NaN,0,0,0,252,0,28,2006-07-27 16:17:00,2006-07-27 23:50:00,2006-07-27 15:45:00,2006-07-27 19:10:00
5023537,2006,9,28,4,1751.0,1750,2341.0,2000,US,1535,N121UW,470.0,250.0,210.0,221.0,1.0,PHL,DEN,1557,6,254,0,NaN,0,0,0,221,0,0,2006-09-28 17:51:00,2006-09-28 23:41:00,2006-09-28 17:50:00,2006-09-28 20:00:00
6487345,2006,11,16,4,1454.0,1410,2150.0,1745,CO,360,N14341,476.0,275.0,214.0,245.0,44.0,EWR,SAT,1569,2,260,0,NaN,0,10,0,201,0,34,2006-11-16 14:54:00,2006-11-16 21:50:00,2006-11-16 14:10:00,2006-11-16 17:45:00
4973694,2006,9,28,4,1735.0,1701,2233.0,1830,UA,563,N333UA,358.0,149.0,100.0,243.0,34.0,PHL,ORD,678,4,254,0,NaN,0,0,0,209,0,34,2006-09-28 17:35:00,2006-09-28 22:33:00,2006-09-28 17:01:00,2006-09-28 18:30:00

In [133]:
flights_clean[flights_clean["TaxiOut"] > 240].describe(include = "all")

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ActualDepTime,ActualArrTime,SchedDepTime,SchedArrTime
count,223.0,223.000000,223.000000,223.000000,223.00000,223.000000,218.000000,223.000000,223,223.000000,223,218.000000,223.000000,218.000000,218.000000,223.000000,223,223,223.000000,223.000000,223.000000,223.0,0,223.000000,223.000000,223.000000,223.000000,223.0,223.000000,223,218,223,223
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,NaN,216,NaN,NaN,NaN,NaN,NaN,38,66,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,216,215,195,212
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AA,NaN,N510JB,NaN,NaN,NaN,NaN,NaN,JFK,ORD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-07-27 17:01:00,2006-07-21 21:04:00,2006-06-01 18:00:00,2006-06-01 20:30:00
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44,NaN,3,NaN,NaN,NaN,NaN,NaN,56,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,2,4,3
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-01-02 08:59:00,2006-01-02 15:01:00,2006-01-02 08:04:00,2006-01-02 10:44:00
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-12-31 06:38:00,2006-12-31 12:08:00,2006-12-31 06:17:00,2006-12-31 07:32:00
mean,2006.0,7.282511,14.215247,3.659193,1626.58296,1575.448430,1180.146789,1785.582960,NaN,1581.511211,NaN,425.940367,175.515695,131.073394,281.417431,31.941704,NaN,NaN,988.452915,8.385650,274.596413,0.0,NaN,0.022422,4.053812,4.080717,250.721973,0.0,16.260090,NaN,NaN,NaN,NaN
std,0.0,2.292960,10.634736,1.512856,338.58407,329.558312,976.271817,380.301695,NaN,1510.910485,NaN,102.924477,105.619701,85.021082,61.961227,64.667488,NaN,NaN,784.706020,14.087697,37.332550,0.0,NaN,0.148383,14.250866,24.397104,71.553003,0.0,41.730847,NaN,NaN,NaN,NaN
min,2006.0,1.000000,1.000000,1.000000,528.00000,530.000000,1.000000,5.000000,NaN,6.000000,NaN,279.000000,45.000000,13.000000,-2.000000,-600.000000,NaN,NaN,67.000000,0.000000,241.000000,0.0,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,NaN,NaN,NaN,NaN
25%,2006.0,6.000000,2.000000,3.000000,1526.00000,1440.000000,145.250000,1636.500000,NaN,444.000000,NaN,354.250000,96.000000,72.250000,237.250000,0.000000,NaN,NaN,413.000000,4.000000,251.000000,0.0,NaN,0.000000,0.000000,0.000000,223.500000,0.0,0.000000,NaN,NaN,NaN,NaN
50%,2006.0,7.000000,16.000000,4.000000,1722.00000,1655.000000,1461.500000,1905.000000,NaN,1129.000000,NaN,394.000000,143.000000,110.500000,270.500000,17.000000,NaN,NaN,719.000000,6.000000,263.000000,0.0,NaN,0.000000,0.000000,0.000000,247.000000,0.0,0.000000,NaN,NaN,NaN,NaN
75%,2006.0,9.000000,26.000000,4.000000,1842.50000,1801.000000,2156.750000,2033.500000,NaN,2314.500000,NaN,469.750000,230.000000,148.250000,313.000000,47.500000,NaN,NaN,1390.000000,8.000000,289.000000,0.0,NaN,0.000000,0.000000,0.000000,282.000000,0.0,13.500000,NaN,NaN,NaN,NaN
max,2006.0,12.000000,31.000000,7.000000,2237.00000,2135.000000,2353.000000,2359.000000,NaN,7490.000000,NaN,696.000000,411.000000,377.000000,516.000000,323.000000,NaN,NaN,2602.000000,191.000000,602.000000,0.0,NaN,1.000000,136.000000,304.000000,516.000000,0.0,359.000000,NaN,NaN,NaN,NaN

A few of the entries are flights that were diverted. The rest of the flights have large NAS delay times, and corresponding arrival delays, so the taxi out values seem to be valid. No cleaning is necessary.

I will now look at at the `Distance` column.

In [134]:
(flights_clean["Distance"] > 4500).value_counts()

False    7136587
True        2063
Name: Distance, dtype: int64

In [135]:
flights_clean[flights_clean["Distance"] > 4500].sample(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ActualDepTime,ActualArrTime,SchedDepTime,SchedArrTime
5945649,2006,10,30,1,1045.0,1044,1550.0,1530,DL,1273,N839MH,605.0,586.0,566.0,20.0,1.0,ATL,HNL,4502,4,35,0,NaN,0,0,0,20,0,0,2006-10-30 10:45:00,2006-10-30 15:50:00,2006-10-30 10:44:00,2006-10-30 15:30:00
2883455,2006,5,15,1,1211.0,1215,1558.0,1548,DL,863,N831MH,587.0,573.0,565.0,10.0,-4.0,ATL,HNL,4502,5,17,0,NaN,0,0,0,0,0,0,2006-05-15 12:11:00,2006-05-15 15:58:00,2006-05-15 12:15:00,2006-05-15 15:48:00
1082064,2006,2,6,1,1712.0,1720,647.0,643,DL,860,N827MH,515.0,503.0,491.0,4.0,-8.0,HNL,ATL,4502,6,18,0,NaN,0,0,0,0,0,0,2006-02-06 17:12:00,2006-02-07 06:47:00,2006-02-06 17:20:00,2006-02-07 06:43:00
3457864,2006,6,15,4,2127.0,2130,1313.0,1300,CO,14,N57016,586.0,570.0,555.0,13.0,-3.0,HNL,EWR,4962,9,22,0,NaN,0,0,0,0,0,0,2006-06-15 21:27:00,2006-06-15 13:13:00,2006-06-15 21:30:00,2006-06-15 13:00:00
6475468,2006,11,18,6,1324.0,1320,1923.0,1920,CO,15,N69059,659.0,660.0,615.0,3.0,4.0,EWR,HNL,4962,9,35,0,NaN,0,0,0,0,0,0,2006-11-18 13:24:00,2006-11-18 19:23:00,2006-11-18 13:20:00,2006-11-18 19:20:00
1064666,2006,2,28,2,2240.0,2245,1332.0,1305,CO,14,N76054,592.0,560.0,564.0,27.0,-5.0,HNL,EWR,4962,8,20,0,NaN,0,0,0,27,0,0,2006-02-28 22:40:00,2006-02-28 13:32:00,2006-02-28 22:45:00,2006-03-01 13:05:00
4437920,2006,8,31,4,1209.0,1205,1546.0,1527,DL,855,N829MH,577.0,562.0,547.0,19.0,4.0,ATL,HNL,4502,3,27,0,NaN,0,0,0,19,0,0,2006-08-31 12:09:00,2006-08-31 15:46:00,2006-08-31 12:05:00,2006-08-31 15:27:00
3463216,2006,6,1,4,1601.0,1610,642.0,656,DL,860,N829MH,521.0,526.0,500.0,-14.0,-9.0,HNL,ATL,4502,5,16,0,NaN,0,0,0,0,0,0,2006-06-01 16:01:00,2006-06-02 06:42:00,2006-06-01 16:10:00,2006-06-02 06:56:00
6503784,2006,11,7,2,1117.0,1044,1529.0,1530,DL,1273,N835MH,552.0,586.0,527.0,-1.0,33.0,ATL,HNL,4502,5,20,0,NaN,0,0,0,0,0,0,2006-11-07 11:17:00,2006-11-07 15:29:00,2006-11-07 10:44:00,2006-11-07 15:30:00
3439274,2006,6,10,6,2129.0,2130,1242.0,1300,CO,14,N59053,553.0,570.0,530.0,-18.0,-1.0,HNL,EWR,4962,7,16,0,NaN,0,0,0,0,0,0,2006-06-10 21:29:00,2006-06-10 12:42:00,2006-06-10 21:30:00,2006-06-10 13:00:00

In [136]:
flights_clean[flights_clean["Distance"] > 4500].describe(include = "all")

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ActualDepTime,ActualArrTime,SchedDepTime,SchedArrTime
count,2063.0,2063.000000,2063.000000,2063.000000,2058.000000,2063.000000,2053.000000,2063.000000,2063,2063.000000,2063,2053.000000,2063.000000,2053.000000,2053.000000,2058.000000,2063,2063,2063.000000,2063.000000,2063.000000,2063.000000,5,2063.000000,2063.000000,2063.000000,2063.000000,2063.000000,2063.000000,2058,2053,2063,2063
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,54,NaN,NaN,NaN,NaN,NaN,3,3,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,2054,2052,2059,2056
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DL,NaN,N831MH,NaN,NaN,NaN,NaN,NaN,HNL,HNL,NaN,NaN,NaN,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN,2006-04-27 21:23:00,2006-07-29 08:46:00,2006-11-19 22:45:00,2006-11-20 13:10:00
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1333,NaN,85,NaN,NaN,NaN,NaN,NaN,1031,1032,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,2,2,2,2
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-01-01 12:02:00,2006-01-01 17:05:00,2006-01-01 12:05:00,2006-01-01 17:02:00
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006-12-31 22:46:00,2007-01-01 08:54:00,2006-12-31 22:45:00,2007-01-01 13:10:00
mean,2006.0,6.384876,15.667475,4.017935,1620.197765,1613.431411,1369.326839,1368.978672,NaN,456.387785,NaN,569.208962,571.737276,541.935704,5.587920,8.050534,NaN,NaN,4664.772661,7.427533,19.764905,0.002424,NaN,0.002424,3.856035,0.514300,3.097916,0.019389,3.070286,NaN,NaN,NaN,NaN
std,0.0,3.392695,8.800623,2.000768,339.899903,344.852495,494.825183,480.036037,NaN,433.934566,NaN,46.607143,44.068149,44.054378,33.574721,30.108221,NaN,NaN,220.008972,3.101650,7.663858,0.049183,NaN,0.049183,18.494242,9.396362,9.415617,0.880664,17.193327,NaN,NaN,NaN,NaN
min,2006.0,1.000000,1.000000,1.000000,15.000000,1015.000000,5.000000,643.000000,NaN,14.000000,NaN,473.000000,503.000000,448.000000,-57.000000,-19.000000,NaN,NaN,4502.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
25%,2006.0,4.000000,8.000000,2.000000,1338.000000,1320.000000,842.000000,845.000000,NaN,15.000000,NaN,529.000000,529.000000,505.000000,-11.000000,-5.000000,NaN,NaN,4502.000000,5.000000,15.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
50%,2006.0,6.000000,16.000000,4.000000,1607.000000,1554.000000,1415.000000,1430.000000,NaN,365.000000,NaN,568.000000,570.000000,541.000000,-1.000000,-1.000000,NaN,NaN,4502.000000,7.000000,18.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
75%,2006.0,9.000000,23.000000,6.000000,1801.750000,1805.000000,1845.000000,1805.000000,NaN,860.000000,NaN,598.000000,601.000000,571.000000,12.000000,8.000000,NaN,NaN,4962.000000,9.000000,22.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
max,2006.0,12.000000,31.000000,7.000000,2355.000000,2245.000000,2314.000000,2054.000000,NaN,1282.000000,NaN,742.000000,660.000000,713.000000,406.000000,441.000000,NaN,NaN,4962.000000,35.000000,157.000000,1.000000,NaN,1.000000,293.000000,304.000000,105.000000,40.000000,406.000000,NaN,NaN,NaN,NaN

The ranges of the elapsed times show that all the entries have appropriately corresponding durations, and therefore the distances are valid. This is further confirmed by the fact that half the entries in the `Origin` column andhalf the entries in the `Dest` column have the same value, HNL. A web search reveals that this is Daniel K. Inouye International Airport, located in Hawaii, which is off the mainland of the United States. Therefore, it makes sense that flights to or from this airport show long distances and durations.

This concludes the assessment of the columns. I will now clean the entries in `ActualElapsedTime` as indicated in preceding paragraphs.

In [137]:
ActualElapsedTime_outliers_mask = flights_clean["ActualElapsedTime"] > 900
ActualElapsedTime_outliers_mask.value_counts()

False    7138590
True          60
Name: ActualElapsedTime, dtype: int64

In [138]:
flights_clean.drop(flights_clean[ActualElapsedTime_outliers_mask].index, axis = 0, inplace = True)

In [139]:
flights_clean.reset_index(drop = True, inplace = True)

##### **Test**

In [140]:
flights_clean[["ActualElapsedTime", "CRSElapsedTime", "ArrDelay", "DepDelay", "TaxiIn", \
               "TaxiOut", "Distance"]].describe(percentiles = [0.05, 0.1, 0.25, 0.5, 0.75, 0.9, 0.95, 0.99])

,ActualElapsedTime,CRSElapsedTime,ArrDelay,DepDelay,TaxiIn,TaxiOut,Distance
count,7.000475e+06,7.138590e+06,7.000475e+06,7.016660e+06,7.138590e+06,7.138590e+06,7.138590e+06
mean,1.260566e+02,1.271929e+02,8.640427e+00,1.006358e+01,6.405017e+00,1.574271e+01,7.280638e+02
std,7.119734e+01,7.032629e+01,3.645321e+01,3.325261e+01,4.959762e+00,1.126816e+01,5.746217e+02
min,5.000000e+00,-9.700000e+01,-5.920000e+02,-1.123000e+03,0.000000e+00,0.000000e+00,1.100000e+01
5%,4.900000e+01,5.200000e+01,-2.000000e+01,-9.000000e+00,2.000000e+00,6.000000e+00,1.420000e+02
10%,5.700000e+01,6.000000e+01,-1.600000e+01,-7.000000e+00,3.000000e+00,7.000000e+00,1.970000e+02
25%,7.500000e+01,7.600000e+01,-9.000000e+00,-4.000000e+00,4.000000e+00,1.000000e+01,3.160000e+02
50%,1.070000e+02,1.090000e+02,-1.000000e+00,0.000000e+00,5.000000e+00,1.300000e+01,5.740000e+02
75%,1.560000e+02,1.570000e+02,1.300000e+01,9.000000e+00,8.000000e+00,1.800000e+01,9.560000e+02
90%,2.250000e+02,2.250000e+02,4.100000e+01,3.700000e+01,1.100000e+01,2.600000e+01,1.541000e+03
95%,2.770000e+02,2.760000e+02,7.200000e+01,6.700000e+01,1.400000e+01,3.300000e+01,1.979000e+03
99%,3.570000e+02,3.560000e+02,1.610000e+02,1.540000e+02,2.500000e+01,5.900000e+01,2.565000e+03
max,9.000000e+02,1.031000e+03,1.779000e+03,1.752000e+03,9.560000e+02,6.020000e+02,4.962000e+03

This is satsifactory. I move on to the next issue.

#### **Issue**: Some of the `TailNum` values are 0 or 000000.

##### **Define**
- Identify rows where values are zeroes.
- Determine whether they need to be dropped.
- If any rows dropped, reset index.

##### **Code**

In [141]:
flights_clean["TailNum"].value_counts().head(10)

0         72704
000000    10009
N308SW     5391
N475HA     3990
N486HA     3913
N481HA     3902
N477HA     3884
N478HA     3879
N480HA     3853
N485HA     3852
Name: TailNum, dtype: int64

In [142]:
TailNum_zeros_mask = flights_clean["TailNum"].isin(["0", "000000"])
TailNum_zeros_mask.value_counts()

False    7055877
True       82713
Name: TailNum, dtype: int64

In [143]:
flights_clean[TailNum_zeros_mask]["UniqueCarrier"].nunique()

14

In [144]:
flights_clean[TailNum_zeros_mask][["Cancelled", "Diverted"]].value_counts()

Cancelled  Diverted
1          0           82544
0          0             158
           1              11
dtype: int64

Nearly all of the flights where only a placeholder tail number was provided were cancelled or diverted. For any analysis of the planes, a subset of the data where tail numbers are provided will be used. Therefore none of these rows will be cleaned.

All the issues pertaining to the `flights` dataframe have now been adressed. I will now confirm that null values in the new timestamp columns are present only where there were null values in the original integer columns.

In [145]:
pd.testing.assert_series_equal(flights_clean["DepTime"].isnull(), \
                               flights_clean["ActualDepTime"].isnull(), \
                               check_names = False)

In [146]:
pd.testing.assert_series_equal(flights_clean["ArrTime"].isnull(), \
                               flights_clean["ActualArrTime"].isnull(), \
                               check_names = False)

In [147]:
pd.testing.assert_series_equal(flights_clean["CRSDepTime"].isnull(), \
                               flights_clean["SchedDepTime"].isnull(), \
                               check_names = False)

In [148]:
pd.testing.assert_series_equal(flights_clean["CRSArrTime"].isnull(), \
                               flights_clean["SchedArrTime"].isnull(), \
                               check_names = False)

The `assert` statements were successful. I will now drop the columns I do not need from the dataframe, and reorder the remaining columns.

In [149]:
flights_clean.head()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ActualDepTime,ActualArrTime,SchedDepTime,SchedArrTime
0,2006,1,11,3,743.0,745,1024.0,1018,US,343,N657AW,281.0,273.0,223.0,6.0,-2.0,ATL,PHX,1587,45,13,0,NaN,0,0,0,0,0,0,2006-01-11 07:43:00,2006-01-11 10:24:00,2006-01-11 07:45:00,2006-01-11 10:18:00
1,2006,1,11,3,1053.0,1053,1313.0,1318,US,613,N834AW,260.0,265.0,214.0,-5.0,0.0,ATL,PHX,1587,27,19,0,NaN,0,0,0,0,0,0,2006-01-11 10:53:00,2006-01-11 13:13:00,2006-01-11 10:53:00,2006-01-11 13:18:00
2,2006,1,11,3,1915.0,1915,2110.0,2133,US,617,N605AW,235.0,258.0,220.0,-23.0,0.0,ATL,PHX,1587,4,11,0,NaN,0,0,0,0,0,0,2006-01-11 19:15:00,2006-01-11 21:10:00,2006-01-11 19:15:00,2006-01-11 21:33:00
3,2006,1,11,3,1753.0,1755,1925.0,1933,US,300,N312AW,152.0,158.0,126.0,-8.0,-2.0,AUS,PHX,872,16,10,0,NaN,0,0,0,0,0,0,2006-01-11 17:53:00,2006-01-11 19:25:00,2006-01-11 17:55:00,2006-01-11 19:33:00
4,2006,1,11,3,824.0,832,1015.0,1015,US,765,N309AW,171.0,163.0,132.0,0.0,-8.0,AUS,PHX,872,27,12,0,NaN,0,0,0,0,0,0,2006-01-11 08:24:00,2006-01-11 10:15:00,2006-01-11 08:32:00,2006-01-11 10:15:00

In [150]:
col_to_drop = ["Year", "Month", "DayofMonth", "DayOfWeek", \
               "DepTime", "CRSDepTime", "ArrTime", "CRSArrTime"]
flights_clean.drop(columns = col_to_drop, inplace = True)
flights_clean.head()

,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,ActualDepTime,ActualArrTime,SchedDepTime,SchedArrTime
0,US,343,N657AW,281.0,273.0,223.0,6.0,-2.0,ATL,PHX,1587,45,13,0,NaN,0,0,0,0,0,0,2006-01-11 07:43:00,2006-01-11 10:24:00,2006-01-11 07:45:00,2006-01-11 10:18:00
1,US,613,N834AW,260.0,265.0,214.0,-5.0,0.0,ATL,PHX,1587,27,19,0,NaN,0,0,0,0,0,0,2006-01-11 10:53:00,2006-01-11 13:13:00,2006-01-11 10:53:00,2006-01-11 13:18:00
2,US,617,N605AW,235.0,258.0,220.0,-23.0,0.0,ATL,PHX,1587,4,11,0,NaN,0,0,0,0,0,0,2006-01-11 19:15:00,2006-01-11 21:10:00,2006-01-11 19:15:00,2006-01-11 21:33:00
3,US,300,N312AW,152.0,158.0,126.0,-8.0,-2.0,AUS,PHX,872,16,10,0,NaN,0,0,0,0,0,0,2006-01-11 17:53:00,2006-01-11 19:25:00,2006-01-11 17:55:00,2006-01-11 19:33:00
4,US,765,N309AW,171.0,163.0,132.0,0.0,-8.0,AUS,PHX,872,27,12,0,NaN,0,0,0,0,0,0,2006-01-11 08:24:00,2006-01-11 10:15:00,2006-01-11 08:32:00,2006-01-11 10:15:00

In [151]:
old_col_order = flights_clean.columns.tolist()
new_col_order = old_col_order[-4:-3] + old_col_order[-2:-1] + \
                old_col_order[-3:-2] + old_col_order[-1:] + old_col_order[:-4]

In [152]:
flights_clean = flights_clean[new_col_order]
flights_clean

,ActualDepTime,SchedDepTime,ActualArrTime,SchedArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2006-01-11 07:43:00,2006-01-11 07:45:00,2006-01-11 10:24:00,2006-01-11 10:18:00,US,343,N657AW,281.0,273.0,223.0,6.0,-2.0,ATL,PHX,1587,45,13,0,NaN,0,0,0,0,0,0
1,2006-01-11 10:53:00,2006-01-11 10:53:00,2006-01-11 13:13:00,2006-01-11 13:18:00,US,613,N834AW,260.0,265.0,214.0,-5.0,0.0,ATL,PHX,1587,27,19,0,NaN,0,0,0,0,0,0
2,2006-01-11 19:15:00,2006-01-11 19:15:00,2006-01-11 21:10:00,2006-01-11 21:33:00,US,617,N605AW,235.0,258.0,220.0,-23.0,0.0,ATL,PHX,1587,4,11,0,NaN,0,0,0,0,0,0
3,2006-01-11 17:53:00,2006-01-11 17:55:00,2006-01-11 19:25:00,2006-01-11 19:33:00,US,300,N312AW,152.0,158.0,126.0,-8.0,-2.0,AUS,PHX,872,16,10,0,NaN,0,0,0,0,0,0
4,2006-01-11 08:24:00,2006-01-11 08:32:00,2006-01-11 10:15:00,2006-01-11 10:15:00,US,765,N309AW,171.0,163.0,132.0,0.0,-8.0,AUS,PHX,872,27,12,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7138585,2006-12-29 12:46:00,2006-12-29 12:49:00,2006-12-29 14:52:00,2006-12-29 14:59:00,DL,1675,N905DE,126.0,130.0,108.0,-7.0,-3.0,ATL,EWR,745,6,12,0,NaN,0,0,0,0,0,0
7138586,2006-12-29 12:25:00,2006-12-29 11:55:00,2006-12-29 20:33:00,2006-12-29 19:31:00,DL,1676,N651DL,308.0,276.0,261.0,62.0,30.0,SEA,ATL,2182,12,35,0,NaN,0,30,0,32,0,0
7138587,2006-12-29 21:18:00,2006-12-29 21:15:00,2006-12-29 22:54:00,2006-12-29 22:41:00,DL,1676,N143DA,96.0,86.0,60.0,13.0,3.0,ATL,MCO,403,9,27,0,NaN,0,0,0,0,0,0
7138588,2006-12-29 21:22:00,2006-12-29 21:27:00,2006-12-29 22:09:00,2006-12-29 22:23:00,DL,1677,N904DA,107.0,116.0,81.0,-14.0,-5.0,SLC,SJC,585,5,21,0,NaN,0,0,0,0,0,0
7138589,2006-12-29 20:42:00,2006-12-29 20:45:00,2006-12-29 22:13:00,2006-12-29 22:35:00,DL,1678,N914DN,211.0,230.0,191.0,-22.0,-3.0,CVG,SLC,1449,5,15,0,NaN,0,0,0,0,0,0

I will now move on to cleaning the `airports` dataframe.

#### **Issue**: Some of the airports in the `airports` dataframe are not in the USA.

##### **Define**
- Identify rows where airports are in countries other than the USA.
- Drop the identified rows.
- Reset the index of the dataframe.

##### **Code**

In [153]:
airports_clean["country"].value_counts()

USA                               3372
Thailand                             1
Palau                                1
N Mariana Islands                    1
Federated States of Micronesia       1
Name: country, dtype: int64

4 entries are for airports outside the USA. I will drop these 4 rows.

In [154]:
airports_clean.drop(airports_clean[airports_clean["country"] != "USA"].index, axis = "index", inplace = True)

In [155]:
# Reset dataframe index
airports_clean.reset_index(drop = True, inplace = True)

##### **Test**

In [156]:
airports_clean[["country"]].value_counts()

country
USA        3372
dtype: int64

This is satisfactory. I move on to addressing the next issue.

#### **Issue**: There are missing values in these columns in the `airports` dataframe: `city` and `state`.

##### **Define**
- Identify entries where values are missing in each column.
- If no flights in the `flights` dataframe depart or land at these airports, drop entries and reset dataframe index. Otherwise, replace missing values.

##### **Code**

I'll first identify rows where there are null values.

In [157]:
airports_clean[["city", "state"]].isnull().value_counts()

city   state
False  False    3364
True   True        8
dtype: int64

Entries where the city is missing are also the entries where the state is missing. I will inspect these entries since there are only a few of them.

In [158]:
airports_nulls_mask = (airports_clean["city"].isnull()) | (airports_clean["state"].isnull())
airports_nulls_mask.value_counts()

False    3364
True        8
dtype: int64

In [159]:
airports_clean[airports_nulls_mask]

,iata,airport,city,state,country,lat,long
1136,CLD,MC Clellan-Palomar Airport,NaN,NaN,USA,33.127231,-117.278727
1715,HHH,Hilton Head,NaN,NaN,USA,32.224384,-80.697629
2251,MIB,Minot AFB,NaN,NaN,USA,48.415769,-101.358039
2312,MQT,Marquette County Airport,NaN,NaN,USA,46.353639,-87.395361
2752,RCA,Ellsworth AFB,NaN,NaN,USA,44.145094,-103.103567
2759,RDR,Grand Forks AFB,NaN,NaN,USA,47.961167,-97.401167
2898,SCE,University Park,NaN,NaN,USA,40.851206,-77.846302
2962,SKA,Fairchild AFB,NaN,NaN,USA,47.615058,-117.655803

I will check whether there are any flights that depart from or arrive to these airports. If not, the rows can be removed. Otherwise, the missing cities and states need to be replaced.

In [160]:
(flights_clean["Origin"].isin(airports_clean[airports_nulls_mask]["iata"])).value_counts()

False    7133747
True        4843
Name: Origin, dtype: int64

In [161]:
(flights_clean["Dest"].isin(airports_clean[airports_nulls_mask]["iata"])).value_counts()

False    7133748
True        4842
Name: Dest, dtype: int64

About 5000 flights were made to these airports, and about 5000 more departed from these airports. Since there are only 8 airports, I will manually conduct a web search for the locations of each of the airports, and add the values to two lists: one list for the cities, and another list for the states.

In [162]:
missing_cities = ["Carlsbad", "Hilton Head Island", "Minot", "Negaunee Township", "Box Elder", "Grand Forks", "Benner Township", "Spokane"]
missing_states = ["CA", "SC", "ND", "MI", "SD", "ND", "PA", "WA"]

In [163]:
# Replacing missing cities
airports_clean.loc[airports_clean[airports_clean["city"].isnull()].index, "city"] = missing_cities

In [164]:
airports_clean[airports_clean["state"].isnull()]

,iata,airport,city,state,country,lat,long
1136,CLD,MC Clellan-Palomar Airport,Carlsbad,NaN,USA,33.127231,-117.278727
1715,HHH,Hilton Head,Hilton Head Island,NaN,USA,32.224384,-80.697629
2251,MIB,Minot AFB,Minot,NaN,USA,48.415769,-101.358039
2312,MQT,Marquette County Airport,Negaunee Township,NaN,USA,46.353639,-87.395361
2752,RCA,Ellsworth AFB,Box Elder,NaN,USA,44.145094,-103.103567
2759,RDR,Grand Forks AFB,Grand Forks,NaN,USA,47.961167,-97.401167
2898,SCE,University Park,Benner Township,NaN,USA,40.851206,-77.846302
2962,SKA,Fairchild AFB,Spokane,NaN,USA,47.615058,-117.655803

In [165]:
# Replacing missing states
airports_clean.loc[airports_clean[airports_clean["state"].isnull()].index, "state"] = missing_states

##### **Test**

In [166]:
airports_clean.loc[airports_nulls_mask]

,iata,airport,city,state,country,lat,long
1136,CLD,MC Clellan-Palomar Airport,Carlsbad,CA,USA,33.127231,-117.278727
1715,HHH,Hilton Head,Hilton Head Island,SC,USA,32.224384,-80.697629
2251,MIB,Minot AFB,Minot,ND,USA,48.415769,-101.358039
2312,MQT,Marquette County Airport,Negaunee Township,MI,USA,46.353639,-87.395361
2752,RCA,Ellsworth AFB,Box Elder,SD,USA,44.145094,-103.103567
2759,RDR,Grand Forks AFB,Grand Forks,ND,USA,47.961167,-97.401167
2898,SCE,University Park,Benner Township,PA,USA,40.851206,-77.846302
2962,SKA,Fairchild AFB,Spokane,WA,USA,47.615058,-117.655803

In [167]:
airports_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3372 entries, 0 to 3371
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   iata     3372 non-null   object
 1   airport  3372 non-null   object
 2   city     3372 non-null   object
 3   state    3372 non-null   object
 4   country  3372 non-null   object
 5   lat      3372 non-null   float64
 6   long     3372 non-null   float64
dtypes: float64(2), object(5)
memory usage: 184.5+ KB

This is satisfactory. I move on to the next issue.

#### **Issue**: Some of the airports are duplicated in the `airports` dataframe.

##### **Define**
- Identify where airports are possibly duplicated.
- Determine whether or not they are actual duplicates.

##### **Code**

The duplicated airports in the dataframe cannot be identified by calling the `duplicated` function directly on the dataframe. This is because where duplicates exist, they have different IATA codes, as all values i the `iata` column are unique. Duplicates also have possibly different airport names, and slightly different values for the latitude and longitude. In the example below, the first entry even had null values for city and state before being addressed in the previous section.

In [168]:
airports_clean[airports_clean["iata"].isin(["CLD", "CRQ"])]

,iata,airport,city,state,country,lat,long
1136,CLD,MC Clellan-Palomar Airport,Carlsbad,CA,USA,33.127231,-117.278727
1183,CRQ,McClellan-Palomar,Carlsbad,CA,USA,33.128222,-117.280222

I will check for duplicates by rounding the latitude and longitude to 1 decimal place, and checking for duplicates using this pair of columns. This s not foolproof, as different airports located close enough to each other to round off to the same values will show up as duplicates. Hopefully, there are few enough to inspect the entries visually.

In [169]:
# Using "keep = False" to show all copies of duplicated entries
airports_clean[["lat", "long"]].round(1).duplicated(keep = False).sum()

53

There are up to 26 possilbe duplicates in the dataframe. I will view the entries, grouping them by location (the rounded latitude value) for ease of inspection.

In [170]:
airports_dupe_mask = airports_clean[["lat", "long"]].round(1).duplicated(keep = False)
airports_clean[airports_dupe_mask].groupby(airports["lat"].round(1)).apply(display)

     iata airport   city state country        lat       long
2883  SAW  Sawyer  Gwinn    MI     USA  46.353611 -87.395832

     iata      airport                city state country        lat       long
1715  HHH  Hilton Head  Hilton Head Island    SC     USA  32.224384 -80.697629
1790  HXD  Hilton Head  Hilton Head Island    SC     USA  32.224361 -80.697472

,iata,airport,city,state,country,lat,long
1136,CLD,MC Clellan-Palomar Airport,Carlsbad,CA,USA,33.127231,-117.278727
1183,CRQ,McClellan-Palomar,Carlsbad,CA,USA,33.128222,-117.280222

,iata,airport,city,state,country,lat,long
148,1F0,Downtown Ardmore,Ardmore,OK,USA,34.146989,-97.122652
149,1F1,Lake Murray State Park,Overbrook,OK,USA,34.075097,-97.106679

     iata              airport        city state country        lat       long
1625  GMU  Greenville Downtown  Greenville    SC     USA  34.847944 -82.350000
1666  GYH     Donaldson Center  Greenville    SC     USA  34.758319 -82.376415

,iata,airport,city,state,country,lat,long
165,1K4,David J. Perry,Goldsby,OK,USA,35.155068,-97.470394
2549,OUN,University of Oklahoma Westheimer,Norman,OK,USA,35.245564,-97.472129

     iata  airport        city state country     lat       long
2096  LOU  Bowman   Louisville    KY     USA  38.228 -85.663722

,iata,airport,city,state,country,lat,long
33,09W,South Capitol Street,Washington,DC,USA,38.868723,-77.007476
1253,DCA,Ronald Reagan Washington National,Arlington,VA,USA,38.852083,-77.037722

     iata        airport           city state country        lat        long
3268  W33  Friday Harbor  Friday Harbor    WA     USA  48.537322 -123.009624

     iata        airport        city state country        lat        long
2362  MYV    Yuba County  Marysville    CA     USA  39.097773 -121.569825
2447  O52  Sutter County   Yuba City    CA     USA  39.126559 -121.609133

     iata           airport         city state country        lat       long
2373  N14          Flying W   Lumbrerton    NJ     USA  39.934278 -74.807250
3225  VAY  South Jersey Reg  Mount Holly    NJ     USA  39.942891 -74.845719

     iata            airport        city state country        lat       long
2383  N40         Sky Manor    Pittstown    NJ     USA  40.566269 -74.978641
2385  N51  Solberg-Hunterdon  Readington    NJ     USA  40.582863 -74.736562
2397  N85        Alexandria    Pittstown    NJ     USA  40.587574 -75.019421

,iata,airport,city,state,country,lat,long
589,6N5,E 34th St Heliport,New York,NY,USA,40.742602,-73.972083
590,6N7,New York Skyports Inc. SPB,New York,NY,USA,40.733991,-73.972916
1930,JRB,Downtown Manhattan/Wall St. Heliport,New York,NY,USA,40.701214,-74.009028

,iata,airport,city,state,country,lat,long
214,23N,Bayport Aerodrome,Bayport,NY,USA,40.758431,-73.053721
1886,ISP,Long Island - MacArthur,Islip,NY,USA,40.795243,-73.100212

     iata         airport          city state country        lat        long
1086  CDW  Essex Cty Arpt      Caldwell    NJ     USA  40.875223  -74.281357
2369  N07    Lincoln Park  Lincoln Park    NJ     USA  40.947524  -74.314501
3298  WRG        Wrangell      Wrangell    AK     USA  56.484326 -132.369824

,iata,airport,city,state,country,lat,long
42,0B8,Elizabeth,Fishers Island,NY,USA,41.251308,-72.031611
1633,GON,Groton-New London,Groton,CT,USA,41.330058,-72.045136

,iata,airport,city,state,country,lat,long
16,06C,Schaumburg,Chicago/Schaumburg,IL,USA,41.989341,-88.101243
98,11IS,Schaumburg Heliport,Chicago/Schaumburg,IL,USA,42.048083,-88.052572

     iata               airport     city state country        lat       long
720   9G0      Buffalo Airfield  Buffalo    NY     USA  42.862003 -78.716585
1016  BUF  Buffalo Niagara Intl  Buffalo    NY     USA  42.940525 -78.732167

,iata,airport,city,state,country,lat,long
2914,SDF,Louisville International-Standiford,Louisville,KY,USA,38.174389,-85.736

     iata    airport        city state country        lat       long
2980  SMQ  Somerset   Somerville    NJ     USA  40.625991 -74.670243

,iata,airport,city,state,country,lat,long
2312,MQT,Marquette County Airport,Negaunee Township,MI,USA,46.353639,-87.395361

     iata        airport           city state country        lat        long
1511  FHR  Friday Harbor  Friday Harbor    WA     USA  48.521972 -123.024361

,iata,airport,city,state,country,lat,long
685,8K9,Murphys Pullout SPB,Ketchikan,AK,USA,55.389650,-131.738074
1997,KTN,Ketchikan International,Ketchikan,AK,USA,55.355569,-131.713740

    iata      airport     city state country        lat        long
823  AKW      Klawock  Klawock    AK     USA  55.579233 -133.075997
856  AQC  Klawock SPB  Klawock    AK     USA  55.554657 -133.101693

     iata         airport          city state country        lat        long
560   68A    Wrangell SPB      Wrangell    AK     USA  56.466325 -132.380018
3301  WSN  South Naknek 2  South Naknek    AK     USA  58.703436 -157.008251

     iata   airport  city state country        lat        long
785   AFE      Kake  Kake    AK     USA  56.960481 -133.908269
1974  KAE  Kake SPB  Kake    AK     USA  56.972996 -133.945615

    iata airport    city state country        lat       long
525  5NK  Naknek  Naknek    AK     USA  58.732881 -157.01992

,iata,airport,city,state,country,lat,long
839,ANC,Ted Stevens Anchorage International,Anchorage,AK,USA,61.174320,-149.996186
2066,LHD,Lake Hood SPB,Anchorage,AK,USA,61.180004,-149.971932

     iata     airport        city state country        lat        long
1254  DCK  Dahl Creek  Dahl Creek    AK     USA  66.943338 -156.904674
2467  OBU       Kobuk       Kobuk    AK     USA  66.909171 -156.861057

Empty DataFrame
Columns: []
Index: []

I performed a web search for the airports that are possible duplicates. Many of the above were not the same airport, just located close to each other. Alaska, specifically, had several cities where both an airport and a Seaplane Base (SBP) are located, and share a similar name. However, they are separate. Therefore, the conclusion is that no cleaning is necessary for these rows.

I will now move on to the issue in the `carriers` dataframe.

#### **Issue**: There is a missing value in 1 row in the `carriers` dataframe, in the `Code` column.

##### **Define**
- Identify row with missing value.
- If value can be replaced, retain entry. Otherwise, drop entry.

##### **Code**

In [171]:
# Identify row with missing entry
carriers_clean[carriers_clean["Code"].isnull()]

    Code              Description
873  NaN  North American Airlines

A web search revealed that the code for this airline is NA. Searching the original value in the CSV file shows that it is recorded correctly. However, values that are the string NA are read in as null values in Pandas. I will correct the value now.

In [172]:
carriers_clean.loc[carriers_clean["Code"].isnull(), "Code"] = "NA"

##### **Test**

In [173]:
carriers_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1491 entries, 0 to 1490
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Code         1491 non-null   object
 1   Description  1491 non-null   object
dtypes: object(2)
memory usage: 23.4+ KB

I will now move on to the issues in the `planes` dataframe.

#### **Issue**: There are missing values in all columns of the `planes` dataframe, except the first one.

##### **Define**
- Identify rows where values are missing.
- Drop identified rows.
- Reset index.

##### **Code**

In [174]:
planes_clean.isnull().value_counts()

tailnum  type   manufacturer  issue_date  model  status  aircraft_type  engine_type  year
False    False  False         False       False  False   False          False        False    4480
         True   True          True        True   True    True           True         True      549
dtype: int64

Null values for all columns are in the same rows. So I will drop all rows.

In [175]:
planes_clean.dropna(axis = 0, inplace = True)

In [176]:
planes_clean.reset_index(drop = True, inplace = True)

##### **Test**

In [177]:
planes_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4480 entries, 0 to 4479
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tailnum        4480 non-null   object
 1   type           4480 non-null   object
 2   manufacturer   4480 non-null   object
 3   issue_date     4480 non-null   object
 4   model          4480 non-null   object
 5   status         4480 non-null   object
 6   aircraft_type  4480 non-null   object
 7   engine_type    4480 non-null   object
 8   year           4480 non-null   object
dtypes: object(9)
memory usage: 315.1+ KB

This is satisfactory. I move on to the next issue.

#### **Issue**: The `issue_date` and `year` columns in the `planes` dataframe have the *string* data type, which is incorrect.

##### **Define**
- Identify rows where values are the string "None" and cannot be converted to timestamp or integer.
- Replace "None" values with pandas null values.
- Drop rows with null values form the dataframe.
- Reset dataframe index.
- Convert columns to timestamps for the dates, and integers for the year.

##### **Code**

In [178]:
planes_clean.head()

,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,year
0,N10156,Corporation,EMBRAER,02/13/2004,EMB-145XR,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2004
1,N102UW,Corporation,AIRBUS INDUSTRIE,05/26/1999,A320-214,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1998
2,N10323,Corporation,BOEING,07/01/1997,737-3TO,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1986
3,N103US,Corporation,AIRBUS INDUSTRIE,06/18/1999,A320-214,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1999
4,N104UA,Corporation,BOEING,01/26/1998,747-422,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1998

In [179]:
planes_clean = planes_clean.replace("None", pd.NA)
planes_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4480 entries, 0 to 4479
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tailnum        4480 non-null   object
 1   type           4480 non-null   object
 2   manufacturer   4480 non-null   object
 3   issue_date     4479 non-null   object
 4   model          4480 non-null   object
 5   status         4480 non-null   object
 6   aircraft_type  4480 non-null   object
 7   engine_type    4477 non-null   object
 8   year           4335 non-null   object
dtypes: object(9)
memory usage: 315.1+ KB

In [180]:
planes_clean.dropna(axis = 0, inplace = True)

In [181]:
planes_clean.reset_index(drop = True, inplace = True)

In [182]:
planes_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4332 entries, 0 to 4331
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tailnum        4332 non-null   object
 1   type           4332 non-null   object
 2   manufacturer   4332 non-null   object
 3   issue_date     4332 non-null   object
 4   model          4332 non-null   object
 5   status         4332 non-null   object
 6   aircraft_type  4332 non-null   object
 7   engine_type    4332 non-null   object
 8   year           4332 non-null   object
dtypes: object(9)
memory usage: 304.7+ KB

In [183]:
planes_clean["issue_date"] = pd.to_datetime(planes_clean["issue_date"])

In [184]:
planes_clean["year"] = planes_clean["year"].astype(int)

##### **Test**

In [185]:
planes_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4332 entries, 0 to 4331
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   tailnum        4332 non-null   object
 1   type           4332 non-null   object
 2   manufacturer   4332 non-null   object
 3   issue_date     4332 non-null   datetime64[ns]
 4   model          4332 non-null   object
 5   status         4332 non-null   object
 6   aircraft_type  4332 non-null   object
 7   engine_type    4332 non-null   object
 8   year           4332 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 304.7+ KB

In [186]:
planes_clean.head()

,tailnum,type,manufacturer,issue_date,model,status,aircraft_type,engine_type,year
0,N10156,Corporation,EMBRAER,2004-02-13,EMB-145XR,Valid,Fixed Wing Multi-Engine,Turbo-Fan,2004
1,N102UW,Corporation,AIRBUS INDUSTRIE,1999-05-26,A320-214,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1998
2,N10323,Corporation,BOEING,1997-07-01,737-3TO,Valid,Fixed Wing Multi-Engine,Turbo-Jet,1986
3,N103US,Corporation,AIRBUS INDUSTRIE,1999-06-18,A320-214,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1999
4,N104UA,Corporation,BOEING,1998-01-26,747-422,Valid,Fixed Wing Multi-Engine,Turbo-Fan,1998

All issues for all dataframes have been addressed.

### Feature Engineering
I will now compute two new variables that I will use in the `flights` dataframe. I will adopt the Define-Code-Test framework since it is effective, except instead of applying it to an issue, I will be applying it to a feature/variable.

#### **Feature**: Overall Delay

##### **Define**
- Compute column by subtracting actual elapsed time from scheduled elapsed time.

##### **Code**

In [187]:
successful_clean_mask = flights_clean["ActualArrTime"].notnull()
flights_clean["OverallDelay"] = flights_clean[successful_clean_mask]["ActualElapsedTime"] - flights_clean[successful_clean_mask]["CRSElapsedTime"]

##### **Test**

In [188]:
flights_clean[["ActualDepTime", "SchedDepTime", "ActualArrTime", "SchedArrTime", \
               "ActualElapsedTime", "CRSElapsedTime", "OverallDelay"]].sample(10)

,ActualDepTime,SchedDepTime,ActualArrTime,SchedArrTime,ActualElapsedTime,CRSElapsedTime,OverallDelay
671254,2006-02-22 08:50:00,2006-02-22 08:50:00,2006-02-22 09:48:00,2006-02-22 09:50:00,58.0,60.0,-2.0
2106895,2006-04-09 15:27:00,2006-04-09 15:29:00,2006-04-09 16:27:00,2006-04-09 16:35:00,60.0,66.0,-6.0
4825804,2006-09-27 14:58:00,2006-09-27 15:00:00,2006-09-27 16:01:00,2006-09-27 16:10:00,63.0,70.0,-7.0
6311291,2006-11-21 08:55:00,2006-11-21 09:00:00,2006-11-21 09:50:00,2006-11-21 10:10:00,55.0,70.0,-15.0
6823667,2006-12-14 17:15:00,2006-12-14 14:45:00,NaT,2006-12-14 18:20:00,NaN,155.0,NaN
1149232,2006-03-02 12:20:00,2006-03-02 12:05:00,2006-03-02 15:05:00,2006-03-02 15:10:00,165.0,185.0,-20.0
494130,2006-01-10 10:27:00,2006-01-10 10:34:00,2006-01-10 11:16:00,2006-01-10 11:27:00,49.0,53.0,-4.0
1185462,2006-03-14 19:00:00,2006-03-14 18:45:00,2006-03-14 20:14:00,2006-03-14 19:50:00,74.0,65.0,9.0
1379956,2006-03-23 10:08:00,2006-03-23 10:05:00,2006-03-23 16:00:00,2006-03-23 15:51:00,232.0,226.0,6.0
2217053,2006-04-11 15:24:00,2006-04-11 15:26:00,2006-04-11 17:59:00,2006-04-11 17:58:00,155.0,152.0,3.0

This is satisfactory. I will now create my second variable.

#### **Issue**: The values in the `FlightNum` column do not each refer to a unique route.
I had initially thought, at the beginning of data assessment, that the flight number was unique to specific routes. This does not seem to be the case. I will create a new variable which will represent unique origin-destination pairs in the dataframe, as I will want to analyse flight routes.

##### **Define**
- Show how `FlightNum` is not unique to a route.
- Create new `FlightRoute` variable, which is a concatenation of the origin airport and destination airport.

##### **Code**

I start by exploring the number of unique flight numbers in the dataframe.

In [189]:
flights_clean["FlightNum"].nunique()

7464

I will now look at the most frequently appearing flight numbers.

In [190]:
flights_clean[["FlightNum"]].value_counts().head(5)

FlightNum
357          5093
490          5077
372          5003
64           4914
476          4768
dtype: int64

I will now look at the number of carrier and origin and destination airport combinations that the most common flight number represented in the year 2006.

In [191]:
flights_clean[flights_clean["FlightNum"] == 357][["UniqueCarrier", "Origin", "Dest"]].value_counts()

UniqueCarrier  Origin  Dest
CO             IAH     RNO     365
AS             OAK     SEA     365
WN             ABQ     STL     363
               STL     BWI     361
B6             JFK     BUR     361
F9             DEN     TPA     348
WN             LAS     ABQ     328
               OAK     LAS     327
FL             LGA     ATL     320
AA             LGA     ORD     305
NW             MSP     SFO     264
UA             ORD     DFW     188
DL             SLC     DFW     150
AS             SEA     GEG     119
US             CLT     CHS     105
               RDU     CLT      90
NW             MKE     MSP      89
UA             DEN     SJC      89
DL             DEN     SLC      63
UA             DEN     SEA      55
               RSW     ORD      53
US             PDX     PHX      51
UA             PHL     ORD      44
WN             BWI     MHT      35
               LAX     ABQ      35
               OAK     LAX      35
UA             BWI     ORD      34
               MCI     DEN      32
US             PHL     ORD      30
               PVD     PHL      18
UA             DFW     LAX      18
DL             LAS     SLC      17
US             SNA     PHX      14
               SMF     PHX       9
               SLC     PHX       8
               DEN     PHX       5
dtype: int64

The flight number has been used by many different carriers. And in several instances, it has been used by the same carrier for more than one route.

This second point is sometimes the case even for a flight number that is used by only one carrier, like the below example.

In [192]:
flights_clean[flights_clean["FlightNum"] == 5986].assign(SchedDepTime = flights_clean["SchedDepTime"].dt.time, \
                                                         SchedArrTime = flights_clean["SchedArrTime"].dt.time)[["SchedDepTime", \
                                                         "SchedArrTime", "UniqueCarrier", "Origin", "Dest"]].value_counts()

SchedDepTime  SchedArrTime  UniqueCarrier  Origin  Dest
16:55:00      18:31:00      OO             SAV     ORD     30
08:51:00      10:12:00      OO             LAX     PHX      5
10:40:00      12:07:00      OO             PHX     LAX      5
dtype: int64

This flight number was used for a total of 40 flights by the same carrier, for 3 different flight routes.

I would like to assess flight delays for distinct flight route. Therefore, I am going to create a new variable that will be a unique identifier for each flight route, and the flight route will be directional, meaning departing from airport A to airport B is not the same route as departing from airport B and landing at airport A. The route will also be independent of carriers, so it will be the same route regardless of which carrier is flying it. This identifier will be a concatenation of the origin and destination airport, with a hyphen between them.

In [193]:
flights_clean["FlightRoute"] = flights_clean["Origin"] + "-" + flights_clean["Dest"]

##### **Test**

In [194]:
flights_clean[["Origin", "Dest", "FlightRoute"]].sample(10)

        Origin Dest FlightRoute
4542829    LGA  DTW     LGA-DTW
5770209    MSP  BNA     MSP-BNA
3392558    TPA  MIA     TPA-MIA
760710     MCI  SLC     MCI-SLC
5917736    SLC  CVG     SLC-CVG
1362644    IAD  LAX     IAD-LAX
2059391    ATL  MDW     ATL-MDW
4049155    JFK  FLL     JFK-FLL
5420860    RDU  PHL     RDU-PHL
744417     IDA  SLC     IDA-SLC

In [195]:
flights_clean["FlightRoute"].nunique()

4896

### Data Storage

In [196]:
flights_clean.to_csv("flights_master.csv", index = False)
airports_clean.to_csv("airports_master.csv", index = False)
carriers_clean.to_csv("carriers_master.csv", index = False)
planes_clean.to_csv("planes_master.csv", index = False)

Note to reviewer: I will be continuing the rest of Part I in a different notebook. The filename of that notebook indicates that it is the second half to this one.